// h1{font-size: unset; margin-top: unset; margin-bottom: unset; margin-left: unset; margin-right: unset;}
// h2{font-size: unset; margin-top: unset; margin-bottom: unset; margin-left: unset; margin-right: unset;}
// h3{font-size: unset; margin-top: unset; margin-bottom: unset; margin-left: unset; margin-right: unset;}
// h4{font-size: unset; margin-top: unset; margin-bottom: unset; margin-left: unset; margin-right: unset;}
// h5{font-size: unset; margin-top: unset; margin-bottom: unset; margin-left: unset; margin-right: unset;}
// h6{font-size: unset; margin-top: unset; margin-bottom: unset; margin-left: unset; margin-right: unset;}


// h1, h2, h3, h4, h5, h6{

// font-family:   $headline-font-family;
// color:         $headline-color;        
// font-weight:   $headline-font-weight; 
// // margin-bottom: %headline-margin-bottom;
// }

// p{
// // font-size:     $body-3-font-size;
// font-family:   $body-font-family;
// color:         $body-color;        
// font-weight:   $body-font-weight; 
// // margin-bottom: $body-margin-bottom;
// }



// .title{
// // @include ms-respond(font-size,4.5);
// font-family:   $headline-font-family;
// color:         $headline-color;        
// font-weight:   700;
// // margin-bottom: $rvr-10 !important; 
// }

// %headline{
// // @include ms-respond(font-size, 3.5);
// font-family:   $headline-font-family;
// color:         $headline-color;        
// font-weight:   $headline-font-weight; 
// // margin-bottom: %headline-margin-bottom;

// }

// %subhead{
// // @include ms-respond(font-size, 3);
// font-family:   $headline-font-family;
// color:         $headline-color;        
// font-weight:   400; 
// // margin-bottom: %headline-margin-bottom;

// }

// %sublist{
// // @include ms-respond(font-size, 3);
// font-family:   $display-font-family;
// color:         $display-color;        
// font-weight:   $display-font-weight; 
// // margin-bottom: $display-margin-bottom;

// }

// %display-text{
// // @include ms-respond(font-size, 2.5);
// font-family:   $display-font-family;
// color:         $display-color;        
// font-weight:   $display-font-weight; 
// // margin-bottom: $display-margin-bottom;

// }

// %body-text{
// // @include ms-respond(font-size, 2.25);
// font-family:   $body-font-family;
// color:         $body-color;        
// font-weight:   $body-font-weight; 
// // margin-bottom: $body-margin-bottom;

// }

// .lead {
//     font-weight: $lead-font-weight;
// }


// %para{
//     font-family: $font-family-serif;
// }

// .page__title{
//     // font-size: $h3-font-size;
//     font-family: $font-family-serif;
//     font-style: italic;
// }
// .caption{}


// .link      		  {
//     font-family: $font-family-sans-serif;
//     color: $link-color;
// }



