



















		--baseline: 1.1;
		--baseline: 1.1;
		--baseline: 1.1;
		--baseline: 1.1;
		--baseline: 1.5;
		--baseline: 1.5;
	:root{
	:root{
	:root{
	:root{
	:root{
	:root{
	}
	}
	}
	}
	}
	}
    	line-height: 1.4;
     	line-height: calc(var(--baseline) * 1rem);
          // Line-height fallback 
    --baseline: 1;
  @return calc(var(--baseline) * $multiple * 1rem);
$rvr-0:                                1;
$rvr-10:     calc(var(--baseline) * 10rem);
$rvr-11:     calc(var(--baseline) * 11rem);
$rvr-12:     calc(var(--baseline) * 12rem);
$rvr-13:     calc(var(--baseline) * 13rem);
$rvr-14:     calc(var(--baseline) * 14rem);
$rvr-15:     calc(var(--baseline) * 15rem);
$rvr-16:     calc(var(--baseline) * 16rem);
$rvr-17:     calc(var(--baseline) * 17rem);
$rvr-18:     calc(var(--baseline) * 18rem);
$rvr-19:     calc(var(--baseline) * 19rem);
$rvr-1:      calc(var(--baseline) * 1rem);
$rvr-1_25:   calc(var(--baseline) * 1.25rem);
$rvr-1_5:    calc(var(--baseline) * 1.5rem);
$rvr-1_75:   calc(var(--baseline) * 1.75rem);
$rvr-20:     calc(var(--baseline) * 20rem);
$rvr-21:     calc(var(--baseline) * 21rem);
$rvr-22:     calc(var(--baseline) * 22rem);
$rvr-2:      calc(var(--baseline) * 2rem);
$rvr-2_25:    calc(var(--baseline) * 2.25rem);
$rvr-2_5:    calc(var(--baseline) * 2.5rem);
$rvr-2_75:    calc(var(--baseline) * 2.75rem);
$rvr-3:      calc(var(--baseline) * 3rem);
$rvr-3_25:    calc(var(--baseline) * 3.25rem);
$rvr-3_5:    calc(var(--baseline) *  3.5rem);
$rvr-3_75:    calc(var(--baseline) * 3.75rem);
$rvr-4:      calc(var(--baseline) * 4rem);
$rvr-4_25:      calc(var(--baseline) * 4.25rem);
$rvr-4_5:      calc(var(--baseline) * 4.5rem);
$rvr-4_75:      calc(var(--baseline) * 4.75rem);
$rvr-5:      calc(var(--baseline) * 5rem);
$rvr-6:      calc(var(--baseline) * 6rem);
$rvr-7:      calc(var(--baseline) * 7rem);
$rvr-8:      calc(var(--baseline) * 8rem);
$rvr-9:      calc(var(--baseline) * 9rem);
$rvr-_05:    calc(var(--baseline) * .05rem);
$rvr-_15:    calc(var(--baseline) * 0.15rem);
$rvr-_25:    calc(var(--baseline) * 0.25rem);
$rvr-_5:     calc(var(--baseline) * 0.5rem);
$rvr-_6:     calc(var(--baseline) * 0.6rem);
$rvr-_75:    calc(var(--baseline) * 0.75rem);
// ==========================================================================
// ==========================================================================
// Vertical Rythmn Controls
///==========================================================================
///==========================================================================
///Vertical Rythmn Variables
//1200px
//1600px
//320px
//576px
//678px
//992px
:root {
@function dave($multiple) {
@media (min-width: 100em){
@media (min-width: 20em){
@media (min-width: 36em){
@media (min-width: 48em){
@media (min-width: 62em){
@media (min-width: 75em){
h1 {margin-top: dave(8) !important;}
}
}
}
}
}
}
}
}