

//
// TODO
//
// => remove bootstrap classes from home-splash
//
// => fix rvr units
// => transform sidenav spacing from modularscale to vertical rhythm
// => find/replace cover-container to container-fluid (home and modus panels)
#wrapper-navbar{
    position: fixed;
    width: 100%;
    z-index: 500;
}



.tempcontainer .row {
    width: 100%;
}

.tempcontainer a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    // margin-bottom: $rvr-3;
}

.tempcontainer {
    display: flex;
    flex-wrap: wrap;

    // justify-content: space-around;
    align-items: flex-start;
    align-content: flex-start;
    // margin-bottom: $rvr-1;

    @include make-col-ready;
    @include media-breakpoint-up(sm) {
        @include make-col(12);
    }


    @include media-breakpoint-up(md) {
        @include make-col(12);
    }
}

.temp-icon .style-svg {
    width: $ms-9;
    fill: #464646;
}

.tempsize {
    // @include v-1;
    @include make-col-ready;
    @include make-col(12);
}

.temp1 {
    font-size: $ms-0-1;
}

.temp2 {
    font-size: $ms-0-2;
}

.temp3 {
    font-size: $ms-0-3;
}

.temp4 {
    font-size: $ms-0-4;
}

.temp5 {
    font-size: $ms-0-5;
}

//
.temp6 {
    font-size: $ms-0-6;
}

//.639
.temp7 {
    font-size: $ms-0-7;
}

// .75
.temp8 {
    font-size: $ms-0-8;
}

//.78
.temp9 {
    font-size: $ms-0-9;
}

//.851
.temp10 {
    font-size: $ms-0;
}

// 1
.temp11 {
    font-size: $ms-_15;
}

.temp12 {
    font-size: $ms-_25;
}

.temp13 {
    font-size: $ms-_5;
}

.temp14 {
    font-size: $ms-_75;
}

.temp15 {
    font-size: $ms-1;
}

// ==========================================================================
// PANELS 
// ==========================================================================

// 
// webdev panel
// ==========================================================================
// #brands{
// // height: 100vh;
// }
#webdev {
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
}

// 
// expertise panel
// ==========================================================================
// #brands{
// // height: 100vh;
// }

.expt {
     display: flex;
     @include make-col-ready;
      @include make-col(12);
        @include media-breakpoint-up(xs) {
           position: relative;
       }
    @include media-breakpoint-up(lg) {
    height: 100vh;
}
}

// [OVERLAY]
#expt-overlay-1, #expt-overlay-2, #expt-overlay-3, #expt-overlay-4 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    // height: 120vh;
    background: rgba(0, 0, 0, 0.92);
    z-index: 999;

    // We hide the overlay by default */
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;
    overflow-y: scroll;

    .expt-copy, .expt-vert {
        color: $primary;
    }
}

#expt-overlay-1{
    height: 100vh;
        order: 2;
      @include media-breakpoint-up(lg) {
        order: 1;
     }
}
#expt-overlay-2{
    height: 100vh;
        order: 3;
      @include media-breakpoint-up(lg) {
        order: 2;
     }
}
#expt-overlay-3{
    height: 100vh;
        order: 4;
      @include media-breakpoint-up(lg) {
        order: 3;
     }
}
#expt-overlay-4{
    height: 125vh;
        order: 5;
      @include media-breakpoint-up(lg) {
        order: 4;
     }
}




// This CSS class will show the overlay */
#expt-overlay-1.show, #expt-overlay-2.show, #expt-overlay-3.show, #expt-overlay-4.show {
    visibility: visible;
    opacity: 1;
}

// [OVERLAY CLOSE BUTTON] */
#expt-close-1, #expt-close-2, #expt-close-3, #expt-close-4 {
    position: fixed;
    top: $ms-4;
    right: $ms-4;
    color: #fff;
    cursor: pointer;
    z-index: 1000;
    background: $primary;
    height: $ms-3;
    width: $ms-3;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.exptcontainer {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.expt-intro {
  
    display: flex;
    align-items: center;
             @include media-breakpoint-up(xs) {
        order: 1;
     }
      @include media-breakpoint-up(md) {
       height: 100vh;
   }
         @include media-breakpoint-up(lg) {
        order: 5;
     }
}

.exptcopy {
    @include body-4;
    // @include v-1;

    line-height: 1.2;
    max-width: $ms-11;
}

.exptsub {
    @include display-5;

    font-weight: 400;
    // margin: $rvr-1 0;
    padding-left: 0;
}

// .expt-content, .expt-menu-horz{
//  @include make-col-ready;
//     @include media-breakpoint-up(sm) {
//         @include make-col(12);
//     }
// }

.expt-split {}

// #expt-carousel-inner{
//     height: 100vh;
// }

.expt-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    overflow-y: scroll;
    text-align: center;

    // fix text transition issue for .left and .right but need to overwrite left and right properties in .right
    width: 100%;
    -moz-transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
    -webkit-transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
    transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
}

.expt-menu-box:hover .expt-overlay.left {
    left: 0;
}

.expt-overlay.left {
    left: 100%;
}

.expt-menu-horz {
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding: 0;
}

.expt-menu-horz li {
    margin: 0;
    bottom: unset;
    height: unset;
    list-style: none;
    text-indent: 0;
    // padding: $rvr-1_5 0;
    padding: 0;
}

.expt-menu-horz a {
    color: black;
}

.expt-menu-box {
    text-align: center;

    @include make-col-ready;
    @include media-breakpoint-up(sm) {
        @include make-col(12);
    }


    @include media-breakpoint-up(md) {
        @include make-col(6);

        padding: 0;
    }


    @include media-breakpoint-up(lg) {
        @include make-col(3);

        padding: 0;
    }
}



.expt-container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .expt-container {
        max-width: 525px;
    }
}

@media (min-width: 768px) {
    .expt-container {
        max-width: 800px;
    }
}

@media (min-width: 992px) {
    .expt-container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .expt-container {
        max-width: 1100px;
    }
}

@media (min-width: 1400px) {
    .expt-container {
        max-width: 1200px;
    }
}

@media (min-width: 1600px) {
    .expt-container {
        max-width: 1200px;
    }
}

.expt-row {
    display: flex;
    margin: 0 auto;
    min-height: 100vh;
    align-items: center;

    @include make-col-ready;
    @include media-breakpoint-up(xs) {
        @include make-col(12);
        @include media-breakpoint-up(sm) {
            @include make-col(12);
        }
    }
}

.expt-block {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    // margin-bottom: $rvr-1;

    @include make-col-ready;
    @include media-breakpoint-up(xs) {
        @include make-col(12);
    }
}


// ==========================================================================
// Marketing Sub Panel
// ==========================================================================

.marketing-sub-panel {
    .expt-row {
        display: flex;
        justify-content: space-around;
        align-items: stretch;
    }

    .expt-block {
        align-content: center;

        @include make-col-ready;
        @include media-breakpoint-up(sm) {
            @include make-col(12);
        }


        @include media-breakpoint-up(md) {
            @include make-col(12);
        }


        @include media-breakpoint-up(lg) {
            @include make-col(7);
        }


        @include media-breakpoint-up(xl) {
            @include make-col(7);
        }
    }

    .expt-box {
        @include make-col-ready;
        @include media-breakpoint-up(sm) {
            @include make-col(12);
        }


        @include media-breakpoint-up(md) {
            @include make-col(6);

            .expt-text {
                max-width: $ms-10_5;
            }
        }


        @include media-breakpoint-up(lg) {
            @include make-col(6);
        }


        @include media-breakpoint-up(xl) {
            @include make-col(6);
        }
    }

    .expt-vert {
        @include make-col-ready;
        @include media-breakpoint-up(xs) {
            @include make-col(12);
            @include v-4;
        }


        @include media-breakpoint-up(sm) {
        }


        @include media-breakpoint-up(md) {
        }


        @include media-breakpoint-up(lg) {
            @include make-col(4);
        }


        @include media-breakpoint-up(xl) {
            @include make-col(4);
        }
    }
}
// ==========================================================================
// SMM Strategic Marketing Managmenet Sub Panel
// ==========================================================================
.smm-sub-panel {
    .expt-row {
        display: flex;
        justify-content: space-around;
        align-items: stretch;
    }

    .expt-block {
        @include make-col-ready;
        @include media-breakpoint-up(sm) {
            @include make-col(12);
        }


        @include media-breakpoint-up(md) {
            @include make-col(8);

            .expt-text {
                max-width: $ms-10;
            }
        }


        @include media-breakpoint-up(lg) {
            @include make-col(7);
        }


        @include media-breakpoint-up(xl) {
            @include make-col(7);
        }
    }

    .expt-box {
        @include make-col-ready;
        @include media-breakpoint-up(sm) {
            @include make-col(12);
        }


        @include media-breakpoint-up(md) {
            @include make-col(6);

            .expt-text {
                max-width: $ms-10_5;
            }
        }


        @include media-breakpoint-up(lg) {
            @include make-col(6);
        }


        @include media-breakpoint-up(xl) {
            @include make-col(6);
        }
    }

    .expt-vert {
        @include make-col-ready;
        @include media-breakpoint-up(sm) {
            @include make-col(12);
            @include v-3;
        }


        @include media-breakpoint-up(md) {
            @include make-col(4);
        }


        @include media-breakpoint-up(lg) {
            @include make-col(4);
        }


        @include media-breakpoint-up(xl) {
            @include make-col(4);
        }
    }
}


// ==========================================================================
// Marketing Communications Sub Panel
// ==========================================================================

.marcom-sub-panel {
    .expt-row {
        display: flex;
        justify-content: space-around;
        align-items: stretch;
    }

    .expt-block {
        align-content: center;

        @include make-col-ready;
        @include media-breakpoint-up(sm) {
            @include make-col(12);
        }


        @include media-breakpoint-up(md) {
            @include make-col(7);

            .expt-text {
                max-width: $ms-10;
            }
        }


        @include media-breakpoint-up(lg) {
            @include make-col(7);
        }


        @include media-breakpoint-up(xl) {
            @include make-col(7);
        }
    }

    .expt-box {
        @include make-col-ready;
        @include media-breakpoint-up(sm) {
            @include make-col(12);
        }


        @include media-breakpoint-up(md) {
            @include make-col(6);

            .expt-text {
                max-width: $ms-10_5;
            }
        }


        @include media-breakpoint-up(lg) {
            @include make-col(6);
        }


        @include media-breakpoint-up(xl) {
            @include make-col(6);
        }
    }

    .expt-vert {
        @include make-col-ready;
        @include media-breakpoint-up(sm) {
            @include make-col(12);
            @include v-3;
        }


        @include media-breakpoint-up(md) {
            @include make-col(4);
        }


        @include media-breakpoint-up(lg) {
            @include make-col(4);
        }


        @include media-breakpoint-up(xl) {
            @include make-col(4);
        }
    }
}

// ==========================================================================
// WebDev Sub Panel
// ==========================================================================

.webdev-sub-panel {
    .style-svg {
            fill: $primary;
            @include media-breakpoint-up(xs){
            width: $ms-6;
            }
             @include media-breakpoint-up(sm){
 width: $ms-7;
             }
        }
    .expt-row {
        h6 {
            color: $primary;
            margin-bottom: 0;
            padding: $ms-0-2 0;
            font-weight: 400;
            letter-spacing: $ms-0-1;
        }

        hr {
            border: thin solid $primary;
            width: 90%;
        }

        

        @include make-col-ready;
          @include media-breakpoint-up(xs) {
                justify-content: space-around;
            align-items: stretch;
            display: flex;
        }
        @include media-breakpoint-up(lg) {

            height: 315vh;
        
       

            // align-items: center;
        }
    }


        .row {
            // margin-bottom: $rvr-2;
            flex-wrap: wrap;
        }

        .webdev-row-head {
            // background: $primary;
            // border-radius: 1em;
            width: $ms-8;
            height: 100%;
            padding-bottom: $ms-0-1;
            // margin-bottom: $rvr-1;
            text-align: center;
        }

        .expt-vert {
            @include make-col-ready;
            @include media-breakpoint-up(lg) {
                @include make-col(4);
                height: 315vh;
            }
        }

        .expt-block {
            @include make-col-ready;
            @include media-breakpoint-up(sm) {
                @include make-col(12);
            }


            @include media-breakpoint-up(md) {
                @include make-col(6);

                float: right;
            }
             @include media-breakpoint-up(lg) {
                @include make-col(6);

                height: 325vh;
                // margin-top: $rvr-3;
                justify-content: center;
                flex-wrap: wrap;
            }
        }

.expt-block .row {
            display: flex;
            justify-content: center;
            @include make-col-ready;
            @include media-breakpoint-up(lg) {
                max-width: 90%;
            }
        }
        .expt-box {
            @include make-col-ready;
            @include media-breakpoint-up(sm) {
                @include make-col(12);
            }


            @include media-breakpoint-up(md) {
                @include make-col(4);

                .expt-text {
                    max-width: $ms-10_5;
                }
            }
        }

        
    }


// ==========================================================================
// Post Sass Global ExPT Sytles
// ==========================================================================



    .expt-menu {}

    //     position: relative;
    //     display: inline-flex;
    //     flex-direction: row;
    //     justify-content: space-between;
    //     align-items: stretch;
    //     margin: 0;
    //     bottom: unset;
    //     height: unset;
    // }

    .expt-menu {
        text-indent: 0px;
        padding-left: 0px;
        display: flex;
        flex-direction: column;
    }

    .expt-controls li {
        padding: 0;
        list-style: none;
        padding-left: 0;
        color: $primary;
        line-height: 1.2;
        height: unset;
        padding: ms(1) ms(1) ms(1) 0;
    }

    .exptnav-vert li {}

    .exptcontent {}


    .expt-summary {
        width: 100%;
    }

    .expt-sum-copy {
        padding: 0;

        @include make-col-ready;
        @include media-breakpoint-up(xs) {
            @include make-col(12);
            // padding: 0 0 $rvr-1 0;
        }


        @include media-breakpoint-up(sm) {}


        @include media-breakpoint-up(md) {}


        @include media-breakpoint-up(lg) {
            @include display-5;

            max-width: $ms-13;

            // @include v-1;
        }
    }

   .expt-vert {
        // display: flex;
        // align-items: center;
        @include make-col-ready;
        @include media-breakpoint-up(xs) {
            @include make-col(12);
                @include v-5;

            }
        @include media-breakpoint-up(md){
            @include make-col(6);
        }

        @include media-breakpoint-up(lg) {
            height: 100vh;
        }
    }

    .expt-vert-box {
        @include make-col-ready;
        @include media-breakpoint-up(xs){
            h3{
                // @include v-1;
            }
        }
        @include media-breakpoint-up(md) {
            @include make-col(12);
        }


        @include media-breakpoint-up(lg) {
            @include v-3;

            position: sticky;
            top: 40%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
        }
    }

    // .expt-skills::-webkit-scrollbar {
    //     display: none;
    // }

    .expt-head {
        @include make-col-ready;
        @include make-col(12);
        // @include v-2;

        padding-left: 0;

        // // @include v-2;
        // border-top: thin solid $primary;
        // padding-top: $rvr-3;
   
    }

    .expt-head h4 {
        letter-spacing: .05em;
        text-transform: uppercase;
    }

    .expt-box {
        // margin-bottom: $rvr-2;
       }

    .expt-row, .expt-row * {
        @include media-breakpoint-up(md){
        padding: 0 !important;
        padding-left: 0;
        padding-right: 0;
    }
    }



    .expt-icon {
        width: $ms-7;
        margin-left: -.8em;
        // margin-bottom: $rvr-_25;
    }

    .expt-icon .style-svg {
        fill: $primary;
        width: $ms-5;
    }

    .expt-copy {
        width: 100%;
    }

    .expt-copy h6 {
        // margin-bottom: $rvr-1;
        // margin-top: $rvr-_75;
    }

    .expt-text ul {
        list-style: none;
        padding: 0;
    }

    #exptcontainer h2 {
        // margin-bottom: $rvr-1;
    }

    .exptcontent {
        @include make-col-ready;
        @include media-breakpoint-up(sm) {
            @include make-col(12);
        }

        @include media-breakpoint-up(md) {
            @include make-col(4);
        }
    }

    //
    // home/cash panel
    // ==========================================================================
    #cash {
        height: 100vh;
    }

    #cashcontainer > div.pagetitle {
        // margin-bottom: $rvr-5;
        // margin-top: $rvr-2;
    }

    #cashcontainer {
        display: flex;
        margin: 0 auto;
        justify-content: center;
        align-items: left;
        height: 100vh;
        flex-direction: column;
    }

    .cashheadline {
        // margin-bottom: $rvr-2;
    }

    .cashheadline h2 {
        // // @include v-1;
   
    }

    .cashheadline span {
        @include display-4;
    }

    // #cashcontainer > span{
    //     @include display-4;
    //     // @include v-0;
    // }

    // #cashcontainer > span.cash2{
    //     @include display-2;
    //     // @include v-2;
    // }

    .cashblock {
        @include make-col-ready;
        @include media-breakpoint-up(sm) {
            @include make-col(12);
        }


        @include media-breakpoint-up(md) {
            @include make-col(4);
        }
    }

    .cashshell {
        margin-bottom: $rvr-1;
    }

    .cashcontent {
        max-width: 20rem;
    }

    .cashcontent h4 {
        // @include v-0;
    }

    .cashsubhead {
        @include display-5;
        // margin-bottom: $rvr-1;
    }

    .cashlist {
        list-style: none;
        padding: 0;
    }

    .cashlist li {
        @include body-4;
    }

    //
    // customer-driven engagement
    // ==========================================================================

    #custbox {
        display: inline-flex;
        align-items: center;
        flex-direction: row;
    }

    #custcontainer {
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

    #custcontent > div.pagetitle {
        // margin-bottom: $rvr-5;
        // margin-top: $rvr-2;
    }

    .row#custcontent {
        //     display: flex;
        flex-direction: column;

        // align-content: center;
        height: 80vh;
        justify-content: center;

        // flex-wrap: nowrap;
   
    }

    #custheadline {
        // margin-bottom: $rvr-2;
    }

    .custblock {
        @include make-col-ready;
        @include media-breakpoint-up(sm) {
            @include make-col(12);
        }


        @include media-breakpoint-up(md) {
            @include make-col(6);
        }
    }

    .custshell {
        // margin-bottom: $rvr-1;
    }

    .custcopy {
        @include body-4;

        max-width: 34rem;
    }

    //
    // strategic marketing management panel
    // ==========================================================================

    #scvbox {
        display: inline-flex;
        align-items: center;
        flex-direction: row;
    }

    #scvcontainer {
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

    #scvcontent > div.pagetitle {
        // margin-bottom: $rvr-5;
        // margin-top: $rvr-2;
    }

    .row#scvcontent {
        //     display: flex;
        flex-direction: column;

        // align-content: center;
        height: 80vh;
        justify-content: center;

        // flex-wrap: nowrap;
   
    }

    #scvheadline {
        // margin-bottom: $rvr-2;
    }

    .scvblock {
        @include make-col-ready;
        @include media-breakpoint-up(sm) {
            @include make-col(12);
        }


        @include media-breakpoint-up(md) {
            @include make-col(6);
        }
    }

    .scvshell {
        margin-bottom: $rvr-1;
    }

    .scvcopy {
        @include body-4;

        max-width: 34rem;
    }

    //
    // strategic marketing management panel
    // ==========================================================================

    #smmbox {
        display: inline-flex;
        align-items: center;
        flex-direction: row;
    }

    #smmcontainer {
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

    #smmcontent > div.pagetitle {
        // margin-bottom: $rvr-5;
        // margin-top: $rvr-2;
    }

    #smmheadline span {
        @include display-4;
    }

    .row#smmcontent {
        //     display: flex;
        flex-direction: column;

        // align-content: center;
        height: 80vh;
        justify-content: center;

        // flex-wrap: nowrap;
   
    }

    .endtoend {
        width: 1201px;
        // margin: $rvr-1 0;
    }

    .smmblock {
        justify-content: end;
    }

    .smmcopy {
        @include body-6;
        @include make-col-ready;
        @include media-breakpoint-up(sm) {
            @include make-col(12);
        }


        @include media-breakpoint-up(md) {
            @include make-col(3);

            left: 50%;
        }
    }

    .clead {
        font-weight: bold;

        // font-family: $font-family-sans-serif;
        font-style: italic;
    }

    //
    #smmcontentblock{
        @include make-col-ready;
        @include media-breakpoint-up(sm) {
            @include make-col (12);
        }
        @include media-breakpoint-up(md) {
            @include make-col (8);
        }
    }
    
    #smmlinks{
        @include make-col-ready;
        @include media-breakpoint-up(sm) {
            @include make-col (12);
        }
        @include media-breakpoint-up(md) {
            @include make-col (4);
        }
    }

    // #smmcontent{
    //     @include make-col-ready;
    //     @include media-breakpoint-up(sm) {
    //         @include make-col (12);
    //     }
    //     @include media-breakpoint-up(md) {
    //         @include make-col (10);
    //     }
    // }

    //
    // i'm available panel
    // ==========================================================================

    #availablecontainer {
        display: flex;
        align-items: center;
        min-height: 100vh;
    }

    #availablecontainer .pagetitle, #availableheadline {
        // margin-bottom: rvr(2);

        @include make-col-ready;
        @include make-col(12);
    }

    #availablecontent {
        @include make-col-ready;
        @include make-col(12);
    }

    #availablecontent .card {
        @include make-col-ready;
        @include media-breakpoint-up(sm) {
            @include make-col(12);
        }


        @include media-breakpoint-up(md) {
            @include make-col(4);
        }


        border: none;
    }

    // 
    // cats panel
    // ==========================================================================
    // #cats{
    // // height: 100vh;
    // }

    //.maincontainer {
    //    perspective: 1px;
    //    transform-style: preserve-3d;
    //    height: 100vh;
    //    overflow-x: hidden;
    //    overflow-y: scroll;
    //}
    //
    //.parallaxcontainer {
    //    padding-top: ms(5);
    //    display: flex;
    //    flex: 1 0 auto;
    //    position: relative;
    //    height: 100vh;
    //    transform: translateZ(-1px) scale(2);
    //    z-index: -1;
    //}
    //
    //.contentcontainer {
    //    position: relative;
    //    display: block;
    //    z-index: 1;
    //}

    #catscontainer h2 {
        @include v-3;
    }

    .catscontent {
        @include make-col-ready;
        @include media-breakpoint-up(sm) {
            @include make-col(12);
        }


        @include media-breakpoint-up(md) {
            @include make-col(4);
        }
    }

    .catscopy {
        max-width: ms(10);

        @include body-4;
        // @include v-1;

        line-height: 1.2;
    }

    .catsblock {
        display: flex;
        flex-wrap: wrap;

        // justify-content: space-around;
        align-items: flex-start;
        align-content: flex-start;
        margin-bottom: $rvr-1;

        @include make-col-ready;
        @include media-breakpoint-up(sm) {
            @include make-col(12);
        }


        @include media-breakpoint-up(md) {
            @include make-col(8);
        }
    }

    .catfig {
        margin-top: $rvr-_5;
        margin-bottom: $rvr-_5;
        margin-left: $rvr-_5;
        margin-right: $rvr-_5;
        position: relative;
        width: $ms-9;
    }

    .vert {
        max-width: 100%;
    }

    .caption-content {
        opacity: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        color: #fff;
        left: 0;
        top: 0;
        padding: $rvr-_25;
        font-weight: 300;
        z-index: 2;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        background-color: rgba(0, 0, 0, 0.7);
        -webkit-transition: opacity .3s ease-in-out;
        transition: opacity .3s ease-in-out;
        font-family: $font-family-sans-serif;
    }

    .caption-copy {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        text-align: center;
        margin: 0 auto;
        height: 100%;
    }

    .caption-title {
        margin-bottom: $rvr-_25;
        font-size: $ms-0-9;
        font-weight: 400;
        text-transform: uppercase;
    }

    .caption-text {
        font-size: $ms-0-6;
        line-height: $rvr-_75;
        padding: 0 $ms-1_5;
    }

    .catfig:hover .caption-content {
        opacity: 1;
    }

    .expbox {
        @include make-col-ready;
        @include media-breakpoint-up(sm) {
            @include make-col(12);
        }


        @include media-breakpoint-up(md) {
            @include make-col(12);
        }
    }

    .catstitle {
        @include make-col-ready;
        @include media-breakpoint-up(sm) {
            @include make-col(12);
        }


        @include media-breakpoint-up(md) {
            @include make-col(3);
        }


        @include display-5;

        font-weight: 400;

        // @include v-1;

        padding-left: 0;
    }

    // 
    // brands panel
    // ==========================================================================
    // #brands{
    // // height: 100vh;
    // }

    .brandsblock {
        // align-items: stretch;
   
    }

    .brandsblock .style-svg {
        width: $ms-8_5;
        fill: #000;
        padding: 0 $ms-1_5 $rvr-2 $ms-1_5;
    }

    #brandscontainer {
        padding-top: ms(5);
    }

    #brandscontainer h2 {
        // @include v-3;
    }

    .brandscontent {
        @include make-col-ready;
        @include media-breakpoint-up(sm) {
            @include make-col(12);
        }


        @include media-breakpoint-up(md) {
            @include make-col(4);
        }
    }

    .brandscopy {
        max-width: ms(10);

        @include body-4;
        // @include v-1;

        line-height: 1.2;
    }

    .brandsblock {
        display: flex;
        flex-wrap: wrap;

        // justify-content: space-around;
        align-items: flex-start;
        align-content: flex-start;
        margin-bottom: $rvr-1;

        @include make-col-ready;
        @include media-breakpoint-up(sm) {
            @include make-col(12);
        }


        @include media-breakpoint-up(md) {
            @include make-col(8);
        }
    }

    .expbox {
        @include make-col-ready;
        @include media-breakpoint-up(sm) {
            @include make-col(12);
        }


        @include media-breakpoint-up(md) {
            @include make-col(12);
        }
    }

    .brandstitle {
        @include make-col-ready;
        @include media-breakpoint-up(sm) {
            @include make-col(12);
        }


        @include media-breakpoint-up(md) {
            @include make-col(3);
        }


        @include display-5;

        font-weight: 400;

        // @include v-1;

        padding-left: 0;
    }

    // 
    // hybrid panel
    // ==========================================================================
    // #hybrid{
    // // height: 100vh;
    // }

    .helix {
        background-image: url("http://jamiejohnsonmev2.test/wp-content/uploads/2018/12/helix2.jpg");
        background-size: 22%;
        background-repeat: no-repeat;
        background-position: 90% 45%;
        background-attachment: fixed;
    }

    .gel {
        background-image: url("http://jamiejohnsonmev2.test/wp-content/uploads/2018/12/gel2.jpg");
        background-size: 22%;
        background-repeat: no-repeat;
        background-position: 90% 80%;

        // background-attachment: fixed;
   
    }

    #gap {
        height: 25vh;
    }

    #hybridcontainer {
        padding-top: ms(5);
    }

    #hybridcontainer h2 {
        @include v-3;
    }

    .hybridblock {
        display: flex;

        @include make-col-ready;
        @include make-col(12);

        margin-bottom: $rvr-1;
    }

    .hybridtitle {
        @include make-col-ready;
        @include media-breakpoint-up(sm) {
            @include make-col(12);
        }


        @include media-breakpoint-up(md) {
            @include make-col(3);
        }


        @include display-5;

        font-weight: 400;

        // @include v-1;

        padding-left: 0;
    }

    .hybridtext {
        @include make-col-ready;
        @include media-breakpoint-up(sm) {
            @include make-col(12);
        }


        @include media-breakpoint-up(md) {
            @include make-col(9);
        }
    }

    .hybridcopy {
        max-width: ms(11);

        @include body-4;
        // @include v-1;

        line-height: 1.2;
    }

    // 
    // aboutme/splash panel
    // ==========================================================================
    #aboutsplash {}

    #aboutsplashcontainer {
        display: flex;
        margin: 0 auto;
        justify-content: center;
        align-items: left;
        flex-direction: column;
        height: 100vh;
    }

    #aboutsplashcontainer h1 {
        // @include v-1;
    }

    #aboutsplashcontainer > span {
        @include display-4;
        // @include v-0;
    }

    #aboutsplashcontainer .aboutsplash2 {
        @include display-2;
        // @include v-2;
    }

    // 
    // home/splash panel
    // ==========================================================================
    #splash, #splashcontainer {
height: 100vh;
    }

    #splashcontainer {
        display: flex;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100vh;
        text-align: center;
        @include media-breakpoint-up(lg) {
            text-align: left;
            align-items: flex-start;
                }
    }

    #splashcontainer h1 {
        font-size: $ms-5;// @include v-1;
       @include media-breakpoint-up(lg) {
@include v-1;
        }
        @include media-breakpoint-up(xl) {
font-size: $h1-font-size;
        }
    }


    // .hi, .hello{
    //     display: inline-block;
    //     text-align: center;
    //     font-size: $ms-6_5;
    //             @include media-breakpoint-up(xs) {
    //                 width: 100%;
    //             }
    //             @include media-breakpoint-up(md) {
    //                     width: auto;
    //                     }
    // }

    #splashcontainer .splash1 {
        @include display-6;
        // @include v-0;
    }

    .splash-emp strong{
    }

    #splashcontainer .splash2 {
        @include display-3;
        @include v-2;
        line-height: $rvr-2;
        @include media-breakpoint-up(lg) {
                @include v-1;
                }
    }

  .bgme {
        opacity: 1;
        background-image: url("http://jamiejohnsonmev2.test/wp-content/uploads/2018/12/me.jpg");
        background-repeat: no-repeat;
  
        @include make-col-ready;
                @include media-breakpoint-up(xs) {
                  background-position: 107% bottom;
                    background-size: 135%;
               }
            @include media-breakpoint-up(sm) {
       background-size: 155%;
       background-position: 130% bottom;
        }
            @include media-breakpoint-up(md) {
            background-position: right bottom;
            background-size: 100%;
        }
            @include media-breakpoint-up(lg) {
        background-size: 80%;
        background-position: right bottom;
        }
            @include media-breakpoint-up(xl) {
        }
        }
    

    // 
    // home call to action panel
    // ==========================================================================
    #homecta {}

    #homectacontainer {
        display: flex;
        margin: 0 auto;
        justify-content: center;
        align-items: left;
        flex-direction: column;
        height: 100vh;
    }

    #homectacontainer h1 {
        // @include v-1;
    }

    #homectacontainer > span {
        @include display-4;
        // @include v-0;
    }

    #homectacontainer .homecta2 {
        @include display-2;
        // @include v-2;
    }

    //
    // what i do panel
    // ==========================================================================

    #dobox {
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }

    #docontainer {
        display: flex;
        align-items: center;
        min-height: 100vh;
    }

    #docontainer .pagetitle, #doheadline {
        // margin-bottom: rvr(2);

        @include make-col-ready;
        @include make-col(12);
    }

    #docontent {
        @include make-col-ready;
        @include make-col(12);
    }

    #docontent .card {
        @include make-col-ready;
        @include media-breakpoint-up(sm) {
            @include make-col(12);
        }


        @include media-breakpoint-up(md) {
            @include make-col(3);
        }


        border: none;
    }

    a.btn.btn-do {
        border-radius: 100%;
        color: white;
        background: $primary;
        border: none;
        padding: 0;
    }

    .btn-content {
        height: $ms-3;
        width: $ms-3;
        display: flex;

        // display: flex;
        // justify-content: center;
        vertical-align: middle;
        margin: 0 auto;
        padding: 0;
        box-sizing: content-box;
    }

    //
    // about me panel
    // ==========================================================================

    #aboutbox {
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }

    #aboutcontainer {
        height: 100vh;
        display: flex;
        align-items: center;
    }

    #aboutcontent {
        @include make-col-ready;
        @include media-breakpoint-up(sm) {
            @include make-col(12);
        }


        @include media-breakpoint-up(md) {
            @include make-col(10);
        }
    }

    #aboutcontentblock {
        @include make-col-ready;
        @include media-breakpoint-up(sm) {
            @include make-col(12);
        }


        @include media-breakpoint-up(md) {
            @include make-col(8);
        }
    }

    #abouticons {
        @include make-col-ready;
        @include media-breakpoint-up(sm) {
            @include make-col(12);
        }


        @include media-breakpoint-up(md) {
            @include make-col(4);
        }
    }

    #aboutcontentrow {
        display: flex;
        flex-direction: row;
    }

    //
    // how i help panel
    // ==========================================================================

    #helpbox {
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }

    #helpcontainer {
        height: 100vh;
        display: flex;
        align-items: center;
    }

    #helpcontentblock {
        @include make-col-ready;
        @include media-breakpoint-up(sm) {
            @include make-col(12);
        }


        @include media-breakpoint-up(md) {
            @include make-col(8);
        }
    }

    #helplinks {
        @include make-col-ready;
        @include media-breakpoint-up(sm) {
            @include make-col(12);
        }


        @include media-breakpoint-up(md) {
            @include make-col(4);
        }
    }

    #helpcontent {
        @include make-col-ready;
        @include media-breakpoint-up(sm) {
            @include make-col(12);
        }


        @include media-breakpoint-up(md) {
            @include make-col(10);
        }
    }

    #helpcontentrow {
        display: flex;
        flex-direction: row;
    }

    // 
    // help cta panel
    // ==========================================================================
    #helpcta {}

    #helpctacontainer {
        display: flex;
        margin: 0 auto;
        justify-content: center;
        align-items: left;
        flex-direction: column;
        height: 100vh;
    }

    #helpctacontainer h1 {
        // @include v-1;
    }

    #helpctacontainer > span {
        @include display-4;
        // @include v-0;
    }

    #helpctacontainer .helpcta2 {
        @include display-2;
        // @include v-2;
    }

    // ==========================================================================
    // global page styles
    // ==========================================================================

    .sidenav {
        z-index: 10000;
        position: absolute;

        // width: $ms-4;
        // margin-right: $ms-4;
        right: 5%;
    }

    .navcontent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    .sidenav#left {
        right: unset;
        left: 5%;
        display: flex;
        align-items: center;
        margin-right: $ms-_25;
    }

    .navcontent, .sidenav#left {
        height: $ms-7;
    }

    // left chevron container
    .chevlf {
        height: $ms-4;
        width: $ms-2;
        margin-left: -$ms-3;
        margin-right: $ms-_5;
    }

    // up chevron btm padding
    .wp-image-23 {
        margin-bottom: $ms-_75;
    }

    // down chevron top padding
    .wp-image-24 {
        margin-top: $ms-_75;
    }

    // up & down chevron svg's

    .wp-image-23, .wp-image-24 {
        width: $ms-4;
        height: $ms-4;
    }

    .chevlf-svg {
        // width: $ms-_5;
        height: $ms-4;
    }

    .pagetitle {
        font-size: $ms-_25;
        font-weight: 400;
        padding: 0;
    }

    // .inline{
    //         @include make-col-ready;
    //     @include media-breakpoint-up(sm) {
    //         @include make-col (12);
    //     }
    //     @include media-breakpoint-up(md) {
    //         @include make-col (2);
    //     }
    // }

    .pagetitle hr {
        border-style: solid;
        border-width: 1px;
        // margin-top: $rvr-_5;
        // margin-bottom: $rvr-0;
        margin-left: 0;
        margin-right: 0;
        width: $width-3;
    }

    .pagetitle.span {
        width: 80%;
    }

    .chevup{
    margin-bottom: $rvr-2;
    }

    #testdiv {
        height: 90vh;
    }

  

    .arrow {
        opacity: 1;
        background-image: url("http://jamiejohnsonmev2.test/wp-content/uploads/2018/12/arrow.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    .evo {
        opacity: 1;
        background-image: url("http://jamiejohnsonmev2.test/wp-content/uploads/2018/12/evolutionv2.jpg");
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: 97% 100%;

        // background-size: cover;
   
    }

    // .helix {
    //     opacity: .8;
    //     background-image: url('http://jamiejohnsonmev2.test/wp-content/uploads/2018/12/helix2.jpg');
    //     background-size: 22%;
    //     background-repeat: no-repeat;
    //     background-position: 90% 45%;
    //     background-attachment: fixed;
    //     // background-size: cover;
    // }

    @media (min-width: 576px) {
       
    }

    @media (min-width: 768px) {
        
    }

    @media (min-width: 992px) {
        
    }

    @media (min-width: 1200px) {
       
    }

    //========================================================
    //           Atomic Mouse Theme Customization          
   // ========================================================

    .vh-100 {
        height: 100vh;
    }

    .vh-95 {
        height: 100vh;
    }

    //----------  GLOBAL PAGE ATTRIBUTES  ----------//
    html,
    body {
        height: 100%;
    }

    .wrapper {
        padding: 0;
    }

    //
    // primary content container 
    // ==========================================================================

    .container {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        padding-right: 15px;
        padding-left: 15px;
    }

    @media (min-width: 576px) {
        .container {
            max-width: 540px;
        }
    }

    @media (min-width: 768px) {
        .container {
            max-width: 720px;
        }
    }

    @media (min-width: 992px) {
        .container {
            max-width: 960px;
        }
    }

    @media (min-width: 1200px) {
        .container {
            max-width: 1140px;
        }
    }

    @media (min-width: 1400px) {
        .container {
            max-width: 1200px;
        }
    }

    @media (min-width: 1600px) {
        .container {
            max-width: 1400px;
        }
    }

     @media (min-width: 1900px) {
        .container {
            max-width: 1600px;
        }
    }

    .grid-container {
        @include make-container;
        @include media-breakpoint-up(md) {
            @include make-container-max-widths;
        }
    }

    // .container-fluid {
    //   width: 100%;
    //   padding-right: 15px;
    //   padding-left: 15px;
    //   margin-right: auto;
    //   margin-left: auto; }

    // .row {
    //   display: -webkit-box;
    //   display: -ms-flexbox;
    //   display: flex;
    //   -ms-flex-wrap: wrap;
    //       flex-wrap: wrap;
    //   margin-right: -15px;
    //   margin-left: -15px; }

    //----------  NAVBAR  ----------//

    .navbar-dark{ 
        .navbar-toggler {
        background-color: $primary !important;
    }
}

    #bug .st0 {
        fill: #000;
    }

    .navbar-brand {
        margin-right: 0;
        margin-left: 1rem;
    }

    .custom-logo-link {
        width: 2rem;
        height: 2rem;
    }

    .navbar-dark {
        background-color: #fff;
    }

    .navbar-light {
        background-color: #fff;
    }

    .nav-link {
        font-family: $font-family-monospace;
    }

    //=====================================
   //=            MEDIA QUERIES            
    //=====================================

    //=============================
    //=            FONTS           
   // =============================

    .navbar-brand,
    .navbar,
    .navbar a {
        color: $primary !important;
        font-size: $ms-0-9;
        @include media-breakpoint-up(lg) {
                font-size: $ms-1;
                }
    }

    .nope {
        position: absolute;
        overflow: hidden;
        width: 100%;
        height: 100%;
    }

    [aria-hidden="true"] {
        display: none;
    }

    [aria-hidden="false"] {
        display: block;
    }