// ==========================================================================
// GLOBAL & COMBO CSS - COMBINED SELECTORS BROKEN OUT FOR REFERENCE WHILE STYLING
// ==========================================================================



// ==========================================================================
// CONTAINER MEDIA QUERIES
// ==========================================================================

@media (min-width: 576px) {
    .expt-container {
        max-width: 525px;
    }
}

@media (min-width: 768px) {
    .expt-container {
        max-width: 800px;
    }
}

@media (min-width: 992px) {
    .expt-container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .expt-container {
        max-width: 1100px;
    }
}

@media (min-width: 1400px) {
    .expt-container {
        max-width: 1200px;
    }
}

@media (min-width: 1600px) {
    .expt-container {
        max-width: 1200px;
    }
}



// ==========================================================================
// global page styles
// ==========================================================================

.card, .row {
    background-color: transparent;
}

#i-advance-business-objectives, #i-transcend-competition, #i-modernize-marketing-functions, #i-optimize-marketing-performance,#hybrid-container, #brands-container, #categories-container, #expertise-container, #cats-container, #expt {
    padding-top: $rvr-4;
    padding-bottom: $rvr-3;
}

// odd container background:
#do-box, #available-box, #home-cta, #mo-intro, #i-transcend-competition, #i-optimize-marketing-performance, #help-cta, #hybrid, #story {
    padding-bottom: $rvr-4;
    background: $offwhite;
}

#about-box, #do-box, #i-create-marketing-assets, #available-box{
    padding-left: $ms-3;
    padding-right: $ms-3;
}

.headline {
@include v-1;
@include media-breakpoint-up(md) {
        margin-top: 0;
    }
}

.headline h2{

}

.subhead{
    font-weight: 300;
  letter-spacing: .05rem;
  margin-bottom: $rvr-2;
  text-transform: uppercase;
}

.display-text {
    margin-bottom: $rvr-1;
    font-weight: 300;
    letter-spacing: .025rem;
    font-family: $font-family-sans-serif;
    font-size: $ms-1_75;
}

.body-text {
    @include v-1;

    font-size: $ms-2;

    @include make-col-ready();
    @include make-col(12);
}
.caption {
    font-weight: 400;
}

.body-text {
    @include body-4;
    line-height: $rvr-1_75;
    padding-bottom: $rvr-1;
}


#home-cta .display-text, #help-cta .display-text{
    @include display-3;
    @include v-1;
    line-height: $rvr-2;
}


div.body-text:last-of-type {
    padding-bottom: 0;
}

.sidenav {
    display: none;
    z-index: 10000;
    position: absolute;

    // width: $ms-4;
    // margin-right: $ms-4;
    right: 5%;
}

.navcontent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.sidenav#left {
    right: unset;
    left: 5%;
    display: flex;
    align-items: center;
    margin-right: $ms-_25;
}

.navcontent, .sidenav#left {
    height: $ms-7;
}

// left chevron container
.chevlf {
    height: $ms-4;
    width: $ms-2;
    margin-left: -$ms-3;
    margin-right: $ms-_5;
}

// up chevron btm padding
.wp-image-23 {
    margin-bottom: $ms-_75;
}

// down chevron top padding
.wp-image-24 {
    margin-top: $ms-_75;
}

// up & down chevron svg's
.wp-image-23, .wp-image-24 {
    width: $ms-4;
    height: $ms-4;
}

.chevlf-svg {
    // width: $ms-_5;
    height: $ms-4;
}

.page-title {
    @include make-col-ready();
    @include make-col(12);
    font-size: $ms-1;
    font-weight: 200;
    position: relative;
    margin-bottom: $rvr-2;
    letter-spacing: .05rem;
    font-family: $font-family-serif;
    font-style: italic;
    color: $primary;
    padding: $rvr-2 0 0 0;

    @include media-breakpoint-up(md) {}
}


.mo-emph {
    font-family: $font-family-monospace;
    font-style: normal;
    font-size: $ms-_15;
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: .075rem;
    color: #000;

    &::before {
        content: "\A";
        white-space: pre-wrap;
    }

    @include media-breakpoint-up(md) {
        &::before {
            content: none;
        }
    }
}

.mo-divider {
    display: none;

    @include media-breakpoint-up(md) {
        display: inline-block;
    }
}

.mo-block {
    font-weight: 900;
    padding-right: $ms--4;
    color: $tungsten;
}

.page-id-36 .headline > h2{
    font-weight: 400;
}

// #adv-head > div > div.headline > h2{
//     font-size: ms(2.8);
// }

.page-title hr {
    display: none;
}

.page-title.span {
    width: 80%;
}



.chevup {
    margin-bottom: $rvr-2;
}

#testdiv {
    height: 90vh;
}

a.learn{
    @include make-col-ready();
    @include make-col(12);
    text-transform: uppercase;
    letter-spacing: .075rem;
    font-weight: 400; 
    text-align: center;
    cursor: pointer;
    @include v-4;
}

.adv-link-box{
    @include make-col-ready();
                @include make-col(12);
                display: flex;
                align-items: center;
}
// .page-id-36 a.advance-link, .page-id-5 a.advance-link, {


               a.advance-link{
            
                text-transform: uppercase;
                letter-spacing: .075rem;
                font-weight: 400; 
                text-align: center;
                margin: $rvr-2 auto $rvr-2 auto;
            }
a.advance-link svg{
    fill: none;
stroke-width: 3.6765;
stroke-linecap: round;
stroke-miterlimit: 10;
   stroke: $primary;
    width: $ms-2;
}

.arrow {
    opacity: 1;
    background-image: url("http://jamiejohnsonmev2.test/wp-content/uploads/2018/12/arrow.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.vh-100 {
    height: 100vh;
}

.vh-95 {
    height: 100vh;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

div#page{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.wrapper#full-width-page-wrapper{
    flex: 3 0 auto;
}

#wrapper-footer{
    flex-shrink: 0;
    background: #ffffff;
}

.wrapper {
    padding: 0;
}

#wrapper-navbar {
    position: fixed;
    width: 100%;
    z-index: 99;
    flex-grow: 0;
}


// ==========================================================================
// footer
// ==========================================================================
.footer-content{
                @include make-col-ready();
                @include make-col(11);
}

.scroll-top{
                // @include make-col-ready();
                // @include make-col(1);
                display: none;
          display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  cursor: pointer; /* Add a mouse pointer on hover */    
background: $tungsten;
padding: $ms-_15;
border-radius: 1rem;
}

.scroll-top svg{
    width: $ms-3;

    .st0{
            fill: none;
    stroke: white;
    stroke-width: 5;

    }
}



// ==========================================================================
// Misc svg corrections
// ==========================================================================

.scv-diagram{
    .st1{
        font-weight: 600;
    }
    .st4{
        font-size: $ms-1_25;
        font-weight: 300;
        letter-spacing: .05rem;
    }
    .st7{
        font-size: $ms-_75;
    }
    .st1, .st4, .st6, .st7{
        font-family: $font-family-monospace;
    }
}

#goals, #metrics, #impact, #outcomes, #architecture{ 
    .cls-4, .cls-1, .cls-2, .cls-3 {
    fill: #111;
}
}

.opt-vert-diagram{
    .cls-2, .cls-12{
    fill: $tungsten;
}
.cls-5, .cls-6, .cls-7, .cls-10{
    font-weight: 600;
}
.cls-3{
    font-size: $ms-1;
}
.cls-6, .cls-10, .cls-3{
    font-family: $font-family-monospace; 
}
}



// ==========================================================================
// GLOBAL SPLASH PANEL SETTINGS
// ==========================================================================Global Splash Panel Settings


// ==========================================================================
// GLOBAL SPLASH-INTRO PANEL SETTINGS
// ==========================================================================Global Splash Panel Settings


.container.intro{
height: 85vh;
padding-top: $rvr-3;
margin-top: auto;
display: flex;
justify-content: flex-end;
    // align-items: center;
    flex-direction: column;
    // flex-basis: height;
    .headline{
        flex-basis: $rvr-4; 
        margin-bottom: $rvr-2;
        margin-top: auto; 
        // margin-bottom: auto; 
        flex-grow: 0;
    }
    .subhead{
        flex-basis: auto; 
        flex-grow: 0;
    }
    .display-text{
        flex-basis: auto; 
        // margin-bottom: auto;
        // margin-bottom: $rvr-2; 
        flex-grow: 0;
    }
    .intro-links{
        flex-basis: auto; 
        // margin-top: auto; 
        flex-grow: 0;
    }
    a.advance-link{
        flex-basis:auto; 
        flex-grow: 0;
        margin-top: $rvr-4;
        margin-bottom: auto;
    }
}

.container.intro .display-text{
   // @include display-5;
}

