



/* .atypical__intro{   p{

 
} */
 // background: $slate-shade-100;
    // padding: $ms-6 $ms-6;

/* .why-me__content__copy{
 h4:before{
     content: '';
position: absolute;
    top: 88px;
    left: -12px;
    height: 10%;
    width: 10%;
    background: #535f6b;
    -webkit-transform: skew(0deg,6deg);
    transform: skew(0deg,6deg);
}
} */


/* 
#why-me__content__copy--1, #why-me__content__copy--3, #why-me__content__copy--5{ 
    &, 
    & h4,
    &, 
    & h4:before{
    background: $slate-shade-300;
}
}

#why-me__content__copy--5 h4:before, #why-me__content__copy--6 h4:before{
    width: 6%;
}

#why-me__content__copy--2, #why-me__content__copy--4, #why-me__content__copy--6{ 
    &, 
    & h4,
    &, 
    & h4:before{
    background: $slate-shade-600;
}
} */


// #why-me__content__copy--2, #why-me__content__copy--2 h4{
//     background: $slate-shade-600;
// }
// #why-me__content__copy--3, #why-me__content__copy--3 h4{
//     background: $slate-shade-300;
// }
// #why-me__content__copy--4, #why-me__content__copy--4 h4{
//     background: $slate-shade-600;
// }
// #why-me__content__copy--5, #why-me__content__copy--5 h4{
//     background: $slate-shade-300;
// }
// #why-me__content__copy--6, #why-me__content__copy--6 h4{
//     background: $slate-shade-600;
// }






// .why-me__content:nth-of-type(1){ 
//     h4 {
//     margin-bottom: 0;
// }
// }




// .why-me__content:nth-of-type(2),
// .why-me__content:nth-of-type(4), 
// .why-me__content:nth-of-type(6){
//     background: $primary;
//     color: #fff;
//     padding: $ms-10 $ms-4;
//     position: relative;
// }

// .why-me__content:nth-of-type(3),
// .why-me__content:nth-of-type(5),
// .why-me__content:nth-of-type(7){
//     background: $tungsten;
//     color: #111;
//     padding: $ms-10 $ms-4;
//     margin-top: -2rem;
//     margin-bottom: -2rem;
//     position: relative;
// }


// .why-me__content:nth-of-type(2){
//     z-index: 0;
//     margin-left: $ms-2;
//     width: ms(10.65);
//     // p{
//     //     max-width: ms(9.8);
//     // }
//     margin-bottom: .25rem;
// }

// .why-me__content:nth-of-type(3){
//     margin-left: -5rem;
//     margin-top: -4rem;
//     z-index: 1;
//        width: ms(10.65);
//     // p{
//     //       max-width: ms(9.8);
//     // }
// }

// .why-me__content:nth-of-type(4){
//     margin-left: -.5rem;
//     margin-top: -5.5rem;
//     // padding: 9rem;
//     z-index: 1;
//          width: ms(10.5);
//     // p{max-width: ms(10.25);}
// }

// .why-me__content:nth-of-type(5){
//     margin-left: -5rem;
//     z-index: 2;
//         margin-top: -2rem;
//     margin-bottom: -2rem;
//        width: ms(10.55);
// }

// .why-me__content:nth-of-type(6){
//     margin-left: $ms-3;
//     z-index: 3;
//          width: ms(10.75);
// }

// // .why-me__content:nth-of-type(6){
// //     margin-left: $ms-4;
// //     margin-top: -3rem;
// //     z-index: 1;
// // }

// .why-me__content:nth-of-type(7){
//     z-index: 4;
//     margin-left: -($ms-6);
//          width: ms(10.55);
// }



// @include media-breakpoint-up(md) {
// .why-me__content:nth-of-type(2),
// .why-me__content:nth-of-type(3),
// .why-me__content:nth-of-type(4),
// .why-me__content:nth-of-type(5),
// .why-me__content:nth-of-type(6),
// .why-me__content:nth-of-type(7){
// width: ms(14);
// }
// }

/* 

.categories, .brands{
    background: #fff;
}

.why-me__container__brands{
    @include media-breakpoint-up(md) {
        
}
}

.why-me__brands_content{
    @include make-row();
    width: 100%;
    max-width: 100%;
    @include rows();
    flex-wrap: wrap;
}

.why-me__brands--logo{
    @include make-col-ready();
    @include make-col(4);
}

// .panel-fluid.alternate.why-me__categories {
//     h1 {
//         @extend .page__title;
//     }
// }

.categories__content_caption {
    opacity: 0;
}

.why-me__categories_content:hover {
    .categories__content_caption {
        opacity: 1;
    }
}

.categories__content_caption {
    color: #fff;

    h3 {
        font-family: $font-family-sans-serif;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: .025rem;
    }
 
    p {
        padding: 0 1.5rem;
        font-size: ms(3);
        letter-spacing: .025rem;
        text-transform: capitalize;
        font-family: $font-family-sans-serif;
        max-width: 10rem;
    }

@include mq('desktop') {
        h3 {
         
            font-size: 4.5rem;
        }

        p {
            font-size: 3.5rem
        }
    }
     @include mq('desktop-xl') {
h3{
    font-size: 3rem;
    letter-spacing: .075rem;
}
p{
     font-size: 2rem;
     max-width: ms(8.75);
}
     }
}

 */