// SEE SPLASH ARTCILE STYLES FOR HOME SPLASH SETTINGS */
/* #home__splash{
h1:nth-of-type(3){
color: $primary;
font-weight: 600;
}
h1{

    @include vr($font-size:3, $line-height: 3, $margin: 1.5 auto);
    font-weight: 400;

}
} */



/* ////////////////////////////////////////////////////////////////////////// */
/* //////////////////////           summary        /////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////*/

    

/* ////////////////////////////////////////////////////////////////////////// */
/* //////////////////////     panel head module  /////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////*/




/* ////////////////////////////////////////////////////////////////////////// */
/* //////////////////////           strengths      /////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////*/
//container styles



////////////////////////////////////////////////////////////////////////////////


/////////////////////////////////////////////////////////////////////////
//strengths layout{







/* /////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////            proof article         /////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////*/

//container article styles
#article__container--proof{
h2{
align-text: center;
@include push-auto();
    }
h3{
    @include vr($width: 28, $line-height: 3);
    @include push-auto();
}
.content__container_col{}
.content__block{}
h4{}
p{font-family: $font-family-serif;} 
.content__item_col{}
}



h2.proof-intro{
            font-family: $font-family-serif;
        @include vr($font-size: 4, $margin-bottom: 4);
         color: $primary;

}

h2.proof-intro, .proof__item_container h5{
    text-align: center;
         
}



.proof__content_text p{
     @extend %display-text-sm;
     letter-spacing: .025em;
     em{
        color: $primary;
        font-weight: 400;
     }
}

.proof__content_text em{
        @include vr($font-size: 1);
}

#proof__content_marketer > div > p > em{
    color: $primary;
    font-weight: 300;
    } 



#proof__content_end2end{
padding: 6em .25em;}

#proof__you{
    background: $primary;
    border-radius: 2em;
    border: none;
}

#end2end__diagram_container, #stats-slider{
    width: 100%;
    display: block;
    @include push-auto();
} 

// #trend-arrow{
//     z-index: -1;
//     height: 35em;
//     top: 5em;
//     left: -2em;
//     width: 125%;
//     svg#Layer_1{
//         width: 90%;

//     }
//     .st0{
//        fill:rgba(106, 173, 217, .5);
//     }
// }

///////////////////////////////////////////////////////////////////
// i do outcomes panel
//////////////////////////////////////////////////////////////////
#idooutcomes{
    @include vr($padding: 0 3 0 3);
    border: .25em solid $gray-300;
    position: relative;
     h5{
   @extend %subhead-sm;
   font-family: $font-family-serif;
    // @include vr($font-size: 2, $margin: 0 0 4 0);
    letter-spacing: 0;
    font-weight: 400;
}
    @include mq('tablet', $type: max){
    min-height: 600px;
    }
}

//////////////////////////////////////////////////////////////////////////
//proof diagram customization
// #idooutcomes{ 
// & h5 {
// @extend %body-text-lg;
// @include vr($margin-bottom: 2);
// text-style: italic;
// }
// & .caption{
//     max-width: 17em;

// }
// }



///////////////////////////////////////////////////////////////////
// end to end equation panel
//////////////////////////////////////////////////////////////////


#end2end__diagram_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $black;
    @include vr($padding: 5 1);
    .cls-1, .cls-2{
        fill: $offwhite;
    }
    h5, p{
        color: $offwhite;
    }
    h5{
        @extend %display-text-sm;
        font-weight: 400;

    }
%display-text-sm{
            @include vr($margin-bottom: 4);
        }
    .proof__content_text{
        width: 100%;
        @include vr($width: 24, $margin-top:2);
        text-align: center;
    }

}

    .end2end__diagram_caption{
        @include vr($font-size:1, $margin-bottom: 0);
        color: $offwhite;
        letter-spacing: .075em;

    }

#barchart{
    margin-right: -1em;
}


.end2end__diagram_img, .end2end__diagram_img--dollar{
    @include make-col-ready();
    @include make-col(4);
    svg#Layer_1{
        width: 70%;
         display: block;
        @include push-auto();
    }
}



.end2end__diagram_img--plus, .end2end__diagram_img--equal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $primary;
    @include vr($font-size: 3, $margin: 2 auto 2 auto);
}


.end2end__diagram_img--dollar{
text-align: center;
@include vr($font-size: 4, $margin: 1 0 1 0);
}


///////////////////////////////////////////////////////////////////
// I've been around / stats slider panel
//////////////////////////////////////////////////////////////////

#proof__content_vitae{}
.vitae__stats{}
#stats-slider{
    @include vr($margin-bottom: 1);
} 


.quals svg{
width: 30%;
margin: 0 auto;
display: block;
@include mq('phone'){}
@include mq('tablet'){
/* height: 25em; */
}
@include mq('desktop'){
/*     height: 8em; */
}
}

.quals{
 float: left;
 padding-left: 15px;
 padding-right: 15px;
 @include vr($margin: 2 0 2 0);
 @include make-col-ready();
 @include make-col(12);
@include mq('desktop'){
    @include make-col(4);
}
}


.vitae__stats {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.vitae__stats.carousel {
   overflow: hidden;
   display: block;
   }

.vitae__stats--title {
    margin-top: 4rem;
    text-align: center;
    display: none;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
height: 2em;
width: 2em;
}

#stats-slider > .carousel-inner{
width: 90%;
min-height: 10em;
display: block;
@include push-auto();
}

#stats-slider{
 @include vr($margin: 0); 
}

 .carousel-control-next-icon{
    right: 0;
    margin-left: auto;
 } 
 .carousel-control-prev-icon{
    left: 0;
    margin-right: auto;
 }
  
       .stats-caption{

     position: relative;
     padding-top: 0;
     padding-bottom: 0;
     bottom: 0;
     width: 100%;
     margin-top: 0;
     left: 0;

    }

    .stats-caption h6{
              @extend %caption;
          // @include vr($font-size: 1, $margin-bottom: 0, $margin-top: 0, $line-height: 1.25);
          @include push-auto();
          font-weight: 300;
           color: $gray-900;
          letter-spacing: .03em;
    }


#proof__content_vitae > div.proof__content_text > p{
    @include vr($margin-top: 0);
}


///////////////////////////////////////////////////////////////////
// Professional About Service panel
//////////////////////////////////////////////////////////////////

#proof__service{
    @include vr($padding: 4 0 4 0, $width: 100%);
}

#proof__you{
    width: 100%;
    @include vr($padding: 5);
    p{
    text-align: center;
    margin-bottom: 0;   
        }
    h5{
        text-transform: capitalize;
        @include vr($margin-bottom: 1);
        font-family: $font-family-serif;
        font-style: italic;
    }
}

#bell__small{
    svg#Layer_1{
        fill: $black;
            width: 20%;
    display: block;
    @include vr($margin: 4 auto 0 auto);
}
}





////////////////////orphans



    #digits {
        color: $qualifications-icon-fill-color;
    }

    .cls-1 {
        fill: $qualifications-icon-fill-color;
    }

    // #stats-order-9, #stats-order-13 {
    //     .cls-1 {}
    // }



    .divider__hr {
        width: 4rem;

        @include push-auto;
        @include vr($margin-top: 2);
    }


    @include mq("tablet-wide") {
        .content-container {
            @include split-cols;
        }

        .divider__hr {
            display: none;
        }

        .stats {
            display: block;
            flex: none;
        }

        .vitae__stats.carousel {
            // height: 50rem;
            overflow: hidden;
            display: block;
        }
    }
