/* ///
// FIXED /STICKY HEADER
//

.header--fixed .navigation-container,
.header--fixed-up .navigation-container {
    position: fixed;
}

//set height on sticky & fixed headers

.navigation-container, .sticky-container{
    height: 110px;
}


// set background color fixed header
.sticky-container { 
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: transparent;
}

// set background color sticky header
.header--fixed .sticky-container,
.header--fixed-up .sticky-container {
    position: fixed;
    width: 100%;
    z-index: 9;
    background: #0a3250;
}

.header--fixed .sticky-container .title-bar,
.header--fixed-up .sticky-container .title-bar {
    margin: 16px auto;
}

.data-sticky-container .sticky .title-bar-left,
.data-sticky-container .sticky .title-bar-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
}

.data-sticky-container .sticky .title-bar-left,
.data-sticky-container .sticky .title-bar-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
}

// .title-bar-right a {
//     color:#000;
// }

// .title-bar-right a:hover {
//     color:#fff;
// }


//set logo container width
#am_logo_svg {
    width: 125px;
}


 */