/* 

//Main Nav Menu
.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.navbar-expand-md{
    @min-width: 768px{
    justify-content: space-between !important;
}
}

.navigation-container {
    height: 110px;
    width: 100%;
    position: absolute;
    z-index: 2;
    overflow: hidden;
}



.title-bar-right a {
    color: #000;
}

.title-bar-right a:hover {
    color: #fff;
}



.title-bar .menu > li > a:after { 
    content: '';
    width: 0%;
    display: block;
    margin: 0.35rem auto;
    height: 2px;  
    background: #419fd2;
    opacity: 0;
    -webkit-transform:translateY(200%);
            transform:translateY(200%);
}

.title-bar .menu ul{
    margin-bottom: 0;
}

.title-bar .menu > li > a:hover:after {


.title-bar .menu > li > a:after {
    content: '';
    width: 0%;
    display: block;
    margin: 0.35rem auto;
    height: 2px;
    background: #419fd2;
    opacity: 0;
    -webkit-transform: translateY(200%);
    transform: translateY(200%);
}

    opacity: 1;
    width: 100%;
    -webkit-transform:translateY(0%);
            transform:translateY(0%);
}

.title-bar {
    background: transparent;
    margin: 0px auto;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
        flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    max-width: 1200px;
    align-items: center;
}

.title-bar-left, .title-bar-right{
  display: flex;
  justify-content: space-between;
}

.title-bar-right{
  @media screen and (min-width: 768px){
}
}




.menu li a {
    display: block;
    padding: 0 1.1rem 0 1.5rem;
    font-weight: 500;
    color: #fff;
    font-size: .85rem;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: .15rem;
    margin-bottom: -1rem;
    font-family: $mono;
} 
.menu li {
    display: table-cell;
}

// Mobile Menu 

body.nav-open {
    overflow: hidden;
}

// .title-bar-right .show-mobile{
//     display: none;
// }



#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: 9px;
}

#nav-icon3 span:nth-child(4) {
  top: 18px;
}

.nav-open .navigation-container {
    height: 110px;
    background: #0a3250;
}

.nav-open #nav-icon3 span:nth-child(1) {
  top: 8px;
  width: 0%;
  left: 50%;
}

// .nav-open .title-bar {
//     position: fixed!important;
// }

.nav-open .sticky-container {
    -webkit-animation-name: fadeInDown!important;
            animation-name: fadeInDown!important;
    z-index: 3;
    position: relative;
    width: 100%;
    display: block!important;
}

.mobile-shelf {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  position: fixed;
  padding-top: 110px;
  background: #0a3250;
  width: 100%;
  z-index: 2;
  overflow: hidden;
  height: calc(100% - 109px);
  transform: translateY(-120%);
}

.menu > li > a, .button, .button::after, .mobile-shelf, .menu > li > a::after, .tabs h2::after, #map-section a, .title-bar, a.btn::after, footer ul.menu li a, a {
    -webkit-transition: 0.5s all ease-in-out;
    transition: 0.5s all ease-in-out;
}

.scroll-down {
    -webkit-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
}


.menu-footer-top,
.mobile-navigation {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

ul.mobile-navigation {
    padding: 40px 0px;
}

ul.mobile-navigation li,
ul.menu-footer-top li,
.menu-footer-bottom span {
    transform: translateY(-100%);
    opacity: 0;
    transition: 0.3s all ease-in-out;
}

.nav-open ul.mobile-navigation li,
.nav-open ul.menu-footer-top li,
.nav-open .menu-footer-bottom span {
    transform: translateY(0%);
    opacity: 1;
}

.nav-open ul.mobile-navigation li:first-child {
    transition-delay: 0.1s;
}

.nav-open ul.mobile-navigation li:nth-child(2) {
    transition-delay: 0.175s;
}

.nav-open ul.mobile-navigation li:nth-child(3) {
    transition-delay: 0.25s;
}

.nav-open ul.mobile-navigation li:nth-child(4) {
    transition-delay: 0.325s;
}

.nav-open ul.menu-footer-top li:first-child {
    transition-delay: 0.4s;
}

.nav-open ul.menu-footer-top li:nth-child(2) {
    transition-delay: 0.475s;
}

.nav-open ul.menu-footer-top li:nth-child(3) {
    transition-delay: 0.55s;
}

.nav-open .menu-footer-bottom span {
    transition-delay: 0.7s;
}

.nav-open .mobile-shelf {
  opacity: 1;
  transform: translateY(0%);
}

.mobile-menu .mobile-shelf {
  transform: translateY(0%);
  opacity: 1;
}

.mobile-navigation li {
  text-align: center;
}

.mobile-navigation li a {
  font-family: 'Muli', sans-serif;
  font-weight: 400;
  color:#fff;
  text-decoration: none;
  font-size: 2em;
  line-height: 2.25em;
}

.menu-footer-top {
    background: #092d48;
    width: 100%;
    text-align: center;
    padding: 40px 0px;
}

.menu-footer-bottom {
    background: #082840;
    color: rgba(255,255,255,0.5);
    text-align: center;
    padding: 20px 0;
    font-family: 'Muli', sans-serif;
    font-weight: bolder;
    font-size: 0.65em;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.menu-footer-top li a {
    text-decoration: none;
    color: #fff;
    font-family: 'Muli', sans-serif;
    font-weight: 1000;
    font-size: 0.8em;
    line-height: 3.5em;
    letter-spacing: 2.5px;
    text-transform: uppercase;
}

.nav-open #nav-icon3 span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.nav-open #nav-icon3 span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.nav-open #nav-icon3 span:nth-child(4) {
  top: 10px;
  width: 0%;
  left: 50%;
}

ul.mobile-navigation {
    border-bottom: 1px solid rgba(8,40,64,0);
    //transition: border 0.3s ease-in-out;
}

.nav-open ul.mobile-navigation {
    border-top: 1px solid rgba(8,40,64,1);
    //transition-delay: 0.3s;
}


#nav-icon3 {
  width: 26px;
  height: 19px;
  position: relative;
  display: none;
  margin: 12px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon3 span{
  display: block;
  position: absolute;
  height: 1px;
  width: 100%;
  background: #fff;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}


.title-bar .menu{
  margin-bottom: 0;
} */