/* 
$breakpoints: (
    "phone":        400px,
    "phone-wide":   480px,
    "phablet":      560px,
    "tablet-small": 640px,
    "tablet":       768px,
    "tablet-wide":  1024px,
    "desktop":      1248px,
    "desktop-wide": 1440px,
    "desktop-hd":   1920px,
    "desktop-uhd":  2560px;px
);px 
*/

$breakpoints: (
  "phone":          25em, 
  "phone-wide":     30em, 
  "phablet":        35em, 
  "tablet-small":   40em, 
  "tablet":         48em, 
  "tablet-wide":    64em, 
  "desktop":        78em, 
  "desktop-wide":   90em, 
  "desktop-hd":     118em, 
  "desktop-uhd":    160em
  );





//example
// @include mq('phone', $type:max){
//min-height: 600px;
//}



@mixin mq($width, $type: min) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);

    @if $type == max {
      $width: $width - 0.1em;
    }

    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}


$mq-phone-small: "(max-width: #{bp-phone-small})";
$mq-phone: "(min-width: #{bp-phone})";
$mq-phone-wide: "(min-width: #{bp-phone-wide})";
$mq-phablet: "(min-width: #{bp-phablet})";
$mq-tablet-small: "(min-width: #{bp-tablet-small})";
$mq-tablet: "(min-width: #{bp-tablet})";
$mq-tablet-wide: "(min-width: #{bp-tablet-wide})";
$mq-desktop: "(min-width: #{bp-desktop})";
$mq-desktop-wide: "(min-width: #{bp-desktop-wide})";
$mq-desktop-hd: "(min-width: #{bp-desktop-hd})";
$mq-desktop-uhd: "(min-width: #{bp-desktop-uhd})";
$mq-retina: "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)";