@mixin col-ready(){
	width: 100%;
	position: relative;
}


@mixin left-link(){
	.link{
	left: 0;
}
}



@mixin narrow-single-col(){
h3, h4, p, div > p  {
	@include make-col-ready();
	width: 45%;
	max-width: 45%;
/* 	padding-left: 0px;
padding-right: 0px; */
	margin-right: 35%;
}
}

@mixin make-row(){
// margin-left: 0;
// margin-right: 0;
// width: 100%;
}


// @mixin wide-container(){
// 	@include mq('phone'){}	
// 	@include mq('phone-wide'){}	
// 	@include mq('phablet'){}	
// 	@include mq('tablet-small'){}	
// 	@include mq('tablet'){}	
// 	@include mq('tablet-wide'){
// width: 99rem;
// max-width: 99rem;
// /* 	width: 78.5%;
// max-width: 78.5%; */
// 	}	
// 	@include mq('desktop-wide'){}	
// 	@include mq('desktop-hd'){}	
// 	@include mq('desktop-uhd'){}	
// }



//FLEX CONTAINERS

@mixin rows(){
display: flex;
flex-direction: row;
}

@mixin cols(){
display: flex;
flex-direction: column;
}


//FLEX CONTAINERS & ITEMS

@mixin split-cols(){
@include rows();
@include make-row();

.content1, .content2{
    @include make-col-ready();
    @include make-col(6);
}
}


@mixin split-rows(){
@include rows();
@include make-row();
.content1, .content2{
    @include make-col-ready();
    @include make-col(12);
}
}
/* 
@mixin narrow(){
	width: 30%;
	max-width: 30%;
} */


// CONTENT ALIGNMENT

@mixin push-auto(){
	margin-left: auto;
	margin-right: auto;
}

@mixin push-right(){
	margin-left: 100%;
}



// //horz / vert center column with set height
@mixin center-middle(){
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
}





// }
//.left-center
%left-middle{
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: center;
text-align: left;
}

@mixin left-middle(){
	display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: center;
text-align: left;

}

//left / vert top
%left-top{
	display: flex;
flex-direction: column;
align-items: flex-start;
text-align: left;
}

@mixin left-top{
display: flex;
flex-direction: column;
align-items: flex-start;
text-align: left;
}


%center-top{
	display: flex;
	flex-direction: column;
	align-items: center;
}

@mixin center-top(){
	display: flex;
	flex-direction: column;
	align-items: center;
}



@mixin push-middle(){

@include mq('tablet-wide'){

}
@include mq('desktop'){

}
}

@mixin flush-left{
@include make-row();
display: flex;
flex-direction: column;
align-items: flex-start;
text-align: left;
.content-container{
	flex-direction: column;
}
.content1, .content2{
	@include make-col-ready();
	@include make-col(12);
/* 	padding-left: 0px;
padding-right: 0px; */
}
.content2{
	@include vr($margin-top: 1,);
}
}


@mixin flush-cols-left{
@include make-row();
display: flex;
flex-direction: column;
align-items: flex-start;
text-align: left;

.content1, .content2{
	@include make-col-ready();
	@include make-col(6);
/* 	padding-left: 0px;
padding-right: 0px; */
}
.content2{
	@include vr($margin-top: 1,);
}
}













@mixin queue(){
%flexbox{
    @include row();
    @include cols();

       // @include center-top();

}
}



@mixin stack(){
%flexbox{
    @include row();
    @include rows();
          // @include center-top();

}
}











//flexbox configurations





.col-list{

}


.col-rows{

}

.rows-cols{

}

.row-list{

}
