//homepage splash sublist dividers
.hide-1 { }
.hide-2 { }
.hide-3 { }
.hide-4 { }
.br,
.br-2,
.br-3,
.br-4 { display: none; height: 0; line-height: 0; }
.br__opt,
.br { display: none; line-height: 0; }
@media (min-width:14em) {
    .page__header h3 { .br { display: block; }
    }
    .my-value__container__modernize h3 { .br { display: none; }
    }
}
@media (min-width:19em) {
    .my-value__container__optimize h3 { .br__opt { display: block; }
    }
}
@media (min-width:25em) { }
@media (min-width:30em) { }
@media (min-width:35em) { }
@media (min-width:40em) { }
@media (min-width:48em) {
    .br__opt { display: block; }
    #main > section > article:nth-child(3) > div > div > hgroup > h3 { .br { display: block; }
    }
}
@media (min-width:64em) {
    .br { display: none; }
}
@media (min-width:78em) { }
@media (min-width:90em) { }
@media (min-width:120em) { }
@media (min-width:160em) { }
.nope { position: absolute; overflow: hidden; width: 100%; height: 100%; }
[aria-hidden="true"] { display: none; }
[aria-hidden="false"] { display: block; }
#home__splash p { .br { display: block; }
}

/* // .scroll-top {
//     display: none;
// } */
.panel.business-value.grow > div > hgroup > h3 > br,
.panel.business-value.modernize > div > hgroup > h3 > br { display: none; }
.diagram-content__end-to-end--horizontal { display: none;
    @media (min-width:300px) { }
    @media (min-width:400px) { }
    @media (min-width:576px) { }
    @media (min-width:768px) { }
    @media (min-width:992px) {
    display: block; }
    @media (min-width:1200px) { }
    @media (min-width:1400px) { }
    @media (min-width:1600px) { }
    @media (min-width:1900px) { }
}

/*      @include media-breakpoint-up(sm) {
    display: none;
    }
@include media-breakpoint-up(md) {
        display: none;
      }
@include media-breakpoint-up(lg) {
            display: block;
        }
@include media-breakpoint-up(xl) {
    }
    
} */

/*      @include media-breakpoint-up(sm) {
    
    }
@include media-breakpoint-up(md) {
    }    
@include media-breakpoint-up(lg) {
            display: none;
        }
@include media-breakpoint-up(xl) {
    } */

.hvr-underline-from-center { display: inline-block; vertical-align: middle; -webkit-transform: perspective(1px) translateZ(0); transform: perspective(1px) translateZ(0); box-shadow: 0 0 1px rgba(0, 0, 0, 0); position: relative; overflow: hidden; }
.hvr-underline-from-center:before { content: ""; position: absolute; z-index: -1; left: 51%; right: 51%; bottom: 0; background: $navbar-all-text-hover-color; height: 1px; -webkit-transition-property: left, right; transition-property: left, right; -webkit-transition-duration: 0.3s; transition-duration: 0.3s; -webkit-transition-timing-function: ease-out; transition-timing-function: ease-out; }
.hvr-underline-from-center:hover:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:active:before { left: 0; right: 0; }

/* Sweep To Top */
.sweep-to-top { @include hacks; position: relative; @include prefixed(transition-property, color); @include prefixed(transition-duration, $mediumDuration);
    &:before { content: ""; position: absolute; z-index: -1; top: 0; left: 0; right: 0; bottom: 0; background: $activeColor; @include prefixed(transform, scaleY(0)); @include prefixed(transform-origin, 50% 100%); @include prefixed(transition-property, transform); @include prefixed(transition-duration, $mediumDuration); @include prefixed(transition-timing-function, ease-out); }
    &:hover,
    &:focus,
    &:active { color: white;
        &:before { @include prefixed(transform, scaleY(1)); }
    }
}


.read-more__outcomes, .read-more__optimize, .read-more__value, .read-more__modernize, .panel__content_dev-design--read-more,.panel__content_planning-analysis--read-more, .panel__content_ops-management--read-more{
    display: none;
}