/* Coolors Exported Palette - coolors.co/778899-52d1dc-475b5a-bbbbbf-000000 */

/* HSL */
$color1: hsla(210%, 14%, 53%, 1);
$color2: hsla(185%, 66%, 59%, 1);
$color3: hsla(177%, 12%, 32%, 1);
$color4: hsla(240%, 3%, 74%, 1);
$color5: hsla(0%, 0%, 0%, 1);

/* RGB */
$color1: rgba(119, 136, 153, 1);
$color2: rgba(82, 209, 220, 1);
$color3: rgba(71, 91, 90, 1);
$color4: rgba(187, 187, 191, 1);
$color5: rgba(0, 0, 0, 1);