// ==========================================================================
// Responsive Text Functions & Controls
// ==========================================================================

// These values are the minimum and maximum viewport sizes to apply the font scaling
$min_width:                 300;
$max_width:                 3000;
// These values represent the range of font-size to apply
// These values effect the base font-size, headings and other elements will scale proportionally
$min_font:                 8;
$max_font:                  30; 

:root { font-size: #{$min_font}px; }

@media (min-width: #{$min_width}px) and (max-width: #{$max_width}px) {
  :root { 
    font-size: calc(#{$min_font}px + (#{$max_font} - #{$min_font}) * ( (100vw - #{$min_width}px) / ( #{$max_width} - #{$min_width})));
  }
}
@media (min-width: #{$max_width}px) {
  :root { 
    font-size: #{$max_font}px;
  }
}


// ==========================================================================
// Modular Scale Controls
// ==========================================================================
// $modularscale: (base: 1rem, ratio: 1.33);


$modularscale: (
  base: .5rem,
  ratio: 1.5,
  320px: (
    base: .75rem,
    ratio: 1.5,
    ),
  576px: (  
    base: 1rem,
    ratio: 1.3,
  ),
  768px: (
    base: 1rem,
    ratio: 1.3,
  ),
  992px: (
    base: 1rem,
    ratio: 1.3,
  ),
  1200px: (
    base: 1rem,
    ratio: 1.3,
  ),
);

// ==========================================================================
// Modular Scale Variables
// ==========================================================================

$ms--10:                    ms(-10);
$ms--9_5:                   ms(-9.5);
$ms--9:                     ms(-9);
$ms--8_5:                   ms(-8.5);
$ms--8:                     ms(-8);
$ms--7:                     ms(-7);
$ms--6_5:                   ms(-6.5);
$ms--6:                     ms(-6);
$ms--5:                     ms(-5);
$ms--4_5:                   ms(-4.5);
$ms--4:                     ms(-4);
$ms--3_5:                   ms(-3.5);
$ms--3:                     ms(-3);
$ms--2_5:                   ms(-2_5);
$ms--2_25:                  ms(-2.25);
$ms--2:                     ms(-2);
$ms--1_75:                  ms(-1.75);
$ms--1_5:                   ms(-1.5);
$ms--1_25:                  ms(-1.25);
$ms--1:                     ms(-1);
$ms--_75:                   ms(-0.75);
$ms--_5:                    ms(-0.5);
$ms--_25:                   ms(-0.25);
$ms--_15:                   ms(-0.15);
$ms-0:                      ms(0);
$ms-_15:                    ms(0.15);
$ms-_25:                    ms(0.25);
$ms-_5:                     ms(0.5);
$ms-_75:                    ms(0.75);
$ms-1:                      ms(1);
$ms-1_25:                   ms(1.25);
$ms-1_5:                    ms(1.5);
$ms-1_75:                   ms(1.75);
$ms-2:                      ms(2);
$ms-2_25:                   ms(2.25);
$ms-2_5:                    ms(2_5);
$ms-2_75:                   ms(2_75);
$ms-3:                      ms(3);
$ms-3_5:                    ms(3.5);
$ms-4:                      ms(4);
$ms-4_5:                    ms(4.5);
$ms-5:                      ms(5);
$ms-5_5:                    ms(5.5);
$ms-6:                      ms(6);
$ms-6_5:                    ms(6.5);
$ms-7:                      ms(7);
$ms-7_25:                   ms(7.25);
$ms-7_5:                    ms(7.5);
$ms-7_75:                   ms(7.75);
$ms-8:                      ms(8);
$ms-8_5:                    ms(8.5);
$ms-9:                      ms(9);
$ms-9_5:                    ms(9.5);        
$ms-10:                     ms(10);
$ms-10_25:                  ms(10.25);
$ms-10_5:                   ms(10.5);
$ms-10_75:                  ms(10.75);
$ms-11:                     ms(11);
$ms-11_25:                  ms(11.25);
$ms-11_5:                   ms(11.5);
$ms-11_75:                  ms(11.75);
$ms-12:                     ms(12);
$ms-12_25:                  ms(12.25);
$ms-12_5:                   ms(12.5);
$ms-13:                     ms(13);    
$ms-13_5:                   ms(13.5);  
$ms-14:                     ms(14);
$ms-15:                     ms(15);
$ms-16:                     ms(16);




