// SEE SPLASH ARTCILE STYLES FOR HOME SPLASH SETTINGS */

.core{
   @include left-middle();
   @include split-rows();
    h1 {
        @extend .page__title;
       
    }

    h2 {
              @extend %headline;

    }

    h3 {
 /*         @extend %display-text-lg;  */
    @extend %subhead;
    font-weight: 300;
    }

    h4{
        @extend %display-text-lg;
        font-weight: 300;
        text-transform: uppercase;
    }

    h5{
        @extend %display-text;
        font-weight: 400;
        letter-spacing: .05em;
    }
    p {
    @extend %display-text-lg;
    }
p.caption{
    @extend %display-text-sm;
     letter-spacing: .025em;
     text-align: justify;
}
    
    .link{
        position: relative;
        @include vr($margin: 4 auto);
      // bottom: 20rem;
      @include mq('tablet-wide'){
        // bottom: 10rem;
      }

    }
/*     & :nth-last-child(2){
  flex: .25 0 auto;
} */
    .content-container{
    @include split-rows();
    flex-direction: column;
}

    @include mq('tablet-wide'){

    @include split-cols();
}
}



/* ////////////////////////////////////////////////////////////////////////// */
/* //////////////////////            proof        /////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////*/
//container styles
.content__container_row{display: flex; flex-direction: row;}
.content__container_col{display: flex; flex-direction: column;}
.content__item_col{display: flex; flex-direction: column;}
.content__item_row{display: flex; flex-direction: row;}
.content__block{width: 100%; max-width: 100%;flex: 0 0 auto;}


#article__container--strategy{
h3{
    @extend %subhead-lg;
}
}
.strategy__content{

@include make-row();
margin-left: 0px;
margin-right: 0px;
width: 100%;
max-width: 100%;
}

ul#list__strategy_container{
    @include vr($padding-left: 2, $margin-top: 0);
    list-style: none;
}

ul#list__strategy_container>li{
        @include vr($font-size: 1, $line-height: 2);
    }

.list__header{
        @include vr($font-size: 1, $line-height: 1.5, $margin-bottom: 1, $padding-left: 2);
        font-weight: 400;
        text-transform: uppercase;
    }
#strategy__caption{
    @include vr($font-size: 1, $padding-left: 2);
    font-style: italic;
    font-family: $font-family-serif;
}

.strategy__copy{
    @include make-col-ready();
    @include make-col(5);
    padding-left: 0px;
    padding-right: 0px;
    justify-content: center;
}
.strategy__img{
    @include make-col-ready();
    @include make-col(7);
    padding-left: 0px;
    padding-right: 0px;
    .cls-1, .cls-3{
        fill: $primary;
    }
}

.footnote{
    @include vr($font-size: 0);
    font-style: italic;
    margin-top: 4em;
    margin-left: auto;
    margin-right: 10%;
}

//container artcile styles
#article__container--proof{

h2{
align-text: center;
@include push-auto();
    }
h3{
    @include vr($width: 28, $line-height: 3);
    align-text: justify;
    @include push-auto();
}
.content__container_col{}
.content__block{}
h4{}
h5{
    @include vr($font-size: 2);
    letter-spacing: 0;
    font-weight: 400;
}
p{} 
.content__item_col{}
}

.proof__item_container{

    @include make-col-ready();
    @include make-col(12);
    padding: 6em;
    @include mq('desktop'){
    @include make-col(4);
    padding: 4em;
}
}

.content__item_caption{
    padding: 1em;
}
h2.proof-intro{
            font-family: $font-family-serif;
        @include vr($font-size: 4);
         color: $primary;

}

h2.proof-intro, .proof__item_container h5{
    text-align: center;
         
}




#trend-arrow, #end2end__diagram_container, #stats-slider{
    width: 100%;
    display: block;
    @include push-auto();
} 

#trend-arrow{
    z-index: -1;
    height: 35em;
    top: 5em;
    left: -2em;
    width: 125%;
    svg#Layer_1{
        width: 90%;

    }
    .st0{
       fill:rgba(106, 173, 217, .5);
    }
}

#proof__content_marketer > div > p > em{
    color: $primary;
    font-weight: 300;
    } 



#proof__content_end2end{
}
#end2end__diagram_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.end2end__diagram_img, .end2end__diagram_img--dollar{
    @include make-col-ready();
    @include make-col(4);
    svg#Layer_1{
        width: 80%;
         display: block;
        @include push-auto();
    }
}



.end2end__diagram_img--plus, .end2end__diagram_img--equal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $primary;
    @include vr($font-size: 3, $margin: 2 auto 2 auto);
}


.end2end__diagram_img--dollar{
text-align: center;
@include vr($font-size: 4, $margin: 1 0 1 0);
}

#proof__content_vitae{}
.vitae__stats{}
#stats-slider{
    @include vr($margin-bottom: 1);
} 



.quals svg{
width: 30%;
margin: 0 auto;
display: block;
@include mq('phone'){}
@include mq('tablet'){
/* height: 25em; */
}
@include mq('desktop'){
/*     height: 8em; */
}
}



.quals{
 float: left;
 padding-left: 15px;
 padding-right: 15px;
 @include vr($margin: 2 0 2 0);
 @include make-col-ready();
 @include make-col(12);
@include mq('desktop'){
    @include make-col(4);
}

}

/* #odd-stats{
 @include make-col(3);
 height: 100%;
} */




    .vitae__stats {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

         .vitae__stats.carousel {
            overflow: hidden;
            display: block;
          /*   @include vr($margin-top: 1, $margin-bottom: 3 ); */
            }

    .vitae__stats--title {
        margin-top: 4rem;
        text-align: center;

        /*        border: 1rem solid #111;
        padding: 2rem 0; */
        display: none;
    }

.carousel-control-prev-icon,
.carousel-control-next-icon {
height: 2em;
width: 2em;
}

#stats-slider > .carousel-inner{
width: 90%;
min-height: 10em;
display: block;
@include push-auto();
}

#stats-slider{
/* @include vr($margin-top: 3, $margin-bottom: 3); */
}

 .carousel-control-next-icon{
    right: 0;
    margin-left: auto;
 } 
 .carousel-control-prev-icon{
    left: 0;
    margin-right: auto;
 }
  
    

    #digits {
        color: $qualifications-icon-fill-color;
    }

    .cls-1 {
        fill: $qualifications-icon-fill-color;
    }

    // #stats-order-9, #stats-order-13 {
    //     .cls-1 {}
    // }



    .divider__hr {
        width: 4rem;

        @include push-auto;
        @include vr($margin-top: 2);
    }

  
    .stats-caption{
     @extend %caption;
     position: relative;
     padding-top: 0;
     padding-bottom: 0;
     bottom: 0;
     width: 100%;
     margin-top: 0;
     left: 0;

    }

    .stats-caption h6{
          @include vr($font-size: 1, $margin-bottom: 0, $margin-top: 0, $line-height: 1.25);
          @include push-auto();
          font-weight: 400;
           color: $gray-600;
          letter-spacing: .03em;
    }

/*     .carousel-control-prev{
 display: block;
 height: 3rem;
 width: 3rem;
} */









    // .quals svg{
    //  width: 50%;
    // }


    @include mq("tablet-wide") {
        .content-container {
            @include split-cols;
        }

        .divider__hr {
            display: none;
        }

        .stats {
            display: block;
            flex: none;
        }

        .vitae__stats.carousel {
            // height: 50rem;
            overflow: hidden;
            display: block;
        }
    }


#proof__service{}
#bell__small{
    svg#Layer_1{
        fill: $primary;
            width: 20%;
    display: block;
    @include vr($margin: 4 auto 0 auto);
}
}



h5{}
p.caption{}
.content__item_row{}
.content__item_img{}

.link{}


.content__container_row{}



