.services { 
   
    h1 { @extend %subhead; }
    h2 { @extend %display-text-sm;}
    h3 { @extend %display-text; font-weight: 400;}
    p  { @extend %display-text-sm; }
    li { @extend %list-item; color: #111;}
%subhead{
    @include vr($margin-bottom: 0);
}
%display-text-sm{
    @include vr ($margin:0 0 2 0);
}

}



.services__list_list-item{
    @extend %list-item;
}

.panel__head{}
.panel__head_headers{
  text-align: center;


 %subhead-sm{
  @include vr($margin-bottom: 3);
}
}
.services__panel-head{
  @extend %subhead-sm;
}

.services__panel{
  @include vr($padding: 4 0);
}

.panel__content{
  max-width: 25em;
  @include push-auto();
  @include vr($margin-bottom: 1);
}

.panel__content_summary{
  @extend %display-text-sm;
 @include vr($margin-bottom: 1);
}

.panel__content_list > ul{
padding-inline-start: 0;
padding-left: 0;
list-style-position: inside;
}

//
// panel images 
//
.services__panel_img--webdev{
width: 40em;
}


.services__panel_img--marcom{
  width: 20em;
  display: block;
  @include push-auto();  
}

#blue_a{
  width: 20em;
}

.panel__head_img--services{
  width: 100%;
  @include vr($margin-bottom: 2);
}

.moreless-button__services{
  @include push-auto();
  width: 10em;
  @include vr($margin-top:2);
}


// ==========================================================================
// planning & analysis panel customizations
// ==========================================================================
.services__panel_img--marcom{
  width: 20em;
  display: block;
  @include push-auto();
}

.blueA{
      #A_outline{
      stroke: $primary;
    } 
    #pattern, #grid{
      stroke: #b3b3b3;
    }
    #dots, #solid_dots{
      fill: #b3b3b3;
    } 
}
.blueA-reversed{
      #A_outline{
      stroke: $primary;
    } 
    #pattern, #grid{
      stroke: $tungsten;
    }
    #dots, #solid_dots{
      fill: $tungsten;
    } 
}


.planning-analysis__panel{
  background: $black;
  @extend .blueA-reversed;
} 

.services__panel-head--planning, .panel__content_planning, li.list-item__planning{
  color: $offwhite;
}

 .my-capabilities{
  padding-top: 4rem;
    h1 {
        @extend .page__title;
        flex: 0 0 auto;
        margin-top: auto;
    }

    h2 {
        @extend %subhead;
        flex: 0 0 auto;

    }

    h3 {
        flex: 0 0 auto;
    @extend %display-text-lg;
    font-weight: 400;
    }

    h4{
     flex: 0 0 auto;
/*      @extend %display-text-lg; */
    }
 /*         @extend %display-text-lg;  */

    p {
        @extend %display-text;
        flex: 0 0 auto;
        margin-bottom: auto;

    }
}

.skills{
    .link__advance--chevron{
position: relative;
}
}


.my-capabilities__main-page{
 position: relative;
}

.capabilities__main-page_menu{
@include vr($margin-top: 4);
}

.my-capabilities__container__skills{
    position: relative;
}


.capabilities__menu_item{
display: flex;
flex-direction: row;
 cursor: pointer;
 width: 100%;
 max-width: 100%;
 justify-content: flex-start;
 align-items: center;
 @include vr($margin: 3 0);
  %subhead-sm, %display-text-sm{
  @include vr($margin: 0);
}
.link{
  @include vr($margin-bottom: 0);
}
%subhead-sm{
  @include vr($font-size: 16px);
}
   %display-text-lg{
      @include vr($line-height: 1.75, $margin-bottom: .25);
    }
}



.capabilities__menu_item--content h3{
@extend %subhead-sm;
}

.capabilities__menu_item > div > p{
@extend %display-text-sm;
}

#mobile-icon{
@include vr($padding: .5); 
}

 #gears-icon{
@include vr($padding: 1); 
}


.capabilities__menu_icon{
@include make-col-ready();
@include make-col(3);
margin-top: -8em;
}



.capabilities__menu_item--content{
 @include cols();
 @include make-col-ready();
 @include make-col(9);
 justify-content: flex-start;
 @include vr($padding-left: 1);
}

#capabilities__menu_link{
position: relative;
bottom: unset;
flex: 0 0 auto;
@extend %body-text;
font-style: italic;
@include vr($margin-top: 1);
}     


.overlay__content--icon {
      fill: $capabilities-overlay-icon-fill-color;
    .cls-1, .cls-2 {
        fill: $capabilities-overlay-icon-fill-color;
    }
}

.capabilities__overlay--webdev {
    margin-bottom: 3rem;
}


#expt-overlay-1.show, #expt-overlay-2.show, #expt-overlay-3.show, #expt-overlay-4.show, #expt-overlay-5.show {
    opacity: 1;
    visibility: visible;
}
