#home__splash{
       @include center-middle();
      padding-left: 0;
      padding-right: 0;
  h3{
    @extend %display-text-lg;
              
                         font-weight: 400;
                         @include vr($width: 25);

  }
    p {
        @extend %body-text-lg;
        font-style: italic;
                    @include vr($width: 23);
    }
    .link{
       position: absolute;
  flex: 0 0 0;
  left: 50%;
  bottom: 6em;

    }
  %subhead{
    @include vr($font-size: 1, $margin: 0 0, $line-height: 2.5);
    font-weight: 300;
}
}


.splash__label, .splash__label--emph{
  @extend %subhead;
  flex: 0 0 auto;
}

.splash__label_divider{
    color: $gray-500;
    @include vr($padding: 0 1);
  }

.splash__labels{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}


@include mq('tablet'){
 .splash__labels{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
 %subhead{
  @include vr($font-size: 1);
 }
 .splash__label_divider{
 display: flex;
 @include vr($padding: 0 1);
 }
 }   
}




  



#splash__label_label--emph{
  color: $primary;
  font-weight: 600;
}


   
 
#management__splash{
   h1{ 
    @extend .page__title;
    margin-top: unset;
    font-weight: 300;
}

  > h2{
    @extend %title;
      }

h3{
  @extend %body-text-lg;
  font-style: italic;
}
}

#development__splash{
   h1{ 
    @extend .page__title;
    margin-top: unset;
    font-weight: 300;
}

  > h2{
    @extend %title;
      }

h3{
  @extend %body-text-lg;
  font-style: italic;
}
}




#about-me__splash{
    h2{
        margin-bottom: auto;
    }
}

#why-me__splash{
    ul {
        list-style-type: none;
        margin-bottom: auto;
        padding-left: 0;
    }

    ul li{
              @include vr($font-size: 2, $line-height: 4);
    }   

       .link{
        bottom: 10rem;
        left: 4rem;

    }
  }
    
/* ol li:nth-child(4){
      list-style-type: none;
      margin-left: -2rem;
      @extend %body-text;
      @include vr($font-size: 1, $line-height: 4);
      &:before{
        content: '(bonus)';
        line-height: inherit;
  } */

    


 


#my-expertise__splash{
        @include center-middle();
       height:  100vh;
       h3{
        margin-bottom: auto;
    }
}


/* @extend %center-center; */





/* 
/////////////////////////////////////////////

@mixin two-rows(){
.conbox{
    @extend %row;
    @extend %center-top;

.content1, .content2{
    @include make-col-ready();
    @include make-col(6);
}
}
}







.whatiam{
   @include queue();
       @include center-center()
   @media (min-width: 90em){
        @include stack();

}
}
 */











