/* Coolors Exported Palette - coolors.co/778899-2f97c1-1ccad8-15e6cd-0cf574 */

/* HSL */
$color1: hsla(210%, 14%, 53%, 1);
$color2: hsla(197%, 61%, 47%, 1);
$color3: hsla(184%, 77%, 48%, 1);
$color4: hsla(173%, 83%, 49%, 1);
$color5: hsla(147%, 92%, 50%, 1);

/* RGB */
$color1: rgba(119, 136, 153, 1);
$color2: rgba(47, 151, 193, 1);
$color3: rgba(28, 202, 216, 1);
$color4: rgba(21, 230, 205, 1);
$color5: rgba(12, 245, 116, 1);