/* Coolors Exported Palette - coolors.co/778899-885053-fe5f55-94c9a9-c6ecae */

/* HSL */
$color1: hsla(210%, 14%, 53%, 1);
$color2: hsla(357%, 26%, 42%, 1);
$color3: hsla(4%, 99%, 66%, 1);
$color4: hsla(144%, 33%, 68%, 1);
$color5: hsla(97%, 62%, 80%, 1);

/* RGB */
$color1: rgba(119, 136, 153, 1);
$color2: rgba(136, 80, 83, 1);
$color3: rgba(254, 95, 85, 1);
$color4: rgba(148, 201, 169, 1);
$color5: rgba(198, 236, 174, 1);