/* Coolors Exported Palette - coolors.co/778899-eaeaea-cbc5ea-313d5a-183642 */

/* HSL */
$color1: hsla(210%, 14%, 53%, 1);
$color2: hsla(0%, 0%, 92%, 1);
$color3: hsla(250%, 47%, 85%, 1);
$color4: hsla(222%, 29%, 27%, 1);
$color5: hsla(197%, 47%, 18%, 1);

/* RGB */
$color1: rgba(119, 136, 153, 1);
$color2: rgba(234, 234, 234, 1);
$color3: rgba(203, 197, 234, 1);
$color4: rgba(49, 61, 90, 1);
$color5: rgba(24, 54, 66, 1);