.cta{
   @include left-middle();
   height: 100vh;

    h1 {
        margin-top: auto;
        flex: 0 0 auto;
        @extend %title;
       
    }

    h2 {
        flex: 0 0 auto;
              @extend %subhead-lg;
    }

    h3 {
        flex: 0 0 auto;
              @extend %display-text-lg;
    }

    p {
        flex: 0 0 auto;
        margin-bottom: auto;
              @extend %body-text-lg;

    }
    .link{
    	position: absolute;
      bottom: 20rem;
      left: 50%;
      flex: .25 0 auto;
      @include vr($font-size: 2, $margin: unset);
    }

    .link__advance--text{
      position: relative;
      bottom: unset;
      left: unset;
    }
}