// ==========================================================================
// Line Height Variables
// ==========================================================================
$line-height-0:         $rvr-0;  
$line-height-_05:       $rvr-_05;
$line-height-_15:       $rvr-_15;
$line-height-_25:       $rvr-_25;
$line-height-_5:        $rvr-_5; 
$line-height-_6:        $rvr-_6; 
$line-height-_75:       $rvr-_75;
$line-height-1:         $rvr-1;  
$line-height-1_5:       $rvr-1_5;
$line-height-1_75:      $rvr-1_75;
$line-height-2:         $rvr-2;
$line-height-2_25:      $rvr-2_25;    
$line-height-2_5:       $rvr-2_5;
$line-height-2_75:       $rvr-2_75;
$line-height-3:         $rvr-3;  


// ==========================================================================
// Line Height Variables (to be used in mixins)
// ==========================================================================

.body-line-height{
              line-height: $rvr-1_75;
       @include media-breakpoint-up(sm) {
 
    }
        @include media-breakpoint-up(md) {
    }
        @include media-breakpoint-up(lg) {
    }
        @include media-breakpoint-up(xl) {
    }
    
}

.display-line-height{
    line-height: $rvr-1_75;
        @include media-breakpoint-up(sm) {
    }
        @include media-breakpoint-up(md) {
    }
        @include media-breakpoint-up(lg) {
    }
        @include media-breakpoint-up(xl) {
    }
    
}

.headings-line-height{
     line-height: $rvr-4;
       @include media-breakpoint-up(sm) {

    }
        @include media-breakpoint-up(md) {
    }
        @include media-breakpoint-up(lg) {
    }
        @include media-breakpoint-up(xl) {
    }
    
}