$new-primary: #68ABD8;
$new-secondary: #111111; 
$new-palette1: #636ce5;
$new-palette1: #6794ef;
$new-palette1: #67dcef;
$new-palette1: #63e5d3;




$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$grays: () !default;
$grays: map-merge((
  "100": $gray-100,
  "200": $gray-200,
  "300": $gray-300,
  "400": $gray-400,
  "500": $gray-500,
  "600": $gray-600,
  "700": $gray-700,
  "800": $gray-800,
  "900": $gray-900
), $grays);

 
$slate-tints: () !default;
$slate-tint-100: #f1f3f4;
$slate-tint-200: #e3e7ea;
$slate-tint-300: #d6dbe0;
$slate-tint-400: #c8cfd6;
$slate-tint-500: #bbc3cc;
$slate-tint-600: #adb7c1;
$slate-tint-700: #9fabb7;
$slate-tint-800: #929fad;
$slate-tint-900: #8493a3;


$slate-tints: () !default;
$slate-tints: map-merge((
  "100": $slate-tint-100,
  "200": $slate-tint-200,
  "300": $slate-tint-300,
  "400": $slate-tint-400,
  "500": $slate-tint-500,
  "600": $slate-tint-600,
  "700": $slate-tint-700,
  "800": $slate-tint-800,
  "900": $slate-tint-900
), $slate-tints);


$slate-shades: () !default;
$slate-shade-100: #6b7a89;
$slate-shade-200: #5f6c7a;
$slate-shade-300: #535f6b;
$slate-shade-400: #47515b;
$slate-shade-500: #3b444c;
$slate-shade-600: #2f363d;
$slate-shade-700: #23282d;
$slate-shade-800: #171b1e;
$slate-shade-900: #0b0d0f;

$slate-shades: () !default;
$slate-shades: map-merge((
  "100": $slate-shade-100,
  "200": $slate-shade-200,
  "300": $slate-shade-300,
  "400": $slate-shade-400,
  "500": $slate-shade-500,
  "600": $slate-shade-600,
  "700": $slate-shade-700,
  "800": $slate-shade-800,
  "900": $slate-shade-900
), $slate-shades);



$primaryrgba:                       rgba(153, 165, 177, 1);
$tungstenrgba:                      rgba(210, 219, 226, 1);
$slatergba:                         rgba(119,136,153, 1);
$slate-dark:                        #3b444c;
$slate-dark-rgba:                   rgba(59,68,76, 1);
$offwhite1:                         rgba(253, 253, 253, 1);
$offwhite:                          rgba(250,250,250, 1);
$ghostwhite:                        #F8F8FF;
                                    
                                    
$slate:                             #778899;
$tungsten:                          #D2DBE2;
$blue:                              #007bff !default;
$indigo:                            #6610f2 !default;
$purple:                            #6f42c1 !default;
$pink:                              #e83e8c !default;
$red:                               #dc3545 !default;
$orange:                            #fd7e14 !default;
$yellow:                            #ffc107 !default;
$green:                             #28a745 !default;
$teal:                              #20c997 !default;
$cyan:                              #17a2b8 !default;
$offwhite1:                         rgba(253, 253, 253, 1);
$offwhite:                          rgba(250,250,250, 1);
$ghostwhite:                        #F8F8FF;
                                 
                                 
$colors: () !default;
$colors: map-merge((
  "slate":                          $slate,
  "tungsten":                       $tungsten,
  "blue":                           $blue,
  "indigo":                         $indigo,
  "purple":                         $purple,
  "pink":                           $pink,
  "red":                            $red,
  "orange":                         $orange,
  "yellow":                         $yellow,
  "green":                          $green,
  "teal":                           $teal,
  "cyan":                           $cyan,
  "white":                          $white,
  "gray":                           $gray-600,
  "gray-dark":                      $gray-800
), $colors);



$primary:                           $new-primary;
$secondary:                         $new-secondary;
$accent:                            darken($new-primary, 20%);
$title-color:					              inherit;
$headline-color:				            inherit;
$subhead-color:					            inherit;
$display-text-color:			          inherit;
$body-text-color:                   inherit;
$para-color: 					              inherit;

$link-color:                        $accent;
$link-decoration:                   $orange;
$link-hover-color:                  $indigo;
$link-hover-decoration:             none;

$success:                  		      $green;
$info:                     		      $cyan;
$warning:                  		      $yellow;
$danger:                   		      $red;
$light:                    		      $gray-100;
$dark:                     		      $gray-800; 

$theme-colors: () !default;
$theme-colors: map-merge((
  "primary":    				            $primary,
  "secondary":  				            $secondary,
  "accent":     				            $accent,
  "success":    				            $success,
  "info":       				            $info,
  "warning":    				            $warning,
  "danger":     				            $danger,
  "light":      				            $light,
  "dark":       				            $dark
), $theme-colors);

$body-bg:						                $white;



//condensed menu nav-links
$nav-link-padding-y:                2rem;
$nav-link-padding-x:                2rem;


//expanded menu nav-links
$navbar-nav-link-padding-y:			    unset;	
$navbar-nav-link-padding-x:			    2rem;
$navbar-brand-hover-text-decor:		  none;

$navbar-nav-background:				      rgba($black, .6);

$navbar-background-color: 			    $black;
$toggler-background-color:			    $primary;

$navbar-all-text-hover-color:		    $accent;
$navbar-brand-hover-color:			    $navbar-all-text-hover-color;
$navbar-dark-hover-color:           $navbar-all-text-hover-color;
$navbar-dark-color:                 $tungsten;          
$navbar-dark-active-color:          $tungsten;
$navbar-dark-disabled-color:        red;
$navbar-dark-hamburger-icon:		    rgba($white, .5);
$navbar-dark-toggler-border-color:  rgba($white, .1) !default;

$navbar-light-color:                rgba($black, .5) !default;
$navbar-light-hover-color:          rgba($black, .7) !default;
$navbar-light-active-color:         rgba($black, .9) !default;
$navbar-light-disabled-color:       rgba($black, .3) !default;
$navbar-light-hamburger-icon:		    unset;
$navbar-light-toggler-border-color: rgba($black, .1) !default; 


$expertise-overlay-icon-fill-color: $tungsten;
$qualifications-icon-fill-color:    $slate;


$carousel-control-color:            $slate;








// Dropdowns
//
// Dropdown menu container and contents.


$dropdown-bg:                       $white !default;
$dropdown-border-color:             rgba($black, .15) !default;

$dropdown-divider-bg:               $gray-200 !default;
$dropdown-box-shadow:               0 .5rem 1rem rgba($black, .175) !default;

$dropdown-link-color:               $gray-900 !default;
$dropdown-link-hover-color:         darken($gray-900, 5%) !default;
$dropdown-link-hover-bg:            $gray-100 !default;



$dropdown-link-disabled-color:      $gray-600 !default;

$dropdown-item-padding-y:           .25rem !default;
$dropdown-item-padding-x:           1.5rem !default;

$dropdown-header-color:             $gray-600 !default;


$nav-link-disabled-color:           $gray-600 !default;

$nav-tabs-border-color:             $gray-300 !default;

$nav-tabs-link-hover-border-color:  $gray-200 $gray-200 $nav-tabs-border-color !default;
$nav-tabs-link-active-color:        $gray-700 !default;
$nav-tabs-link-active-bg:           $body-bg  !default;
$nav-tabs-link-active-border-color: $gray-300 $gray-300 $nav-tabs-link-active-bg !default;

$navbar-toggler-padding-y:          .25rem    !default;
$navbar-toggler-padding-x:          .75rem    !default;

$navbar-height:                     4em;






/*///////////////// UNUSED BOOTSTRAP VARIABLES ////////////////*/
/* 
$nav-divider-color:                 $gray-200 !default;

*/


