// ==========================================================================
// Font Family Definitions
// ==========================================================================
$font-family-sans-serif:    -apple-system, BlinkMacSystemFont, geomanist, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-monospace:     arial, roboto, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-family-serif:         adobe-garamond-pro, Georgia, Palatino, "Times New Roman", Courier;
$font-family-base:          $font-family-sans-serif;
 

// ==========================================================================
// Font Weights
// ==========================================================================
$font-weight-thin:          100;
$font-weight-light:         200;
$font-weight-normal:        300;
$font-weight-medium:        500;
$font-weight-bold:          500;
$font-weight-black:         700;

// ==========================================================================
// Headings Base Styles
// ==========================================================================

$h1-font-size:              $ms-1;
$h2-font-size:              $ms-2;
$h3-font-size:              $ms-3;
$h4-font-size:              $ms-4;
$h5-font-size:              $ms-5;
$h6-font-size:              $ms-6;

$headings-margin-bottom:    $rvr-2;
$headings-font-family:      inherit;
$headings-font-weight:      600;
$headings-color:            inherit;

// ==========================================================================
// Body Text Base Styles
// ==========================================================================
$body-_5-font-size:			$ms-_5;
$body-_75-font-size:		$ms-_75;
$body-1-font-size:         	$ms-1;
$body-2-font-size:          $ms-2;
$body-3-font-size:          $ms-3;
$body-4-font-size:          $ms-4;
$body-5-font-size:          $ms-5;
$body-6-font-size:          $ms-6;
                            
$body-font-family:          $font-family-serif;
$body-font-weight:          300;
$body-color:                inherit;
$body-margin-bottom:		$rvr-1;

// ==========================================================================
// Display Text Base Styles
// ==========================================================================

$display-1-font-size: 		$ms-1;     
$display-2-font-size: 		$ms-2;     
$display-3-font-size: 		$ms-3;     
$display-4-font-size: 		$ms-4;     
$display-5-font-size: 		$ms-5;     
$display-6-font-size:       $ms-6;
$display-7-font-size:       $ms-7;
                            
$display-font-family:       inherit;
$display-color:             inherit;
$display-font-weight:		300;
$display-margin-bottom:		$rvr-2;

// ==========================================================================
// Misc Text Elements Base Styles
// ==========================================================================
$lead-font-size:            $ms-2;
$lead-font-weight:          400;
$link-color:				$secondary;




