html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    height: 100%;
    // flex-direction: column;
    // height: 100vh;
}


html [type=button] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}



section{}

header{}
title{}
hgroup{}
title{}
figure{}
strong{
    font-weight: 400;
}

article + article{
    padding-top: $rvr-6;
}

h1{font-size: $h1-font-size;}
h2{font-size: $h2-font-size;}
h3{font-size: $h3-font-size;}
h4{font-size: $h4-font-size;}
h5{font-size: $h5-font-size;}
h6{font-size: $h6-font-size;}


h1, h2, h3, h4, h5, h6{
font-family:   $headings-font-family;
color:         $headings-color;        
font-weight:   $headings-font-weight; 
margin-bottom: $headings-margin-bottom;
line-height:   $rvr-2_75;
}

p{
font-size:      $body-3-font-size;
font-family:   $body-font-family;
color:         $body-color;        
font-weight:   $body-font-weight; 
margin-bottom: $body-margin-bottom;
line-height:   $rvr-1_75;
}



.boiler{
font-size:     ms(5.5);
font-family:   $headings-font-family;
color:         $headings-color;        
font-weight:   $headings-font-weight; 
margin-bottom: $headings-margin-bottom;
line-height:   $rvr-2;
}

.headline{
font-size:     $h5-font-size;
font-family:   $headings-font-family;
color:         $headings-color;        
font-weight:   $headings-font-weight; 
margin-bottom: $headings-margin-bottom;
line-height:   $rvr-2_75;
}

.subhead{
font-size:     $h3-font-size;
font-family:   $headings-font-family;
color:         $headings-color;        
font-weight:   400; 
margin-bottom: $headings-margin-bottom;
line-height:   $rvr-2_25;
}

.sublist{
    font-size:     $display-4-font-size;
font-family:   $display-font-family;
color:         $display-color;        
font-weight:   $display-font-weight; 
margin-bottom: $display-margin-bottom;
line-height:   $rvr-2_25;    
}

.display{
font-size:     $display-4-font-size;
font-family:   $display-font-family;
color:         $display-color;        
font-weight:   $display-font-weight; 
margin-bottom: $display-margin-bottom;
line-height:   $rvr-2_25;    
}

.body{
font-size:     $body-3-font-size;
font-family:   $body-font-family;
color:         $body-color;        
font-weight:   $body-font-weight; 
margin-bottom: $body-margin-bottom;
line-height:   $rvr-1_75;
}

.lead {
    font-weight: $lead-font-weight;
}


.copy{
    line-height: 1.4;
    font-family: $font-family-serif;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.link{
    font-family: $font-family-sans-serif;
    font-size: $display-3-font-size;
    color: $link-color;
    }





.row{}

// .display-1, .display-2, .display-3, .display-4, .display-5, .display-6, .display-7 {
//     color: unset;
//     font-weight: unset;
//     font-size: unset;
// }
.container{
    padding-left: 30px;
    padding-right: 30px;
}
 .navbar .container{
        padding-left: 15px;
        padding-right: 15px;
        margin: 0 auto;
        position: relative;
    }

@media (min-width: 300px){
     .container{
    width: 340px;
    max-width: 100%
    } 
}

@media (min-width: 576px) {
     .container {
       
    }
}

@media (min-width: 768px) {
    .navbar .container {
        width: 720px;
        max-width: 100%;
    }

     .container {
        width: 540px;
        max-width: 100%;
    }
}

@media (min-width: 992px) {
     .container {
        width: 960px;
        max-width: 100%;
    }
}

@media (min-width: 1200px) {
     .container {
        width: 1140px;
        max-width: 100%;
    }
}

@media (min-width: 1400px) {
     .container {
        max-width: 1200px;
    }
}

@media (min-width: 1600px) {
     .container {
        max-width: 1400px;
    }
}

@media (min-width: 1900px) {
     .container {
        max-width: 1600px;
    }
}

@media (min-width: 3000px){
.navbar .container {
        width: 2560px;
        max-width: 100%;
    }
}

