//SECTION/PAGE POSITIONING & LAYOUT
.business-value {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#main > section > article.panel.business-value.modernize > div{
    justify-content: left;
}

// PANEL POSITIONING & LAYOUT TEMPLATES

.splash{
    height: 93vh;
    margin-top: 7vh;
    h1{
    	margin-top: auto;
    }
    h2{
    	margin-bottom: $rvr-2;
    }
    h3{
    } 
}


.splash, .basic{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    overflow: hidden;
    }
     .link__advance--chevron{
  	   flex: 0 0 0;
    }

    .splash, .basic{
    @extend .panel-hero__img--background;
}

