// GLOBAL ELEMENT POSITIONING & LAYOUT

.wrapper {
    padding: 0;
}

// #wrapper-navbar{
// }

.panel {
    @extend .container;
}

.panel-fluid {
    @extend .container-fluid;
}

.link__advance--chevron, .link__advance--text {
    margin: 01 auto;
}

.container.business-value {
    width: 300px;
    max-width: 100%;
    padding-left: 30px;
    padding-right: 30px;

    .row {
        width: 100%;
    }

    a.link__advance--chevron {
        margin-top: $rvr-6;
    }

    @include media-breakpoint-up(md) {
        width: 540px;
    }
}

.page__header {
    @include make-row;

    margin-left: 0px;
    margin-right: 0px;
    display: inline-flex;
    width: 100%;

    h2 {
        @include make-col-ready;
        @include make-col(3);

        padding-left: 0px;
        padding-right: 0px;
    }

    h3 {
        @include make-col-ready;
        @include make-col(9);

        padding-left: 0px;
        padding-right: 0px;
    }

    h4 {
        @include make-col-ready;
        @include make-col(12);

        padding-left: 0px;
        padding-right: 0px;
        margin-bottom: $rvr-1;
    }

    @include media-breakpoint-up(md) {
        h2 {
            @include make-col(2);
        }

        h3 {
            @include make-col(10);

            padding-left: $ms-3;
        }

        h4 {
            margin-top: $rvr-2;
        }
    }
}

.scroll-top {
    position: fixed;

    /* Fixed/sticky position */
    bottom: 30px;

    /* Place the button at the bottom of the page */
    right: 30px;

    /* Place the button 30px from the right */
    z-index: 99;
}

.panel-hero__img--mobile {
    position: absolute;
    bottom: 0;
    left: 25%;
    z-index: -1;

    @media (min-width: 1200px) {
        display: none;
    }
}

.about-me .panel-hero__img--mobile {
    left: 0;
    width: 70%;
}

.my-expertise .panel-hero__img--mobile {
    @media (min-width: 300px) {
        left: 4%;
    }

    @media (min-width: 400px) {}

    @media (min-width: 576px) {}

    @media (min-width: 768px) {
        left: 15%;
        overflow: hidden;
        width: 150%;
        max-width: auto;

        .conductor-small {
            width: 700px;
        }
    }

    @media (min-width: 992px) {
        left: 35%;
    }

    @media (min-width: 1200px) {}

    @media (min-width: 1400px) {}

    @media (min-width: 1600px) {}

    @media (min-width: 1900px) {}
}

// ARTICLE LAYOUTS

.home-page__howidoit__container {
    // h1{
    //    @include make-col-ready();
    //    @include make-col(12);
    //    padding-left: 0px;
    //    padding-right: 0px;
    //     @include media-breakpoint-up(md) {

    //     }
    //     }
    @extend .row;

    margin: 0 auto;

    @include media-breakpoint-up(md) {
        // max-width: ms(10.7);
        //         text-align: justify;
        max-width: auto;
        display: flex;
        flex-direction: row;

        h1, h2 {
            width: 100%;
            text-align: left;
        }

        //         h4{
        //             max-width: ms(11);
        //         }
        h4 + h4 {
            max-width: ms(11.2);
        }
    }


    @include media-breakpoint-up(lg) {
        display: inline-flex;
        flex-direction: row;
    }
}

.home-page__howidoit__container .split-container {
    flex: 0 0 auto;

    @include media-breakpoint-up(md) {
        @include make-col-ready;
        @include make-col(12);

        padding-left: 0px;
        padding-right: 0px;
    }


    @include media-breakpoint-up(lg) {
        @include make-col-ready;
        @include make-col(5);

        display: flex;
        flex-direction: column;
        align-items: left;
        text-align: left;
        padding-left: 0px;
        padding-right: 0px;
    }
}

.howidoit__disciplines, .howidoit__disciplines_content {
    @extend .row;

    width: 100%;
}

.howidoit__disciplines {
    h4 {
        @include make-col-ready;
        @include make-col(12);

        padding-left: 0px;
        padding-right: 0px;
        flex: 0 0 auto;

        @include media-breakpoint-up(md) {
            display: none;
        }
    }

    @include media-breakpoint-up(md) {
        @include make-col-ready;
        @include make-col(12);

        padding-left: 0px;
        padding-right: 0px;
    }


    @include media-breakpoint-up(lg) {
        @include make-col-ready;
        @include make-col(7);

        padding-left: 0px;
        padding-right: 0px;
    }
}

.howidoit__disciplines_content {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    @include make-col-ready;
    @include make-col(12);

    padding-left: 0px;
    padding-right: 0px;

    h5 {
        margin-bottom: $rvr-0;
        width: 100%;
    }

    @include media-breakpoint-up(md) {
        @include make-col-ready;
        @include make-col(6);

        display: flex;

        // margin-left: $ms-1;
        padding-left: 0px;
        padding-right: 0px;
        margin-bottom: $rvr-3;

        h5, p {
            margin-left: $ms-1;
        }

        p {
            //         text-align: justify;
            max-width: ms(9.5);
        }
    }


    @include media-breakpoint-up(lg) {
        flex-direction: column;
        margin-left: inherit;

        @include make-col-ready;
        @include make-col(4);

        padding-left: 0px;
        padding-right: 0px;

        h5 {
            margin-bottom: $rvr-_25;
        }
    }
}

// @media (min-width: 992px) {
// @include make-col-ready;    
// @include make-col(3);
//         padding-left: 30px;
//         padding-right: 30px;

.disciplines__content-icon {
    @include make-col-ready;
    @include make-col(3);

    padding-left: 0px;
    padding-right: 0px;

    @include media-breakpoint-up(md) {
        @include make-col-ready;
        @include make-col(2);

        padding-left: 0px;
        padding-right: 0px;
    }
}

.howidoit__disciplines_content--description {
    @include make-col-ready;
    @include make-col(9);

    padding-left: 0px;
    padding-right: 0px;

    @include media-breakpoint-up(md) {
        @include make-col-ready;
        @include make-col(10);

        padding-left: 0px;
        padding-right: 0px;

        .br {
            display: none;
        }
    }
}

.myqualifications__stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-right: $ms-_75;
    margin-bottom: $rvr-2;

    @include media-breakpoint-up(md) {
        @include make-col-ready;
        @include make-col(12);

        margin-left: auto;
        margin-right: auto;
    }
}

.myqualifications__stats_caption {
    @include make-col-ready;
    @include make-col(12);

    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: $rvr-1_5;
    margin-top: $rvr-1;
}

.stats {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;

    @include make-col-ready;
    @include make-col(4);

    padding-left: $ms-1;
    padding-right: $ms-1;
    padding-top: $rvr-1;
    padding-bottom: $rvr-_25;

    @include media-breakpoint-up(md) {
        padding-top: $rvr-2_25;
        padding-bottom: $rvr-2_25;
        flex: 0 0 32%;
        max-width: 32%;

        // margin: ms(.025);
    }
}

.stats-caption {
    @include media-breakpoint-up(md) {
        font-size: ms(3);
        max-width: ms(7);
    }
}

.home-page__my-mo__container {
    // @extend .container;
    @extend .panel-hero__img--background;
}

article.panel-fluid.home-page {
    .home-page__my-mo__container {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        @include media-breakpoint-up(md) {
            min-height: auto;
        }


        // #main > section > article:nth-child(3) > div > p:nth-child(6){
        //       // margin-bottom: auto;
        // }
        .split-container {
            margin-top: auto;
            margin-bottom: auto;
            flex: 0 0 auto;
        }

        h1 {
            @extend .page__title;

            margin-top: auto;
            align-self: flex-start;
        }

        h2 {
            line-height: $rvr-2_75;
            margin-bottom: $rvr-3;
            font-size: ms(4.5);
            letter-spacing: -.01rem;
        }

        h3 {
            // flex: 0 1 $rvr-4;
       
        }

        a.link__advance--chevron {
            align-self: flex-end;

            // align-self: flex-end;
            flex: 0 0 auto;
        }

        p {
            //         max-width: ms(9.9);
            // margin-bottom: auto;
       
        }
    }
}

article.panel-fluid.home-page .home-page__my-mo__container {
    @media (min-width: 300px) {}

    @media (min-width: 400px) {}

    @media (min-width: 576px) {}

    @media (min-width: 768px) {
        width: ms(11.25);
    }

    @media (min-width: 992px) {
        width: ms(12.25);
        align-items: flex-start;
    }

    @media (min-width: 1200px) {}

    @media (min-width: 1400px) {}

    @media (min-width: 1600px) {}

    @media (min-width: 1900px) {}
}

.panel-fluid.basic.home-page__whatiam {
    margin-left: auto;
    margin-right: auto;

    h1 {
        margin-top: auto;
    }

    h2 {
        line-height: $rvr-2_75;
        margin-bottom: $rvr-3;
        font-size: ms(4.5);
        letter-spacing: -.01rem;
    }

    h3 {
        flex: 0 1 $rvr-4;
        margin-bottom: auto;
    }

    .link__advance--chevron {
        flex: 0 0 0;
    }

    p {
        max-width: ms(9.9);
        margin-bottom: $rvr-2;
    }

    p:last-of-type {
        margin-bottom: $rvr-2;
    }
}

//splash panel layout styles

#main > section > article.panel-fluid.basic.home-page.home-page__whatido > div > a {
    // @include make-col-ready;
    //   @include make-col(12);
    //   left: 50%;
}

.panel-fluid.my-expertise {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100vh;
    position: relative;
}

.panel-fluid.about-me {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100vh;
    position: relative;
}

.panel-fluid.why-me {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100vh;
    position: relative;
}

.about-me__container__splash,
.my-expertise__container__splash,
.why-me__container__splash {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h1 {
        margin-top: auto;
        margin-bottom: $rvr-3;
        flex: 0 1 auto;
        padding-top: $rvr-8;
    }

    h1.br {
        display: none;
    }

    h2 {
        @extend .display;

        flex: 0 1 auto;
        margin-bottom: $rvr-2;
    }

    h3 {
        @extend .body;

        flex: 0 1 auto;
        flex: 0 1 $rvr-10;
        margin-bottom: auto;
        line-height: $rvr-1_75;
    }

    .link__advance--chevron {
        margin-top: auto;
        flex: 0 0 0;
        padding-bottom: $rvr-6;
    }
}

.about-me__container__splash{
    @media (min-width: 1200px){
        width: 50%;
        margin-left: 50%;
    }
}

.why-me__container__splash a.link__advance--chevron {
    margin-right: auto;
    margin-left: 0;
}

.panel-fluid.about-me.backstory {
    height: initial;
    position: relative;
}

.my-value__splash__container {
    text-align: left;
    max-width: 280px;

    @media (min-width: 400px) {
        max-width: inherit;
    }

    h1 {
        flex: 0 0 auto;
        margin-top: auto;
    }

    h2 {
        flex: 0 0 auto;
    }
}

#main > section > article:nth-child(2) > div > div > hgroup > h2 {
    letter-spacing: .025rem;
}

#main > section > article.panel-fluid.my-expertise.skills {
    height: initial;
}

#main > section > article.panel-fluid.my-expertise.skills > div > div.my-expertise__main-page {
    background: #fff;
}

.my-expertise .skills {
    display: flex;

    @include make-col-ready;
    @include make-col(12);

    position: relative;

    @include media-breakpoint-up(md) {
        h1 {
            align-self: center;
        }
    }


    @include media-breakpoint-up(lg) {
        height: 100vh;
    }
}

.my-expertise__main-page {
    @extend .container;
@extend .row;
    h2 {
        @extend .headline;
    }

    h3 {
        @extend .display;

        font-weight: 300;
    }

    display: flex;
    flex-direction: column;
    align-items: center;
    order: 1;


@media (min-width: 300px) {}


@media (min-width: 400px) {}


@media (min-width: 576px) {}


@media (min-width: 768px) {
    min-height: 100vh;
        padding-left: 0;
        padding-right: 0;
        text-align: center;

        h2 {
            max-width: ms(11);
        }

        h3 {
            max-width: ms(11.65);
        }
}


@media (min-width: 992px) {
      order: 5;
}


@media (min-width: 1200px) {
display: inline-flex;
flex-direction: row;

  .split-container{
@include make-col-ready();
@include make-col(4);
padding-left: 0px;
padding-right: 0px;
h2{
text-align: left;
}
h2, h3{
max-width: ms(10);    
}
  }
  nav.expertise__main-page_menu{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    @include make-col-ready();
    @include make-col(8);
    padding-left: 0px;
    padding-right: 0px;
  }
h3{
    text-align: left;
    max-width: ms(10.5);
}
  .expertise__menu_item{
  @include make-col-ready();
  @include make-col(4);
  padding-left: 0px;
  padding-right: 0px;
  // width: 19%;
  // max-width: 19%;
  // padding-left: .5%;
  // padding-right: .5%;  
  h3{
    max-width: ms(9);
  }
  p{
    text-align: left;
    max-width: ms(9.25);
  }
}
}


@media (min-width: 1400px) {}


@media (min-width: 1600px) {}

@media (min-width: 1900px) {}

}

.expertise__main-page_menu {
    @extend .row;

    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding: 0;
    width: 100%;
    max-width: 100%;

    @include media-breakpoint-up(md) {
        margin-top: $rvr-3;
    }
}

.expertise__menu_item {
    padding-left: 0px;
    padding-right: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: $rvr-2;

    h3 {
        @extend .subhead;

        font-weight: 500;
        margin-bottom: $rvr-1;
        text-align: center;
        line-height: $rvr-1_5;
    }

    p {}

    @include make-col-ready;
    @include make-col(12);

    padding-left: 5px;
    padding-right: 5px;

    // @include media-breakpoint-up(md) {
    //     @include make-col-ready();
    //     @include make-col(4);
    //     padding-left: 0px;
    //     padding-right: 0px;
    // }
    @include media-breakpoint-up(md) {
        h3 {
            font-size: ms(3.5);
            line-height: $rvr-1_75;
        }

        p {
            max-width: ms(10);
        }

        @include make-col-ready;
        @include make-col(6);

        padding-left: 0px;
        padding-right: 0px;
    }
}

.expertise__overlay {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}

// @include media-breakpoint-up(lg) {
//             height: 315vh;

//             // align-items: center;
//         }
//     }

.overlay__container {
    @extend .container;

    @extend .row;

    padding: $ms-8 $ms-4;
    justify-content: left;

    p {
        max-width: ms(12.75);
        text-align: left;
    }

    p:last-of-type {
        margin-bottom: $rvr-2;
    }

    @include media-breakpoint-up(md) {
        h2 {
            margin-bottom: $rvr-3;
        }
    }


    @include media-breakpoint-up(xl) {
        p + p {
            width: 100%;
        }
    }
}

#expt-overlay-4 > div.overlay__container > div {
    padding-top: $rvr-3;
}

.overlay__content {
    padding-left: 0;
    padding-right: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: start;

    @extend .row;

    // align-content: flex-start;
    .overlay__content--icon {
        // margin-right: $ms-1;
        // margin-left: -$ms-1;
        @include make-col-ready;
        @include make-col(4);

        padding-left: 0px;
        padding-right: 0px;
    }

    h3 {
        flex: 0 0 12rem;
        margin-bottom: 0;
    }

    p {
        margin-bottom: $rvr-3;
        flex: 1 0 25rem;
        text-align: left;
    }

    @include media-breakpoint-up(sm) {
        @include make-col-ready;
        @include make-col(6);
    }


    @include media-breakpoint-up(md) {}

    @include media-breakpoint-up(xl) {
        @include make-col(4);
    }
}

#open-expt-overlay-4 .expertise__menu {
    margin-left: -.8rem;
}

.expertise__overlay--marketing-leadership {}

.expertise__overlay--marketing-management {}

.expertise__overlay--marketing-communications {}

.expertise__overlay--webdev {
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
}

.expertise__overlay--operations {}

#expt-overlay-1, #expt-overlay-2, #expt-overlay-3, #expt-overlay-4, #expt-overlay-5 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    // height: 120vh;
    //     background: rgba(0, 0, 0, 0.92);
    z-index: 9999;
    background: rgba(59, 68, 76, 0.99);

    // We hide the overlay by default */
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;
    overflow-y: scroll;

    // .expt-body-text, .expt-vert {
    //     color: $tungsten;
    // }
}

#expt-overlay-1 {
    order: 2;
    height: 100vh;

    @include media-breakpoint-up(lg) {
        order: 1;
    }
}

#expt-overlay-2 {
    order: 3;
}

#expt-overlay-2, #expt-overlay-3, #expt-overlay-5 {
    height: 100vh;

    li {
        margin-left: $ms-6_5;
        line-height: $rvr-1_75;
    }

    ul {
        margin-bottom: $rvr-2;
    }

    @include media-breakpoint-up(lg) {
        order: 2;
    }
}

#expt-overlay-3 {
    height: 100vh;
    order: 4;

    @include media-breakpoint-up(lg) {
        order: 3;
    }
}

#expt-overlay-4 {
    height: 100vh;
    order: 5;
    display: flex;
    flex-direction: column;

    .empty {
        @include make-col-ready;
        @include make-col(12);

        padding-left: 0px;
        padding-right: 0px;
    }

    h3 {
        flex: 0 1 auto;
        margin-bottom: $rvr-3;
        text-align: center;
        width: 90%;
    }

    @media (min-width: 992px) {
        p {
            max-width: ms(11.65);
        }
    }

    @media (min-width: 1200px) {
        p {
            max-width: ms(12.5);
        }
    }

    .overlay__content:first-of-type {
        margin-top: $rvr-2;

        @media (min-width: 992px) {
            margin-top: 0;
        }
    }

    .overlay__content {
        justify-content: center;
        margin-bottom: $rvr-4;

        @include make-col-ready;
        @include make-col(12);

        padding-left: 0px;
        padding-right: 0px;
        flex: 0 0 auto;

        @media (min-width: 300px) {}

        @media (min-width: 400px) {}

        @media (min-width: 576px) {}

        @media (min-width: 768px) {}

        @media (min-width: 992px) {
            @include make-col(6);

            align-items: baseline;
            order: 4;
        }

        @media (min-width: 1200px) {}

        @media (min-width: 1400px) {}

        @media (min-width: 1600px) {}

        @media (min-width: 1900px) {}
    }
}

#expt-overlay-5 {
    height: 100vh;
    order: 6;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 300px) {}

    @media (min-width: 400px) {}

    @media (min-width: 576px) {}

    @media (min-width: 768px) {}

    @media (min-width: 992px) {
        order: 5;
    }

    @media (min-width: 1200px) {
        .overlay__content {
            @include make-col-ready;
            @include make-col(3);

            padding-left: 0px;
            padding-right: 0px;
        }

        .overlay__content--icon {
            @include make-col-ready;
            @include make-col(12);

            padding-left: 0px;
            padding-right: 0px;
        }

        h3 {
            @include make-col-ready;
            @include make-col(12);

            padding-left: 0px;
            padding-right: 0px;
            margin-bottom: $rvr-1_5;
        }

        ul {}

        li {
            margin-left: 0;
        }
    }

    @media (min-width: 1400px) {}

    @media (min-width: 1600px) {}

    @media (min-width: 1900px) {}
}

// This CSS class will show the overlay */
#expt-overlay-1.show, #expt-overlay-2.show, #expt-overlay-3.show, #expt-overlay-4.show, #expt-overlay-5.show {
    visibility: visible;
    opacity: 1;
}

// [OVERLAY CLOSE BUTTON] */
#expt-close-1, #expt-close-2, #expt-close-3, #expt-close-4, #expt-close-5 {
    position: fixed;
    top: $ms-4;
    right: $ms-6;
    color: #fff;
    cursor: pointer;
    z-index: 1000;
    background: $primary;
    height: $ms-5;
    width: $ms-5;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.alternate {
    position: relative;
    display: flex;
    flex-direction: column;

    a.link__advance--chevron {
        order: 100;
        margin: $rvr-6 auto;
    }
}

.why-me__brands {
    display: flex;
    flex-direction: column;
    h1 {
        @extend .page__title;
    }
}

.why-me__container__brands{


@media (min-width: 300px) {}


@media (min-width: 400px) {}


@media (min-width: 576px) {}


@media (min-width: 768px) {}


@media (min-width: 992px) {}


@media (min-width: 1200px) {

max-width: 100%;
display: flex;
flex-direction: row;
position: relative;


    .split-container{
        @include make-col-ready();
        @include make-col(5);
        padding-left: 0px;
        padding-right: 0px;
        position: sticky;
        height: 80vh;
        top: 25vh;
    }
    .why-me__brands_content{
        @include make-col-ready();
        @include make-col(7);
        padding-left: 0px;
        padding-right: 0px;
    }
    .why-me__brands--logo{
        @include make-col-ready();
        @include make-col(4);
        padding: $ms-4;
    }
    a.link__advance--chevron{
flex: 0 0 0;
    }
    // .why-me__brands--logo .style-svg{
    //     width: ms(4);
    // }

}


@media (min-width: 1400px) {}


@media (min-width: 1600px) {
    width: 1200px;
    .why-me__brands_content{
        @include make-col(5);
        margin-left: 16%;
    }
    .why-me__brands--logo{
// padding: $ms-5;
    }
}

@media (min-width: 1900px) {}



@media (min-width: 2400px) {}



@media (min-width: 2900px) {

}

}


.why-me__brands_content {
    display: flex;
    flex-wrap: wrap;

    // justify-content: space-around;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: $rvr-1;

    @include make-col-ready;
    @include make-col(12);

    padding: 0;

    @include media-breakpoint-up(md) {
        @include make-col(11);

        margin-top: $rvr-4;
        justify-content: space-between;
    }
}

.why-me__brands--logo {
    // width: $ms-7_75;
    // padding: $ms-2 $ms-2_5;
    @include make-col-ready;
    @include make-col(4);

    padding-left: 8px;
    padding-right: 8px;

    @include media-breakpoint-up(md) {
        flex: 0 0 28%;
        max-width: 28%;
    }
}

.why-me__brands {
    
}

.why-me___content {
    width: 100%;
    height: 30rem;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}


.why-me__container__categories .container{
    // @extend .row;
}

.why-me__container__categories {
    padding-left: 0;
    padding-right: 0;

    @media (min-width: 300px) {}
    .container{
        width: 100%;
    }
    
    @media (min-width: 400px) {}
    
    
    @media (min-width: 576px) {}
    
    
    @media (min-width: 768px) {}
    
    
    @media (min-width: 992px) {}
    
    
    @media (min-width: 1200px) {}
    
    
    @media (min-width: 1400px) {}
    
    
    @media (min-width: 1600px) {}
    
    @media (min-width: 1900px) {
         width: 1200px;
         .container{
            width: 100%;
            max-width: 100%;
            display: flex;
            flex-direction: row;
            padding-left: 0;
            padding-right: 0;
        }
    .split-container{
        @include make-col-ready();
        @include make-col(4);
        padding-left: 0px;
        padding-right: 0px;
        position: sticky;
    height: 80vh;
    top: 25vh;
    }
    .split-container--b{
        @include make-col-ready();
        @include make-col(7);
        padding-left: 0px;
        padding-right: 0px;
        display: flex;
        flex-direction: row;
        position: relative;
        flex-wrap: wrap;
        margin-left: $ms-8;
    }
    .why-me__categories_content{
        @include make-col-ready();
        @include make-col(5);
        padding-left: 0px;
        padding-right: 0px;
        margin-left: $ms-1;
    }
    .categories__content_caption{
h3{}
p{}
    }
    }
}
     


.why-me__categories_content {
    width: 100%;

    // height:30rem;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: $rvr-_5;
    flex: 0 0 auto;
}

.why-me__categories_content--industrial {
    order: 9;
}

.why-me__categories_content--crops {
    order: 16;
}

.why-me__categories_content--pork {
    order: 13;
}

.why-me__categories_content--power {
    order: 6;
}

.why-me__categories_content--chems {
    order: 15;
}

.why-me__categories_content--beef {
    order: 3;
}

.why-me__categories_content--poultry {
    order: 19;
}

.why-me__categories_content--epc {
    order: 8;
}

.why-me__categories_content--financial {
    order: 4;
}

.why-me__categories_content--construction {
    order: 10;
}

.why-me__categories_content--ltl {
    order: 17;
}

.why-me__categories_content--retail {
    order: 12;
}

.why-me__categories_content--companion {
    order: 1;
}

.why-me__categories_content--controls {
    order: 7;
}

.why-me__categories_content--dairy {
    order: 5;
}

.why-me__categories_content--information {
    order: 2;
}

.why-me__categories_content--telecom {
    order: 11;
}

.why-me__categories_content--equine {
    order: 18;
}

.why-me__categories_content--maritime {
    order: 14;
}

.why-me__categories_content--healthcare {
    order: 20;
}

.categories__content_caption {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
//     padding: $rvr-_25;
    z-index: 2;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: rgba(59, 68, 76, 0.9);
    -webkit-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    overflow: hidden;

    h3 {
        margin-bottom: 0;
        padding: 0;
        flex: 0 0 auto;
        line-height: inherit;
    }

    p {
        margin-bottom: 0;
        padding: 0;
        flex: 0 0 auto;
        line-height: inherit;
        margin-left: auto;
        margin-right: auto;
    }

    @include media-breakpoint-up(md) {
        h3 {
            margin-bottom: $rvr-1;
        }

        p {
            // font-size: $ms-3_5;
       
        }
    }
}

.about-me__container__backstory {
    // padding-left: 0;
    // padding-right: 0;
}

.tldr {
    border: ms(-2) solid $gray-400;
    color: #111;
    width: ms(9.8);
    margin: $rvr-2 0;
    border-radius: 1rem;
}

.tldr h4 {
    font-family: $font-family-monospace;
    font-weight: 800;
    background-color: #fff;
    margin-left: $ms-1;
    margin-top: -1.33rem;
    margin-bottom: 0;
    padding: 0 $ms-1;
    font-size: $ms-2;
    letter-spacing: .2rem;
    width: ms(6);
}

.tldr ul {
    text-indent: 0;
    padding-left: $ms-3;
    list-style: none;
    font-size: $ms-2_75;
    max-width: ms(9.5);
}

.tldr li {
    padding: $ms-_25 $ms-1;
    font-weight: 300;
}

.tldr ul li::before {
    color: $slate;
    content: "\2022";
    display: inline-block;
    width: 1rem;
    margin-left: -1rem;
}

// #backstory__content{
//     max-height: 60vh;
//     position: relative;
//     overflow:hidden;
//     // padding-left: 0;
//     // padding-right: 0;

// }

// #backstory__content .read-more{
// position: absolute; 
//   bottom: 0; 
//   left: 0;
//   width: 100%; 
//   text-align: center; 
//   margin: 0; 
//   padding: 20vh 0;

//   /* "transparent" only works here because == rgba(0,0,0,0)
// background-image: -webkit-gradient(
//   linear,
//   left top,
//   left bottom,
//   color-stop(0, rgba(255, 255, 255, .8)),
//   color-stop(1, rgba(255, 255, 255, 100)));
// }