// GLOBAL ELEMENT POSITIONING & LAYOUT

.wrapper{ padding: 0;}


#wrapper-navbar{
}


.panel {
    @extend .container;
}

.panel-fluid {
    @extend .container-fluid;
}

.link__advance--chevron, .link__advance--text{
margin: $rvr-4 auto;
}

.page__header{
    @include make-row();
    margin-left: 0px;
    margin-right: 0px;
    display: inline-flex;
    width: 100%;
    h2{
          @include make-col-ready();
          @include make-col(3);
          padding-left: 0px;
          padding-right: 0px;
    }
    h3{
     @include make-col-ready();
     @include make-col(9);
     padding-left: 0px;
     padding-right: 0px; 
    }
    h4{
        @include make-col-ready();
        @include make-col(12);
        padding-left: 0px;
        padding-right: 0px;
        margin-bottom: $rvr-1;
    }
}

.scroll-top{
    position: fixed;

    /* Fixed/sticky position */
    bottom: 30px;

    /* Place the button at the bottom of the page */
    right: 30px;

    /* Place the button 30px from the right */
    z-index: 99;
   }


.panel-hero__img--mobile{
position: absolute;
bottom: 0;
left:25%;
z-index: -1;
@include media-breakpoint-up(lg) {
display: none;
}
}

// ARTICLE LAYOUTS


.my-mo{
    // @extend .container;
    @extend .panel-hero__img--background;
}

.my-mo{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    overflow: hidden;
    }
    h1{

    }
    h2{
   

    } 
    h3,{


    }
    p{

    }
        .link__advance--chevron{
        flex: 0 0 0;
    }






.my-mo{

    h1{
        margin-top: auto;
    }
    h2{
    line-height: $rvr-2_75;
    margin-bottom: $rvr-3;
    font-size: ms(4.5);
    letter-spacing: -.01rem;    
    }
    h3{
    flex: 0 1 $rvr-4;
    margin-bottom: auto;
    }
    .link__advance--chevron{
        flex: 0 0 0;
    }
    p{
        max-width: ms(9.9);
        margin-bottom: $rvr-2;
    }
    p:last-of-type{
        margin-bottom: $rvr-2;
    }
}


.panel-fluid.basic.home__the-goal{
   margin-left: auto;
   margin-right: auto;
    h1{
        margin-top: auto;
    }
    h2{
    line-height: $rvr-2_75;
    margin-bottom: $rvr-3;
    font-size: ms(4.5);
    letter-spacing: -.01rem;    
    }
    h3{
    flex: 0 1 $rvr-4;
    margin-bottom: auto;
    }
    .link__advance--chevron{
        flex: 0 0 0;
    }
    p{
        max-width: ms(9.9);
        margin-bottom: $rvr-2;
    }
    p:last-of-type{
        margin-bottom: $rvr-2;
    }
}

//splash panel layout styles


.home-page.splash{
    h1, h2, h3, h4, p{
        margin-bottom: 0;
    }
    h1{
    margin-top: 10rem;
      flex: 0 0 8rem;

    br{
        display: none;
    }
    }
    h2{
      flex: 0 0 10rem;
      line-height: $rvr-2_25;

    }
    h3{
      flex: 0 0 7rem;
    }
    p:first-of-type{
        flex: 0 0 auto;
        max-width: $ms-10;
        margin: 0 auto $rvr-1 auto;
        padding: 0 $ms-4;
        
    }

    p:last-of-type{
          flex: 0 0 8rem;
        margin-bottom: auto;
    }
}


.panel-fluid.about-me.splash,
.panel-fluid.my-expertise.splash,
.panel-fluid.why-me.splash{
    // h1, h2, h3{
    //     margin-left: auto;
    //     margin-right: auto;
    // }
    h1{
    margin-top: auto;
    }
    h1.br{
        display: none;
    }
    h2{
    margin-bottom: $rvr-2;    
    }
    h3{
    flex: 0 1 $rvr-10;
    margin-bottom: auto;
    }
    .link__advance--chevron{
        flex: 0 1 0;
    }
}

.my-value.splash{
    h1{flex: 0 0 auto;}
    h2{flex: 0 0 auto;}
}












#webdev {
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
}

.webdev-sub-panel {
    .webdev-icon {
        @include make-col-ready;
        @include make-col(3);
    }

    .style-svg {
        fill: $primary;
        width: $ms-8;
        margin-bottom: $rvr-2;

        @include media-breakpoint-up(sm) {
            width: $ms-7;
        }
    }

    .expt-row {
        h5 {
            color: $primary;
            margin-bottom: 0;
            padding: $ms--9 0;
            font-weight: 400;
            letter-spacing: .09rem;
            text-transform: capitalize;
            line-height: $ms-2;
        }

        hr {
            border: thin solid $primary;
            width: 90%;

          
        }

        justify-content: space-around;
        align-items: stretch;
        display: flex;

        @include media-breakpoint-up(lg) {
            height: 315vh;

            // align-items: center;
        }
    }

    .row {
        // margin-bottom: $rvr-2;
        flex-wrap: wrap;
        justify-content: center;
        align-items: baseline;
    }

    .webdev-row-head {
        // background: $primary;
        // border-radius: 1em;

        max-width: 70%;

        // margin-bottom: $rvr-1;
        text-align: center;
    }

    .expt-vert {
        @include media-breakpoint-up(lg) {
            @include make-col-ready;
            @include make-col(4);

            height: 315vh;
        }
    }

    .expt-block {
        @include make-col-ready;
        @include make-col(12);

        @include media-breakpoint-up(md) {
            @include make-col-ready;
            @include make-col(6);

            float: right;
        }


        @include media-breakpoint-up(lg) {
            @include make-col-ready;
            @include make-col(6);

            height: 325vh;

            // margin-top: $rvr-3;
            justify-content: center;
            flex-wrap: wrap;
        }
    }

    .expt-block .row + .row {
        display: flex;
        justify-content: center;
        margin-top: $rvr-7;

        @include media-breakpoint-up(lg) {
            max-width: 90%;
        }
    }

    .expt-box {
        @include media-breakpoint-up(sm) {
            @include make-col-ready;
            @include make-col(12);
        }


        @include media-breakpoint-up(md) {
            @include make-col-ready;
            @include make-col(4);

            .expt-text {
                max-width: $ms-10_5;
            }
        }
    }
}






//
// expertise panel
// ==========================================================================

.expt {
    display: flex;

    @include make-col-ready;
    @include make-col(12);

    position: relative;

    @include media-breakpoint-up(lg) {
        height: 100vh;
    }
}

// [OVERLAY]
#expt-overlay-1, #expt-overlay-2, #expt-overlay-3, #expt-overlay-4, #expt-overlay-5 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    // height: 120vh;
    background: rgba(0, 0, 0, 0.92);
    z-index: 999;

    // We hide the overlay by default */
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;
    overflow-y: scroll;

    .expt-body-text, .expt-vert {
        color: $tungsten;
    }
}

#expt-overlay-1 {
    height: 100vh;
    order: 2;

    @include media-breakpoint-up(lg) {
        order: 1;
    }
}

#expt-overlay-2 {
    height: 100vh;
    order: 3;

    @include media-breakpoint-up(lg) {
        order: 2;
    }
}

#expt-overlay-3 {
    height: 100vh;
    order: 4;

    @include media-breakpoint-up(lg) {
        order: 3;
    }
}

#expt-overlay-4 {
    height: 100vh;
    order: 5;

    @include media-breakpoint-up(lg) {
        order: 4;
    }
}

#expt-overlay-5 {
    height: 100vh;
    order: 6;

    @include media-breakpoint-up(lg) {
        order: 5;
    }
}

// This CSS class will show the overlay */
#expt-overlay-1.show, #expt-overlay-2.show, #expt-overlay-3.show, #expt-overlay-4.show, #expt-overlay-5.show {
    visibility: visible;
    opacity: 1;
}

// [OVERLAY CLOSE BUTTON] */
#expt-close-1, #expt-close-2, #expt-close-3, #expt-close-4, #expt-close-5 {
    position: fixed;
    top: $ms-4;
    right: $ms-4;
    color: #fff;
    cursor: pointer;
    z-index: 1000;
    background: $primary;
    height: $ms-3;
    width: $ms-3;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.exptcontainer {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.expt-intro {
    display: flex;
    align-items: center;
    order: 1;

    @include media-breakpoint-up(md) {
        height: 100vh;
    }


    @include media-breakpoint-up(lg) {
        order: 5;
    }
}

.exptbody-text {


    // @include v-1;
    line-height: 1.2;
    max-width: $ms-11;

    @include media-breakpoint-up(md) {}


    @include media-breakpoint-up(lg) {}
}

// .expt-content, .expt-menu-horz{
//
//     @include media-breakpoint-up(sm) {
//         @include make-col-ready(); @include make-col(12);
//     }
// }
.expt-split {}

// #expt-carousel-inner{
//     height: 100vh;
// }
.expt-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    overflow-y: scroll;
    text-align: center;

    // fix text transition issue for .left and .right but need to overwrite left and right properties in .right
    width: 100%;
    -moz-transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
    -webkit-transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
    transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
}

.expt-menu-box:hover .expt-overlay.left {
    left: 0;
}

.expt-overlay.left {
    left: 100%;
}

.expt-menu-horz {
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding: 0;
}

.expt-menu-horz li {
    margin: 0;
    bottom: unset;
    height: unset;
    list-style: none;
    text-indent: 0;

    // padding: $rvr-1_5 0;
    padding: 0;
}

.expt-menu-horz a {
    color: black;
}

.expt-menu-box {
    @include make-col-ready;
    @include make-col(12);
  
    background: $tungsten;
    color: #111;
    border-radius: 1rem;
    cursor: pointer;
    text-align: center;
    padding: $rvr-2 0;

    //         border: thin solid $tungsten;
    @include media-breakpoint-up(md) {
        @include make-col(5);

        text-align: left;
        margin-left: auto;
        margin-right: auto;
        background: inherit;

        // border: $ms--7 solid $tungsten;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }


    @include media-breakpoint-up(lg) {
        @include make-col(3);
    }
}

.expt-menu-icon {
    @include media-breakpoint-up(sm) {}


    @include media-breakpoint-up(md) {
        margin-left: -2rem;
    }


    @include media-breakpoint-up(lg) {}


    @include media-breakpoint-up(xl) {}
}

#open-expt-overlay-4 .expt-menu-icon {
    margin-left: -.8rem;
}

.menu-icon-text-wrap {
    margin: 0 auto;

    @include media-breakpoint-up(sm) {}


    @include media-breakpoint-up(md) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h3 {
            flex-basis: $rvr-4;
        }

        .display-text {
            flex-basis: $rvr-1;
            width: ms(9.75);
        }

        .body-text {
            margin-top: auto;
            flex-basis: 0;
        }

        #open-expt-overlay-4 > div.expt-menu-icon {
            margin-left: 0 !important;
        }
    }


    @include media-breakpoint-up(lg) {}


    @include media-breakpoint-up(xl) {}
}

#open-expt-overlay-5 {
    margin-left: inherit;
    margin-right: inherit;
}

.expt-menu-box h3 {
    font-weight: 400;

    //     letter-spacing: .05rem;
    //     margin-bottom: $rvr-_75;
}

.expt-menu-box .body-text {
    font-style: italic;
    font-spacing: 0.5rem;
    padding-bottom: 0;
    margin-bottom: 0;
}

.expt-menu-box .body-text:hover {
    text-decoration-line: underline;
}

.expt-container {
    padding: $ms-4;

    // margin-right: auto;
    // margin-left: auto;
}

.expt-container .headline {
    font-weight: 400;
}

.expt-menu-icon {
    .style-svg, .cls-1, .cls-3, .cls-4 {
        max-width: $ms-8;
        fill: #111;
    }
}

.expt-row {
    display: flex;
    margin: 0 auto;
    min-height: 100vh;
    align-items: center;

    @include make-col-ready;
    @include make-col(12);
    @include media-breakpoint-up(sm) {
        @include make-col-ready;
        @include make-col(12);
    }
}

.expt-block {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;

    // margin-bottom: $rvr-1;
    @include make-col-ready;
    @include make-col(12);
}





     
#expt {
    @include media-breakpoint-up(sm) {}


    @include media-breakpoint-up(md) {
        .expt-intro {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding-left: 0;
            padding-right: 0;
        }

        .expt-content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

                .expt-menu-horz {
            flex-basis: auto;
        }
    .display-text {
            flex-basis: $rvr-8;
         @include media-breakpoint-up(md) {
                    margin-left: auto;
                    margin-right: auto;
                }

        }
    .menu-icon-text-wrap {

            @include media-breakpoint-up(md) {
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}

.expt-menu {
    text-indent: 0px;
    padding-left: 0px;
    display: flex;
    flex-direction: column;
}

.expt-controls li {
    padding: 0;
    list-style: none;
    padding-left: 0;
    color: $primary;
    line-height: 1.2;
    height: unset;
    padding: ms(1) ms(1) ms(1) 0;
}

.exptnav-vert li {}

.exptcontent {}

.expt-summary {
    width: 100%;
}

.expt-sum-body-text {
    padding: 0;

    @include make-col-ready;
    @include make-col(12);

    // padding: 0 0 $rvr-1 0;
    @include media-breakpoint-up(sm) {}


    @include media-breakpoint-up(md) {}


    @include media-breakpoint-up(lg) {
        max-width: $ms-13;


    }
}
// 
.expt-vert {
    // display: flex;
    // align-items: center;
    @include make-col-ready;
    @include make-col(12);
    @include media-breakpoint-up(md) {
        @include make-col-ready;
        @include make-col(6);
    }


    @include media-breakpoint-up(lg) {
        height: 100vh;
    }
}

.expt-vert-box {
    @include media-breakpoint-up(md) {
        @include make-col-ready;
        @include make-col(12);
    }


    @include media-breakpoint-up(lg) {
        position: sticky;
        top: 40%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}

// .expt-skills::-webkit-scrollbar {
//     display: none;
// }
.expt-head {
    @include make-col-ready;
    @include make-col(12);

 
    padding-left: 0;


    // border-top: thin solid $primary;
    // padding-top: $rvr-3;
}

.expt-head h4 {
    letter-spacing: .05em;
    text-transform: uppercase;
}

.expt-box {
    margin-bottom: $rvr-2;

    @include make-col-ready;
    @include make-col(6);
    @include media-breakpoint-up(md) {}
}

.expt-row, .expt-row * {
    @include media-breakpoint-up(md) {
        padding: 0 !important;
        padding-left: 0;
        padding-right: 0;
    }
}

.expt-icon {
    width: $ms-7;
    margin-left: -.8em;

    // margin-bottom: $rvr-_25;
}

.expt-icon .style-svg {
    .cls-1, .cls-2 {
        fill: $tungsten;
    }
}

.expt-icon .style-svg {
    width: 5rem;
}

.expt-body-text {
    max-width: $ms-9;
}

.expt-body-text h6 {
    margin-bottom: $rvr-_5;
    margin-top: $rvr-_75;
    font-weight: 400;
    font-size: $h2-font-size;
}

.expt-text ul {
    list-style: none;
    padding: 0;
}

#exptcontainer h2 {
    // margin-bottom: $rvr-1;
}

.exptcontent {
    @include media-breakpoint-up(sm) {
        @include make-col-ready;
        @include make-col(12);
    }


    @include media-breakpoint-up(md) {
        @include make-col-ready;
        @include make-col(4);
    }
}


// ==========================================================================
// Marketing Sub Panel
// ==========================================================================

.expt-row {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}

.expt-block {
    align-content: center;

    @include media-breakpoint-up(sm) {
        @include make-col-ready;
        @include make-col(12);
    }


    @include media-breakpoint-up(md) {
        @include make-col-ready;
        @include make-col(12);
    }


    @include media-breakpoint-up(lg) {
        @include make-col-ready;
        @include make-col(7);
    }


    @include media-breakpoint-up(xl) {
        @include make-col-ready;
        @include make-col(7);
    }
}

.expt-box {
    @include make-col-ready;
    @include make-col(6);

    @include media-breakpoint-up(md) {
        @include make-col-ready;
        @include make-col(6);

        .expt-text {
            max-width: $ms-10_5;
        }
    }


    @include media-breakpoint-up(lg) {
        @include make-col-ready;
        @include make-col(6);
    }


    @include media-breakpoint-up(xl) {
        @include make-col-ready;
        @include make-col(6);
    }
}

.expt-vert {
    @include make-col-ready;
    @include make-col(12);

    @include media-breakpoint-up(sm) {}


    @include media-breakpoint-up(md) {}


    @include media-breakpoint-up(lg) {
        @include make-col-ready;
        @include make-col(4);
    }


    @include media-breakpoint-up(xl) {
        @include make-col-ready;
        @include make-col(4);
    }
}



// ==========================================================================
// Marketing Communications Sub Panel
// ==========================================================================
.marcom-sub-panel {
    .expt-row {
        display: flex;
        justify-content: space-around;
        align-items: stretch;
    }

    .expt-block {
        @include media-breakpoint-up(sm) {
            @include make-col-ready;
            @include make-col(12);
        }


        @include media-breakpoint-up(md) {
            @include make-col-ready;
            @include make-col(8);

            .expt-text {
                max-width: $ms-10;
            }
        }


        @include media-breakpoint-up(lg) {
            @include make-col-ready;
            @include make-col(7);
        }


        @include media-breakpoint-up(xl) {
            @include make-col-ready;
            @include make-col(7);
        }
    }

    .expt-box {
        @include media-breakpoint-up(sm) {
            @include make-col-ready;
            @include make-col(12);
        }


        @include media-breakpoint-up(md) {
            @include make-col-ready;
            @include make-col(6);

            .expt-text {
                max-width: $ms-10_5;
            }
        }


        @include media-breakpoint-up(lg) {
            @include make-col-ready;
            @include make-col(6);
        }


        @include media-breakpoint-up(xl) {
            @include make-col-ready;
            @include make-col(6);
        }
    }

    .expt-vert {
        @include media-breakpoint-up(sm) {
            @include make-col-ready;
            @include make-col(12);
    
        }


        @include media-breakpoint-up(md) {
            @include make-col-ready;
            @include make-col(4);
        }


        @include media-breakpoint-up(lg) {
            @include make-col-ready;
            @include make-col(4);
        }


        @include media-breakpoint-up(xl) {
            @include make-col-ready;
            @include make-col(4);
        }
    }

    .expt-block {
        align-content: center;

        @include media-breakpoint-up(sm) {
            @include make-col-ready;
            @include make-col(12);
        }


        @include media-breakpoint-up(md) {
            @include make-col-ready;
            @include make-col(7);

            .expt-text {
                max-width: $ms-10;
            }
        }


        @include media-breakpoint-up(lg) {
            @include make-col-ready;
            @include make-col(7);
        }


        @include media-breakpoint-up(xl) {
            @include make-col-ready;
            @include make-col(7);
        }
    }

    .expt-box {
        @include media-breakpoint-up(sm) {
            @include make-col-ready;
            @include make-col(12);
        }


        @include media-breakpoint-up(md) {
            @include make-col-ready;
            @include make-col(6);

            .expt-text {
                max-width: $ms-10_5;
            }
        }


        @include media-breakpoint-up(lg) {
            @include make-col-ready;
            @include make-col(6);
        }


        @include media-breakpoint-up(xl) {
            @include make-col-ready;
            @include make-col(6);
        }
    }

    .expt-vert {
        @include media-breakpoint-up(sm) {
            @include make-col-ready;
            @include make-col(12);
        }


        @include media-breakpoint-up(md) {
            @include make-col-ready;
            @include make-col(4);
        }


        @include media-breakpoint-up(lg) {
            @include make-col-ready;
            @include make-col(4);
        }


        @include media-breakpoint-up(xl) {
            @include make-col-ready;
            @include make-col(4);
        }
    }
}
