.wrapper{ padding: 0;}


#wrapper-navbar{
}

.splash{
    height: 93vh;
    margin-top: 7vh;
}

.splash, .basic{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    overflow: hidden;
    }
    h1{
@extend .headings-line-height;
    }
    h2{
   @extend .display-line-height;
margin-bottom: $display-margin-bottom;
    } 
    h3,{
@extend .display-line-height;
margin-bottom: $display-margin-bottom;
    }
    p{
@extend .body-line-height;
margin-bottom: $body-margin-bottom; 
    }
        .link__advance--chevron{
        flex: 0 0 0;
    }



.splash, .basic{
    // @extend .container;
    @extend .panel-hero__img--background;
}



.panel-hero__img--mobile{
position: absolute;
bottom: 0;
left:25%;
z-index: -1;
@include media-breakpoint-up(lg) {
display: none;
}
}

.panel-fluid.basic.home__the-goal{

    h1{
        margin-top: auto;
    }
    h2{
    line-height: $rvr-2_75;
    margin-bottom: $rvr-3;
    font-size: ms(4.5);
    letter-spacing: -.01rem;    
    }
    h3{
    flex: 0 1 $rvr-4;
    margin-bottom: auto;
    }
    .link__advance--chevron{
        flex: 0 0 0;
    }
    p{
        max-width: ms(9.9);
        margin-bottom: $rvr-2;
    }
    p:last-of-type{
        margin-bottom: $rvr-2;
    }
}




.home-page.splash{
    h1, h2, h3, h4, p{
        margin-bottom: 0;
    }
    h1{
    margin-top: 10rem;
      flex: 0 0 8rem;

    br{
        display: none;
    }
    }
    h2{
      flex: 0 0 10rem;
      line-height: $rvr-2_25;

    }
    h3{
      flex: 0 0 9rem;
    }
    p:first-of-type{
        flex: 0 0 auto;
        max-width: $ms-10;
        margin: 0 auto $rvr-1 auto;
        padding: 0 $ms-4;
        
    }

    p:last-of-type{
          flex: 0 0 8rem;
        margin-bottom: auto;
    }
}


.panel-fluid.about-me.splash{
    h1{
    margin-top: auto;
    }
    h1.br{
        display: none;
    }
    h2{
    margin-bottom: $rvr-1;    
    }
    h3{
    flex: 0 1 $rvr-4;
    margin-bottom: auto;
    }
    .link__advance--chevron{
        flex: 0 1 0;
    }
}



.panel-fluid.my-expertise.splash{
     h1{
    margin-top: auto;
    }
    h1.br{
        display: none;
    }
    h2{
    margin-bottom: $rvr-2;    
    }
    h3{
    flex: 0 1 $rvr-4;
    margin-bottom: auto;
    }
    .link__advance--chevron{
        flex: 0 1 0;
    }
}

.panel-fluid.why-me.splash{
     h1{
    margin-top: auto;
    }
    h1.br{
        display: none;
    }
    h2{
    margin-bottom: $rvr-1;    
    }
    h3{
    flex: 0 1 $rvr-4;
    margin-bottom: auto;
    }
    .link__advance--chevron{
        flex: 0 1 0;
    }
}
        

.business-value {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.page__header{
    @include make-row();
    margin-left: 0px;
    margin-right: 0px;
	display: inline-flex;
	width: 100%;
	h2{
          @include make-col-ready();
          @include make-col(3);
          padding-left: 0px;
          padding-right: 0px;
	}
	h3{
     @include make-col-ready();
     @include make-col(9);
     padding-left: 0px;
     padding-right: 0px; 
	}
	h4{
		@include make-col-ready();
		@include make-col(12);
		padding-left: 0px;
		padding-right: 0px;
		margin-bottom: $rvr-1;
	}
}

.scroll-top{
    position: fixed;

    /* Fixed/sticky position */
    bottom: 30px;

    /* Place the button at the bottom of the page */
    right: 30px;

    /* Place the button 30px from the right */
    z-index: 99;
   }

.diagram {
    margin: $rvr-2 auto;
}

.diagram__competitive-advantage{
@extend .diagram;
}

.competitive-advantage__svg{
	width: 100%;
}

.diagram__modern-marketing{
	@extend .diagram;
}

.diagram__end-to-end{}


.diagram__objectives {
    &--vertical {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: $rvr-2 auto;
    }
}

.diagram__objectives--vertical {
    .diagram-content {
    @include make-row();
    margin-left: auto;
    margin-right: auto;
        padding-left: 0px;
        padding-right: 0px;
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        max-width: 90%;

        // margin: $rvr-1 0;
   
    }
}

.diagram__objectives--horizontal {
    .diagram-content {
        display: flex;
        flex-direction: column;

        // align-items: center;
        // justify-content: space-around;


        // margin: $rvr-1 0;
   
    }
}

.diagram__objectives--vertical .icon {
    @include make-col-ready;
    @include make-col(2);
}

.diagram-content {
    ol {
        @include make-col-ready;
        @include make-col(10);
    }
}

.modern-marketing-diagram{
	width: 100%;
}

.delta--horz {
    margin: $rvr-1 auto;
    width: $ms-3;
}

.panel {
    @extend .container;
}

.panel-fluid {
    @extend .container-fluid;
}

.link__advance--chevron, .link__advance--text{
margin: $rvr-4 auto;
}

