
a.link {
    &__advance {
        &--chevron {
            cursor: pointer;
            width: $ms-4;
            margin-left: auto;
            margin-right: auto;
            position: relative;

            .st0 {
                stroke: $link-color;
            }
               svg#Layer_1 {
        stroke: $link-color;
    }
        stroke: $link-color;
        }
    }
}

.link {
    &__advance {
        &--text {
            color: $link-color;
            font-weight: 400;
            cursor: pointer;
            text-transform: uppercase;
            letter-spacing: .075rem;
            width: inherit;
        }
    }
}

.link__advance--chevron {}

.page__title {
    font-size: $h3-font-size;
    font-weight: 300;
    font-family: $font-family-serif;
    font-style: italic;
    margin-bottom: $rvr-4;
}

.page__header {
    align-items: center;

    h2 {
        font-size: ms(6.5);
        letter-spacing: -.75rem;
        padding: 0;
        margin-left: -1rem;
        margin-right: 1rem;
    }

    h3 {
        letter-spacing: -.05rem;
        font-size: ms(3.9);
        line-height: $rvr-1_75;
        padding-right: ms(1);
    }

    h4 {
        @extend .display-line-height;

        font-size: $display-3-font-size;
        color: $display-color;
        font-family: $display-font-family;
        font-weight: $display-font-weight;
        margin-bottom: $display-margin-bottom;
    }
}

.delta--down {
    fill: $secondary;
}

.scroll-top {
    /* Make sure it does not overlap */
    border: none;

    /* Remove borders */
    outline: none;

    /* Remove outline */
    cursor: pointer;

    /* Add a mouse pointer on hover */
    background: $tungsten;
    padding: .75rem;
    border-radius: .25rem;
}


.table-wrap {
    position: relative;
    width: 100%;
}

// .table.center {
//     margin-left: auto;
//     margin-right: auto;
// }
#capabilities_table {
    // background: $primary;
    // padding: 3rem;
    // color: #111;
    table-layout: fixed;
    width: 95%;
    align-self: baseline;

    thead th {
        background-color: $slate;
        color: #fff;
        padding: $ms-2_25;
    }

    // tbody > tr > :nth-child(1) {
    //     padding-left: $ms-2_25;
    // }

    tbody td {
        padding: 1.5rem $ms-2_25;
        color: $gray-900;
        font-weight: 400;
        line-spacing: .025rem;
         border: thin solid #fff;
    }

    td {
        text-align: left;
        line-height: $rvr-_75;
        height: $rvr-2;
        vertical-align: top;
        padding-right: $rvr-2;
    }

    th {
        text-align: left;
        padding-left: $ms-1;
    }

    caption {
        caption-side: bottom;
        color: #111;
        font-size: ms(1.5);
        font-weight: 400;
        margin-bottom: $rvr-_25;
        padding-left: $ms-2_25;
        max-width: ms(11);
    }
}

// #capabilities_table > thead > tr > th.capa-table__column--1{
// background: $gray-200;
// }

#capabilities_table > tbody > tr > :nth-child(1) {
    background: $tungsten;
}

#capabilities_table > tbody > tr > :nth-child(2) {
    background: $gray-200;
}

#capabilities_table > tbody > tr > :nth-child(3) {
    background: $tungsten;
}

// #capabilities_table > thead > tr > th.capa-table__column--2 {
//     // background: $gray-400;
//     padding-left: $ms-1;
// }

// #capabilities_table > thead > tr > th.capa-table__column--3 {
//     padding-left: $ms-1;

//     // background: $gray-200;
// }

.capa-table__column--1 {
    // padding-left: $ms-2_25;    
    width: 35%;

}

.capa-table__column--2 {
    width: 40%;
}

.capa-table__column--3 {
    width: 25%;
}



.value-table{
	font-family: $font-family-monospace;
	font-size: ms(2.25);
	width: ms(8.75);
	flex: 0 0 auto;
	margin-bottom: auto;
}

.value-table-left-pad{
	padding-left: ms(.5);
}

.value-row-underscore{
border-bottom: thin solid $primary;
}

// ==========================================================================
// contact page
// ==========================================================================
#contact{
    h1{
        @extend .headline;
    }
    p{
        @extend .display;
    }
}

.container__contact {
    @include make-col-ready;
    @include make-col(12);
    @include media-breakpoint-up(md) {
        @include make-col-ready;
        @include make-col(10);
    }
}

.contact__form {
    @include make-col-ready;
    @include make-col(12);
    padding-left: 0;
    padding-right: 0;
    @include media-breakpoint-up(md) {
        
    }
}

.contact-form-message {
    padding: $ms-1;
    margin-bottom: $rvr-2;
    margin-top: $rvr-2;
    color: white;
    border-radius: 5px;
}

.contact-form-message#success {
    background-color: green;
    border: thin solid green;
}

.contact-form-message#error {
    background-color: red;
    border: thin solid red;
}

#respond label {
    font-family: $font-family-sans-serif;
    width: 100%;
    margin-bottom: $rvr-1;
}

.form-control, textarea {
    font: 300 13.333px Roboto;
    border-radius: 5px;
}

#respond > form > input[type="submit"]:nth-child(7) {
    background: $tungsten;
    -webkit-appearance: none;
    border: 1px solid $tungsten;
    border-radius: 5px;
    padding: $rvr-_25 $ms-_5;
    color: $gray-600;
}