.panel.home-page.splash{
    .hide-2 {display: none;}
    @include media-breakpoint-up(sm) {
}
    @include media-breakpoint-up(md) {
}
    @include media-breakpoint-up(lg) {
}
    @include media-breakpoint-up(xl) {
}

}

.scroll-top {
    display: none;
}

.panel.business-value.grow > div > hgroup > h3 > br,
.panel.business-value.modernize > div > hgroup > h3 > br{
	display: none;
}


.diagram-content__end-to-end--horizontal{
	   display: none;
	    @include media-breakpoint-up(sm) {
	    	display: none;
	}
	    @include media-breakpoint-up(md) {
	  	display: none;
	  }
	    @include media-breakpoint-up(lg) {
			display: block;
		}
	    @include media-breakpoint-up(xl) {
	}
	
}

.diagram-content__end-to-end--vertical{
	    @include media-breakpoint-up(sm) {
	    	display: block;
	}
	    @include media-breakpoint-up(md) {
	}    
	    @include media-breakpoint-up(lg) {
			display: none;
		}
	    @include media-breakpoint-up(xl) {
	}
	
}


.panel.home-page.splash .hide{
	// display: none;
	    @include media-breakpoint-up(sm) {
	}
	    @include media-breakpoint-up(md) {
	    	// display: block;
	}
	    @include media-breakpoint-up(lg) {
	}
	    @include media-breakpoint-up(xl) {
	}
	
}
