


#main > section > article.panel.business-value.objectives > div > hgroup > h2{
    letter-spacing: 0rem;
}

.grow p:first-of-type{
    letter-spacing: -.05rem;
}


 

// ==========================================================================
// svg adjustments
// ==========================================================================

// business value panel__advancing objectives--horz diagram
.diagram-content .icon{
    .cls-4, .cls-1, .cls-2, .cls-3 {
        fill: $gray-700;
    }
}

// business value panel__advancing objectives--horz diagram

.diagram__end-to-end {
    .cls-2, .cls-12 {
        fill: $tungsten;
    }

    .cls-5, .cls-6, .cls-7, .cls-10 {
        font-weight: 600;
    }

    .cls-3 {
        font-size: $ms-1;
    }

    .cls-6, .cls-10, .cls-3 {
        font-family: $font-family-monospace;
    }
}

.diagram-content .metrics{
	padding: 0 .5rem;
}

.chev--dwn{
    width: 1rem;
    stroke-width: .1rem;
    stroke-linecap: round;
}
// @mixin myccon(){
//     @include make-container(){
//     margin-left: 0px;
//     margin-right: 0px;
// }
// }
// @mixin myrow(){
//     @include make-row(){
//     padding-left: 0px;
//     padding-right: 0px;
// }
// }