


@media (max-width: 400px){
.container{
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
.navbar .container{
	width: 80%;
}
}
}

@media (min-width: 400px){}
@media (min-width: 480px){}
@media (min-width: 560px){}
@media (min-width: 640px){}
@media (min-width: 768px){}
@media (min-width: 1024px){}
@media (min-width: 1248px){}
@media (min-width: 1440px){}
@media (min-width: 1920px){}
@media (min-width: 2560px){}
