@media (max-width: 35em){
.navbar>.container, .navbar>.container-fluid{
width: 90%;
 position: relative;
 margin: 0 auto;
}
.container{
	width: 90%;
	padding-left: 0;
	padding-right: 0;
	max-width: 90%;
}

}


@media (min-width: 35em){

.navbar>.container, .navbar>.container-fluid{
	position: relative;
	   margin: 0 auto;
	width:100%;
	max-width: 100%;
	padding: 0 2em;
}
}

@include mq('phone'){}    
@include mq('phone-wide'){
	.container{
	padding-left: 0;
	padding-right: 0;
}

}    
@include mq('phablet'){

}    
@include mq('tablet-small'){}    
@include mq('tablet'){

.container{
	max-width: 60em;
	width: 60em;
}
/* .navbar-expand-md .navbar-toggler{
	display: flex;
} */
}   
@include mq('tablet-wide'){
	.container{
max-width: 99em;
	width: 99em;
}
 
.navbar>.container, .navbar>.container-fluid{
	width: 90%;
	max-width: 90%;
}
}
@include mq('desktop'){
width: 99em;
max-width: 99em;
/* 	.container{
width: 48em;
max-width: 48em;
} */
}
@include mq('desktop-wide'){
.container{
	width: 99em;
	max-width: 99em;
}
}    
@include mq('desktop-xl'){
 
	
/* 	.navbar>.container, .navbar>.container-fluid{
   width: 74em;
   max-width: 74em;
   }  */   
}    
@include mq('desktop-xxl'){
	.navbar>.container, .navbar>.container-fluid{

width: 99em;
max-width: 99em;
}  
}  

