/* bootstrap z-index placed here for future reference
 *//* 
$zindex-dropdown:                   1000 !default;
$zindex-sticky:                     1020 !default;
$zindex-fixed:                      1030 !default;
$zindex-modal-backdrop:             1040 !default;
$zindex-modal:                      1050 !default;
$zindex-popover:                    1060 !default;
$zindex-tooltip:                    1070 !default; */

@include vr-reset(
    $helpers: false,
    $breakpoints:(
    1em: ( // 400px
      font-size: 6px,
      line-height: 1.5,
      modular-scale: perfect-fifth,
      grid-color: purple
    ),
    25em: ( // 400px
      font-size: 8px,
      line-height: 1.5,
      modular-scale: perfect-fifth,
      grid-color: purple
    ),
  30em: ( // 480px
      font-size: 8px,
      line-height: 1.5,
      modular-scale: perfect-fifth,
      grid-color: blue
    ),
  35em: ( // 560px
      font-size: 10px,
      line-height: 1.5,
      modular-scale: perfect-fifth,
      grid-color: green
    ),
    40em: ( // 640px
        font-size: 8px,
        line-height: 1.5,
        modular-scale: perfect-fifth,
        grid-color: yellow
    ),
    48em: ( // 768px
        font-size    : 8px,
        line-height  : 1.5,
        modular-scale: perfect-fifth,
        grid-color   : orange,
    ),
    64em: ( // 1024px
        font-size    :8px,
        line-height  : 1.5,
        modular-scale: perfect-fifth,
        grid-color   : purple,
    ),
    78em: ( // 1248px
        font-size    : 8px,
        line-height  : 1.5,
        modular-scale: perfect-fifth,
        grid-color   : blue,
    ),
    90em: ( // 1440px
        font-size    : 10,
        line-height  : 1.5,
        modular-scale: perfect-fifth,
        grid-color   : blue,
    ),
    118em: ( // 1920px
        font-size    : 10,
        line-height  : 1.5,
        modular-scale: perfect-fifth,
        grid-color   : purple,
    ),
    160rem: ( // 2560px
        font-size    : 16,
        line-height  : 1.5,
        modular-scale: perfect-fifth,
        grid-color   : blue,
    )
)
    );


html {
    height: 100%;
    scroll-behavior: smooth;
}

html [type=button] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

body {
    height: 100%;
    // padding-top: $navbar-height;
/* @include vr-grid(); */
/*      flex-direction: column; */
}


section{}
header{}
title{}
hgroup{}
title{}
figure{}
article{}

// .article__spacer{
//   height: 25vh;
//   background: $body-bg;
// }

.fixed-top{
    position: fixed;
    top: 0;
    z-index: 1000;
}

.container{
  position: relative;
}

%row, .row{
    margin-left: 0;
    margin-right: 0;
}

.wrapper{
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

.article__wrapper{
   margin-right: auto;
   margin-left: auto;
   position: relative;
   max-width: 100%;
   top: 0;
}

.article__wrapper-fluid{
    width: 100%;
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
    position: relative;
}
/* 
.container-fluid{
  padding-left: 0;
  padding-right: 0;
} */

.link__advance--chevron{
    width: 3rem;
    height: 3rem;
    display: block;
    @include mq('phone-wide'){
      position: relative;
    }
}

.link__advance--text{
bottom: 5rem;
left: 0;
}


svg.chev--dwn{
      stroke: #111;  
    stroke-linecap: round;
    stroke-width: .5em;
    width: 3rem;
    height: 3rem;

}

.scroll-top{
    position: fixed;

    /* Fixed/sticky position */
    bottom: 30px;

    /* Place the button at the bottom of the page */
    right: 30px;

    /* Place the button 30px from the right */
    z-index: 99;
   }


button:focus {
    outline: $primary;
}

button{
    height: unset;
}

.content1, .content2{
  padding-left: 0;
  padding-right: 0;
}

