// ==========================================================================
// small screen article spacing
// ==========================================================================

//sections
#section__my-value {}

#section__home-page {}

#section__why-me {}

#section__my-expertise {}

#section__about-me {}

//core = homepage  alternate = why - me
@media (max-width: 48em) {
  .core, .my-value, .why-me, .alternate {}
}

//compensation for smaller mobile/tablets when in landscape mode
@media only screen and (max-height: 25em) {
  .splash {
    min-height: 600px;
    height: unset;
  }

  .core {
    height: unset;
  }

  .container {
    width: 90%;
  }

  #wrapper__whatido {
    height: unset;
  }
}

@media only screen and (max-width: 40em) and (max-height: 25em) {
  #my-brains {
    width: 45%;
    left: 55%;
  }
}

// ==========================================================================
// splash
// ==========================================================================

.splash-wrapper {
  overflow: hidden;
}

.splash {
  @include split-rows;

  @include left-middle;

  height: 100vh;

  h1 {
    flex: 0 0 auto;
  }

  h2 {
    flex: 0 0 auto;
  }

  h3 {
    flex: 0 0 auto;
  }

  p {
    flex: 0 0 auto;
  }

  .link {
    position: absolute;
    flex: 0 0 0;
    left: 50%;
    bottom: 6em;
  }
}

// ==========================================================================
// home page articles
// ==========================================================================

.core {
  h1 {
    flex: 0 0 auto;
  }

  h2 {
    flex: 0 0 auto;
  }

  h3 {
    flex: 0 0 auto;
  }

  .content-container {
    flex: 0 0 auto;

    @include split-rows;

    flex-direction: column;
  }

  .link {
    flex: 0 0 0;
    position: relative;

    @include vr($margin: 4 auto);
  }
}

.core {
  @include mq("tablet-wide") {
    @include split-cols;
  }
}

.intro__icon_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content__intro_icon--background {
  flex: 0 0 auto;
}

.intro__icon_caption {
  flex: 1 0 auto;
}

.splash__label, .splash__label--emph {
  flex: 0 0 auto;
}

.splash__label_divider {
  color: $gray-500;

  @include mq("phone-wide", $type: max) {
    @include vr($padding: 0 0.5);
  }


  @include vr($padding: 0 1);
}

.splash__labels {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

@include mq("tablet") {
  .splash__labels {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    %subhead {
      @include vr($font-size: 1);
    }

    .splash__label_divider {
      display: flex;

      @include vr($padding: 0 1);
    }
  }
}


#idooutcomes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h5 {
    flex: 0 0 auto;
    position: relative;
    z-index: 2;
  }

  .proof__content_text {
    flex: 0 0 auto;
    position: relative;
    z-index: 2;
  }

  .br {
    display: block;
  }
}

// ==========================================================================
// homepage articles
// ==========================================================================
.section__head {
  display: flex;
  flex-direction: column;

  @include make-row;

  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
  max-width: 100%;
}

.section__head_headers {
  width: 100%;
  max-width: 100%;
  flex: 0 0 auto;
}

.intro__icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  // padding-top: 2em;
}

.intro__icon_wrapper {
  @include vr($margin: 4 0);

  width: 20%;
  max-width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content__item_intro--background {
  @include vr($padding: 8 3);
}

.content__intro_icon--background {
  @include make-col-ready;

  padding-left: 0px;
  padding-right: 0px;
  border-radius: 100%;
  background: $gray-500;

  @include vr($margin: 0.75 0);
}

.intro__icon_caption {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content__item_intro--content {
  width: 100%;

  @include vr($padding: 0 1);
}

.content__item_internal-wrapper {
  @include vr($padding: 1 3);

  margin-top: -10em;
  margin-bottom: -16em;
}

.content__item_content--para {
  @include vr($margin: 2 0);
}

//
// panels
//

.panel__head {
  @include mq("tablet") {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.panel__head_img {
  @include make-col-ready;

  width: 25%;

  @include mq("tablet") {
    @include make-col(2);

    padding-left: 0px;
    padding-right: 0px;

    @include vr($margin-right: 1);
  }
}

.panel__head_headers {
  @include make-col-ready;
  @include mq("tablet") {
    @include make-col(9);

    padding-left: 0px;
    padding-right: 0px;
  }
}

.panel__hero {}

.panel__subtext {
  @include make-row;

  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @include vr($padding-left: 0);
}

@include mq("tablet", $type: max) {
  .strengths__panel_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include vr($padding: 2);

    .panel__head {
      flex: 0 0 auto;

      @include vr($margin: 2 0 0 0);
    }

    .panel__hero {
      flex: 0 0 auto;

      @include vr($margin: 0 0 2 0);
    }

    .panel__subtext {
      flex: 0 0 auto;

      @include vr($margin: 0 0 0 0);
    }

    .panel__footnote {
      flex: 0 0 auto;

      @include vr($margin: 1 0 3 0);
    }
  }

  #strengths__panel_wrapper--smm, #strengths__panel_wrapper--dad, #strengths__panel_wrapper--opi {
    @include vr($margin: 2 0);
  }
}


.content__container_row {
  display: flex;
  flex-direction: row;
}

.content__container_col {
  display: flex;
  flex-direction: column;
}

.content__item_col {
  display: flex;
  flex-direction: column;
}

.content__item_row {
  display: flex;
  flex-direction: row;
}

.content__block {
  width: 100%;
  max-width: 100%;
  flex: 0 0 auto;
}

.strengths__content {
  @include make-row;

  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
  max-width: 100%;
  flex-wrap: wrap;
}

ul#list__strengths_container {
  @include vr($padding-left: 0, $margin-top: 0);
}

@extend %list-head;

.list__header {
  text-transform: uppercase;
  flex: 0 0 auto;
  width: 100%;
  max-width: 100%;
}

.strengths__copy {
  @include make-col-ready;
  @include make-col(7);

  padding-left: 0px;
  padding-right: 0px;

  // background: $primary;
  @include vr($padding: 0 0 0 0);
}

.strengths__img {
  @include make-col-ready;
  @include make-col(5);

  // @include vr($padding: 2);
  padding-left: 0px;
  padding-right: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.strengths__icon {
  width: 50%;
  justify-content: center;

  svg#Layer_1 {
    width: 100%;
    height: 100%;
  }
}

// ==========================================================================

/////// small screen adjustments
@include mq("tablet", $type: max) {
  .content__wrapper {
    margin: 12em auto;
  }

  .link {
    @include vr($margin: 6 auto 2 auto);
  }

  // .article__head h1, .business-value h1 { @include vr($margin-bottom: 6); }
}


.article__head {
  h1 {
    flex: 0 0 auto;
  }

  h2 {
    flex: 0 0 auto;
  }

  h3 {
    flex: 0 0 auto;
  }

  .content-container {
    flex: 0 0 auto;
  }

  .link {
    flex: 0 0 0;
  }
}

// ==========================================================================
// services/capabilities
// ==========================================================================

#services__splash {
  align-items: center;
}

.content__wrapper.skills, .content__wrapper.services__intro {
  margin-top: 0;
}

.my-capabilities {
  padding-top: 4rem;

  h1 {
    flex: 0 0 auto;
    margin-top: auto;
  }

  h2 {
    flex: 0 0 auto;
  }

  h3 {
    flex: 0 0 auto;
  }

  h4 {
    flex: 0 0 auto;

    /*      @extend %display-text-lg; */
  }

  /*         @extend %display-text-lg;  */

  p {
    flex: 0 0 auto;
    margin-bottom: auto;
  }
}

.skills {
  .link__advance--chevron {
    position: relative;
  }
}

.my-capabilities__main-page {
  position: relative;
}

.my-capabilities__container__skills {
  position: relative;
}

.capabilities__main-page_menu {
  @include vr($margin-top: 4);
}

.capabilities__menu_item {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  width: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;

  @include vr($margin: 3 0);
}

.link {
  @include vr($margin-bottom: 0);
}

#mobile-icon {
  @include vr($padding: 0.5);
}

#gears-icon {
  @include vr($padding: 1);
}

.capabilities__menu_icon {
  @include make-col-ready;
  @include make-col(3);

  margin-top: -8em;
}

.capabilities__menu_icon, .capabilities__menu_icon .cls-2, .capabilities__menu_icon .cls-1 {
  width: 50%;
}

.capabilities__menu_item--content {
  @include cols;
  @include make-col-ready;
  @include make-col(9);

  justify-content: flex-start;

  @include vr($padding-left: 1);
}

#capabilities__menu_link {
  position: relative;
  bottom: unset;
  flex: 0 0 auto;

  @include vr($margin-top: 1);
}

// ==========================================================================
// capabilities overlay
// ==========================================================================

.capabilities__overlay {
  height: 100vh;
  left: 0;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  visibility: hidden;
  width: 100%;
  max-width: 100%;
  z-index: 1001;
  display: flex;
  flex-direction: column;

  hr {
    width: 90%;
  }
}

.overlay__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.capabilities__overlay--webdev {
  margin-bottom: 3rem;
}

.overlay-intro {
  @include vr($margin: 6 0 4 0);
}

.overlay-intro, .overlay__content {
  max-width: 90%;

  @include push-auto;
  @include mq("tablet") {
    max-width: 70em;
    width: 70em;

    @include push-auto;
  }
}

.overlay__content--head {
  @include make-row;
  @include rows;

  align-items: center;
}

.overlay__content {
  @include vr($margin: 2 0 2 0);
  @include make-col-ready;
  @include make-col(12);

  padding-left: 0;
  padding-right: 0;
  flex: 0 0 auto;
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;

  @include mq("tablet") {
    width: 70em;
    max-width: 70em;

    @include vr($margin: 3 1 3 1);
  }
}

.overlay__content--icon {
  @include make-col-ready;
  @include make-col(2);

  padding-left: 0;
  padding-right: 0;

  @include mq("tablet") {
    @include make-col(2);

    margin-right: 2%;

    @include vr($padding: 1, $width: 6);
  }
}

// .overlay__content--icon{
//     @include make-col-ready();
//     @include make-col(4);
//     @include vr($margin-bottom: 2);
// }

.overlay__content ul {
  @include make-row;

  width: 100%;
  max-width: 100%;

  @include rows;

  flex-wrap: wrap;

  @include vr($margin-top: 0);
  @include mq("tablet") {
    max-width: 48em;
    width: 48em;

    @include vr($margin-top: -2);

    margin-left: 19%;
  }


  /* margin-left: 3rem; */

  li {
    @include make-col-ready;

    width: 47%;
    max-width: 47%;
  }
}

#expt-overlay-2, #expt-overlay-3, #expt-overlay-5 {
  ul {
    list-style: none;
    padding-left: 0;
    text-indent: 0;
    margin-left: 16.6%;
  }
}

#expt-overlay-2, #expt-overlay-3, #expt-overlay-5 {
  .overlay__content--icon {
    width: 6rem;
  }
}

// ==========================================================================
// services
// ==========================================================================
.services__panel {
  @include vr($padding: 4 0);
}

.panel__content {
  max-width: 25em;

  @include push-auto;
  @include vr($margin-bottom: 1);
}

.panel__content_summary {
  @include vr($margin-bottom: 1);
}

.services__panel_img--marcom {
  width: 20em;
  display: block;

  @include push-auto;
}

//
// panel images 
//
.services__panel_img--webdev {
  width: 40em;
  display: block;
  margin: 0 auto;
}

#blue_a {
  width: 20em;
}

.panel__head_img--services {
  width: 100%;

  @include vr($margin-bottom: 2);
}

// ==========================================================================
// why-me
// ==========================================================================

#objectives {
  @include mq("tablet-wide") {
    height: 80vh;
    justify-content: space-around;
    display: flex;
    flex-direction: column;

    h1 {
      flex: 1 0 auto;
    }

    .page__header {
      flex: 0 0 auto;
    }

    .diagram {
      flex: 0 0 auto;
      margin: 4rem auto;
    }

    .my-value__conclusion {
      flex: 1 0 auto;
    }

    a {
      flex: 0 0 auto;
      align-self: center;
    }
  }
}

#grow {
  @include mq("tablet-wide") {
    height: 80vh;

    .diagram, .my-value__conclusion {
      height: 50vh;
    }
  }
}

#modernize {
  @include mq("tablet-wide") {
    height: 80vh;
  }
}

#optimize {
  @include mq("tablet-wide") {
    height: 80vh;
  }
}

#cta__value {
  height: 100vh;
}

///////////////////////////////////////////////////////////////////
// proof / evidence
//////////////////////////////////////////////////////////////////

#article__container--proof {
  align-items: center;
}

.proof__content {
  @include vr($padding: 4);
}

.proof__item_container {
  @include make-col-ready;
  @include make-col(12);

  padding: 6em;

  @include mq("desktop") {
    @include make-col(4);

    padding: 4em;
  }
}

.proof__content_text {
  @include vr($width: 17);
  @include push-auto;
}

#proof__content_end2end {
  padding: 6em .25em;
}

///////////////////////////////////////////////////////////////////
// i do outcomes panel
//////////////////////////////////////////////////////////////////

#idooutcomes {
  @include vr($padding: 0 3 0 3);

  position: relative;

  @include mq("tablet", $type: max) {
    min-height: 600px;
  }
}

///////////////////////////////////////////////////////////////////
// end to end equation panel
//////////////////////////////////////////////////////////////////

#end2end__diagram_container, #stats-slider {
  width: 100%;
  display: block;

  @include push-auto;
}

#end2end__diagram_container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include vr($padding: 5 1);
}

.proof__content_text {
  width: 100%;

  @include vr($width: 24, $margin-top: 2);
}

#barchart {
  margin-right: -1em;
}

.end2end__diagram_img, .end2end__diagram_img--dollar {
  @include make-col-ready;
  @include make-col(4);

  svg#Layer_1 {
    width: 70%;
    display: block;

    @include push-auto;
  }
}

.end2end__diagram_img--plus, .end2end__diagram_img--equal {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

///////////////////////////////////////////////////////////////////
// I've been around / stats slider panel
//////////////////////////////////////////////////////////////////

#stats-slider {
  @include vr($margin-bottom: 1);
}

.proof-quals svg {
  width: 30%;
  margin: 0 auto;
  display: block;

  @include mq("phone") {}

  @include mq("tablet") {
    /* height: 25em; */
  }


  @include mq("desktop") {
    /*     height: 8em; */
  }
}

.proof-quals {
  float: left;
  padding-left: 15px;
  padding-right: 15px;

  @include vr($margin: 2 0 2 0);
  @include make-col-ready;
  @include make-col(12);
  @include mq("desktop") {
    @include make-col(4);
  }
}

.vitae__stats {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.vitae__stats.carousel {
  overflow: hidden;
  display: block;
}

.vitae__stats--title {
  margin-top: 4rem;
  text-align: center;
  display: none;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 2em;
  width: 2em;
}

#stats-slider > .carousel-inner {
  width: 90%;
  min-height: 10em;
  display: block;

  @include push-auto;
}

#stats-slider {
  @include vr($margin: 0);
}

.carousel-control-next-icon {
  right: 0;
  margin-left: auto;
}

.carousel-control-prev-icon {
  left: 0;
  margin-right: auto;
}

.stats-caption {
  position: relative;
  padding-top: 0;
  padding-bottom: 0;
  bottom: 0;
  width: 100%;
  margin-top: 0;
  left: 0;
}

///////////////////////////////////////////////////////////////////
// Professional About Service panel
//////////////////////////////////////////////////////////////////

#proof__service {
  @include vr($padding: 4 0 4 0, $width: 100%);
}

#proof__you {
  width: 100%;

  @include vr($padding: 5);
}

#bell__small {
  svg#Layer_1 {
    @include vr($margin: 4 auto 0 auto);

    width: 20%;
    display: block;
  }
}

.divider__hr {
  width: 4rem;

  @include push-auto;
  @include vr($margin-top: 2);
}

@include mq("tablet-wide") {
  .content-container {
    @include split-cols;
  }

  .divider__hr {
    display: none;
  }

  .stats {
    display: block;
    flex: none;
  }

  .vitae__stats.carousel {
    // height: 50rem;
    overflow: hidden;
    display: block;
  }
}


// ==========================================================================
// expertise
// ==========================================================================

// ==========================================================================
// why me
// ==========================================================================

.why-me__categories_content {
  margin-bottom: 2rem;
}

.why-me__container__brands{
    @include media-breakpoint-up(md) {
        
}
}

.why-me__brands_content{
    @include make-row();
    width: 100%;
    max-width: 100%;
    @include rows();
    flex-wrap: wrap;
}

.why-me__brands--logo{
    @include make-col-ready();
    @include make-col(4);
    @include vr($padding: .85);
        height: 15em;
}


// ==========================================================================
// contact
// ==========================================================================

.mobile__background--image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  overflow: visible;
  overflow: hidden;

  svg#Layer_1 {
    height: 100%;
  }
}

svg.chev--dwn {
  width: 3rem;
  height: 3rem;
  display: block;
}

.container-hero__img--mobile {
  @media only screen and (max-height: 560px) {
    position: relative;
  }

  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  overflow: hidden;

  /* @include mq('phone'){
      display: block;
  
  } */
  @include mq("tablet") {
    margin-left: 0%;
  }
}

#fam-container {
  width: 100%;
}

// ==========================================================================
// call to action
// ==========================================================================

.cta {
  @include left-middle;

  height: 100vh;

  h1 {
    margin-top: auto;
    flex: 0 0 auto;

    @extend %title;
  }

  h2 {
    flex: 0 0 auto;

    @extend %subhead-lg;
  }

  h3 {
    flex: 0 0 auto;

    @extend %display-text-lg;
  }

  p {
    flex: 0 0 auto;
    margin-bottom: auto;

    @extend %body-text-lg;
  }

  .link {
    position: absolute;
    bottom: 20rem;
    left: 50%;
    flex: .25 0 auto;

    @include vr($font-size: 2, $margin: unset);
  }

  .link__advance--text {
    position: relative;
    bottom: unset;
    left: unset;
  }
}

// ==========================================================================
// why me
// ==========================================================================
.why-me__container__atypical {
  display: flex;
  flex-direction: column;
}

.why-me__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.why-me__content__copy {
  position: relative;
}

// ==========================================================================
// Background page
// ==========================================================================

.categories__content_caption {
  @include make-row;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include vr($padding: 3);
}

img.categories__content_image {
  width: 100%;
  height: 100%;
  overflow: hidden;

  @media (min-width: 300px) {}

  @media (min-width: 400px) {}

  @media (min-width: 576px) {}

  @media (min-width: 768px) {
    width: 150%;
    height: 150%;
  }

  @media (min-width: 1900px) {
    width: 100%;
    height: 100%;
  }
}

// ==========================================================================
// misc elements
// ==========================================================================

.link {
  flex: 0 0 0;
}