

// ==========================================================================
// summary - master
// ==========================================================================



// .summary {
//   h1 {
//     @extend %headline-lg;
//   }

//   h2 {
//     @extend %subhead-lg;
//   }

//   h3 {
//     @extend %display-text-lg;
//   }

//   p {
//     @extend %body-text-lg;
//   }
// }


// =========================================================================
// homepage splash
// =========================================================================
.container.home-page__splash {

  padding-left: 0;
  padding-right: 0;
}

.home__splash_greeting{font-weight: 600;}
.home__splash_headline{font-weight: 500;}

  // p {
  //   @extend %body-text-lg;

  //   font-style: italic;

  //   @include vr($line-height: 3);
  // }
.home-page__splash_advance-link{
    position: absolute;
    display: block;
    @include push-auto;
    bottom: 6em;
  }

  // %subhead {
  //   @include vr($font-size: 1, $margin: 0 0, $line-height: 2.5);
  //   font-weight: 300;
  // }





.splash__label--head{
  @include vr($font-size: 16px);
}

.splash__label{
  @include vr($font-size: 20px);
  font-family: $font-family-serif;
  font-style: italic;
  }


.splash__label--head{
}

.splash__label--item{
  // text-transform: uppercase;
}

.splash__label_divider {
  color: $gray-500;
}


.splash__label--emph {
  color: $primary;
  font-weight: 400;
  // text-transform: uppercase;
}





// .splash__label--head{
//   font-weight: 400;
// }

/* ////////////////////////////////////////////////////////////////////////// */
/* //////////////////////     .core / homepage articles  //////////////////// */
/* ///////////////////////////////////////////////////////////////////////////*/

// .core {
//   // @include left-middle;
//   // @include split-rows;

//   h1 {
//     @extend .page__title;
//   }

//   h2 {
//     @extend %headline;
//         text-align: center;
//   }

//   // h3 {
//   //   /*         @extend %display-text-lg;  */
//   //   @extend %subhead;

//   //   font-weight: 300;
//   // }

//   // h4 {
//   //   @extend %display-text-lg;

//   //   font-weight: 400;
//   //   text-transform: uppercase;
//   // }

//   h5 {
//     @extend %display-text;

//     font-weight: 400;
//     letter-spacing: .05em;
//   }

//   p {
//     @extend %display-text-sm;
//   }


// }


// ==========================================================================
// home-page__summsary-whatido__subsection
// ==========================================================================
.home-page__summary-whatido__subsection{
  background: $black;
}

.article__wrapper.home-page__summary_article{
}

.article__wrapper.home-page__bigger-picture_article{
}



//
// homepage summary
//

.container.home-page__container_summary{
}

.summary__page-title_container{
  color: $white;
}

.summary__page_tldr, .summary__page_headline, .summary__page_subhead, .intro__icon_wrapper, .intro__icon_caption, .summary__page_display-text{
color: $white;
text-align: center;
}

.summary__page_headline{
  font-weight: 500;
  letter-spacing: -.15rem;
  @include vr($font-size: 32px);
}

// .summary__page_subhead{
//   font-weight: 200;
// }

// .summary__page_subhead--strong{
// font-weight: 600;
// }

// span.summary__page_subhead--br{
//     line-height: 0;
// }

// .display-text.summary__page_subhead span{
//   @extend %display-text;
// }

// .content__item_wrapper {
//   width: 100%;
//   padding: 0;
// }

// .content__item_intro--background {
//   background: $black;
//   color: $white;c
// }
    
// .section__head_headers {
//   text-align: center;

//   h2 {
//     @extend %headline;
//   }

//   h3 {
//     @extend %subhead-sm;
//   }

//   p {
//     @extend %display-text-sm;
//   }
// }

h3.intro__summation_subhead{
  @extend %intro_caption;
  text-align:center;

}

.intro__summation_copy{
  @extend %intro_caption;
  text-align:center;
}

.content__item_intro--content {
  background: $gray-300;
}



//
//bigger-picture__panel
//


.home-page__bigger-picture_wrapper {
background: $black;
}

.container.bigger-picture__container {

}

.bigger-picture__panel-content {
color: $white;
}

.bigger-picture__panel_headline {
}

.bigger-picture__panel_subhead {
font-weight: 200;
}

.bigger-picture__panel_subhead--strong{
font-weight: 500;
letter-spacing: -.025em;
}

.bigger-picture__panel_list--list-head {
}

.bigger-picture__list {
list-style: none;
padding-left: 0;
}

.bigger-picture__list_list-item {
}
.bigger-picture__list_list-item--milestone {
}




// .content__item_internal-wrapper {
//   background: $white;
//   border-radius: .25em;
//   border: thin solid $gray-400;
// }

// .content__item_content--para {
//   h2 {
//     @extend %subhead;
//   }

//   > h4 {
//     @include vr($font-size: 2, $margin-bottom: 1);

//     text-transform: lowercase;
//     font-weight: 400;
//   }
// }


//
// summary page__claim
//
.summary-page__claim_wrapper{
 background: $pattens;

}

.container.summary-page__container_claim{
   @include vr($padding: 6 2);
}


.claim__page_title{
  color: $white;
  z-index:3;
}


// .summary__page_subhead{
//   font-weight: 200;
// }

// .summary__page_subhead--strong{
// font-weight: 600;
// }

span.summary__page_subhead--br{
    line-height: 0;
}


.body1-text.summary-page__subhead_claim{
    font-weight: 200;
    margin: 0;
    z-index:3;
}


.display-text.summary-page__subhead_claim--strong{
font-weight: 600;
margin: 0;
z-index:3;

}


.summary-page__subhead_claim--border-top{
border-top: 1px solid $gray-300;
@include vr($padding-top: 1);

}


p.summary-page__claim--fancy{
  font-style: italic;
  font-weight: 200;
  text-align: center;
  font-family: $font-family-serif;
  z-index:3;
}

//
// strengths
//

.strengths__page_headline{
  text-align: center;
  align-self: center;
  @extend %headline;
}

.strengths__panel_headline{
    @extend %subhead;
  %subhead {
    margin-bottom: 0;
  }
}

.strengths__panel_subhead{
  @extend %body2-text;
  font-weight: 400;
}

.strengths__panel_body-copy{
  @extend %body1-text;
}

ul.strengths__list_container {
  list-style: none;
}

.strengths__list-item{
  @extend %list-item;

  // @include vr($font-size: 1, $line-height: 1.5,);
}

.strengths__list_header {
  @extend %list-head;

  font-weight: 400;
  text-transform: uppercase;
}

#strengths__caption {
  @include vr($font-size: 1, $padding-left: 2);

  font-style: italic;
  font-family: $font-family-serif;
}

.strengths__icon {
  background: $white;
  border-radius: 100%;
}

.strengths__panel_footnote {
  @include vr($font-size: 10px, $line-height: 1.5, $padding: 2 0 0 0);

  font-style: italic;
  margin-top: 4em;
  margin-left: auto;
  margin-right: 10%;
}


  // .strengths__article_container.caption {
  //   @extend %display-text-sm;

  //   letter-spacing: .025em;
  // }

//strengths panel colors

#strengths__panel_wrapper--smm, #strengths__panel_wrapper--dad, #strengths__panel_wrapper--opi {
 
    color: $white;
 
}
#strengths__panel_wrapper--smm, #strengths__panel_wrapper--opi{
  background: $primary;
}

#strengths__panel_wrapper--dad{
  background: $gray-800;
}



//
// proof boxes
//

/* /////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////            proof article         /////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////*/

//container article styles
.proof__article_container {
  h2 {
    align-text: center;
    @include push-auto;
  }

  h3 {
    @include vr($width: 28, $line-height: 3);
    @include push-auto;
  }
  h4 {}

h5{
  @extend %display-text;
}
h6{
  @extend %display-text-sm;
}
  p {
    font-family: $font-family-serif;
  }
}

.proof__panel_headline{
  text-align: center;
  @extend %headline;
}

.proof__panel_intro {
  font-family: $font-family-serif;
  @include vr($font-size: 4, $margin-bottom: 4);
  color: $primary;
  font-weight: bold;
}

.proof__panel_intro, .proof__item_container h5 {
  text-align: center;
}

.proof__panel-content_text p {
  @extend %display-text-sm;
text-align: justify;
  letter-spacing: .025em;
}

.proof__panel-content_text em {
  @include vr($font-size: 1);
   color: $primary;
    font-weight: 400;
}

.proof__marketer_block > div > p > em {
  color: $primary;
  font-weight: 300;
}

#proof__you {
  background: $primary;
  border-radius: 2em;
  border: none;
}

// #trend-arrow{
//     z-index: -1;
//     height: 35em;
//     top: 5em;
//     left: -2em;
//     width: 125%;
//     svg#Layer_1{
//         width: 90%;

//     }
//     .st0{
//        fill:rgba(106, 173, 217, .5);
//     }
// }

///////////////////////////////////////////////////////////////////
// i do outcomes panel
//////////////////////////////////////////////////////////////////
.proof__panel_wrapper--border{
  @include mq('tablet-wide'){
        border: 0.25em solid $gray-300;}
  }


.proof__marketer_panel {
  @include mq('tablet-wide', $type:max){

    border: 0.25em solid $gray-300;}

  h5 {

    font-family: $font-family-serif;

    // @include vr($font-size: 2, $margin: 0 0 4 0);
    letter-spacing: 0;
    font-weight: 400;
  }
}

.proof__panel-content_text_idooutcomes{
  text-align: left;
}

.proof__panel_body-copy{
      @extend .body1-text;
      text-align: justify;
}

.proof__panel_body-copy em{
color: $primary;
  }
///////////////////////////////////////////////////////////////////
// end to end equation panel
//////////////////////////////////////////////////////////////////

.proof__end2end-diagram_container {
  background: $black;
  @include vr($padding: 5 2);
  & h6, p {
    color: $offwhite;
  } 

 & h5 {
    font-weight: 400;
    color: $primary;

  }
%display-text{
   @include vr($margin-top: 4, $margin-bottom:1);
}
  %display-text-sm {
    @include vr($margin:0 0 6 0);
  }
}

.proof__end2end-diagram_container>.proof__panel-content_text>%display-text-sm{
  @include vr($margin-top: 4);
}




.end2end__diagram_caption {
  @include vr($font-size: 16px, $margin-bottom: 0);

  color: $primary;
  letter-spacing: .075em;
}

.end2end__diagram_img--plus, .end2end__diagram_img--equal {
  color: $offwhite;

  @include vr($font-size: 3, $margin: 2 auto 2 auto);
}

.end2end__diagram_img--dollar {
  text-align: center;

  @include vr($font-size: 4, $margin: 1 0 1 0);
}

///////////////////////////////////////////////////////////////////
// I've been around / stats slider panel
//////////////////////////////////////////////////////////////////

.proof__panel-content_carousel h5{
  text-align: center;
}


.stats-caption h6 {
  @extend %caption;

  // @include vr($font-size: 1, $margin-bottom: 0, $margin-top: 0, $line-height: 1.25);
  @include push-auto;

  font-weight: 300;
  color: $gray-900;
  letter-spacing: .03em;
}

.proof__stats_block > div.proof__panel-content_text > p {
  @include vr($margin-top: 0);
}


.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%232cc0f2' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%232cc0f2' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
///////////////////////////////////////////////////////////////////
// Professional About Service panel
//////////////////////////////////////////////////////////////////

#proof__you {
  p {
    text-align: center;
    margin-bottom: 0;
  }

  h5 {
    text-transform: capitalize;

    @include vr($margin-bottom: 1);

    font-family: $font-family-serif;
    font-style: italic;
  }
}

// ==========================================================================
// services splash
// ==========================================================================

.services__container_splash{

   h1{
    @extend %title;
   }
   h2{
    @extend %subhead-sm;
       text-align: center;
  }
  h3 {
    @extend %sublist-sm;
  }
 
  @include mq('tablet-wide'){
    text-align: center;
    background: $primary;
    color: $offwhite;
  }
}

.container.services__container_splash{
h1{
  @include vr($margin: 0 0 1.5 0);
}
h2{
  @include vr($margin: 0);
}
}

.services__splash_list{
  list-style: none;
  padding-left: 0;
}

.services__splash_list-item{
 @include vr($font-size: 20px, $line-height: 2.5);
  font-family: $font-family-serif;
}

.splash__list-item--emph{
  font-style: italic;
  font-family: $font-family-serif;
  @include vr($margin-top: 3);
}

// .container.splash.services__container_splash %subhead-sm {
//  @include vr($margin-bottom: 0);
// }

.container.services__container__splash{
  %subhead-sm {
    @include vr($margin-bottom: 0);
}
}
// ==========================================================================
// services page/articles
// ==========================================================================
.services {
  h1 {
    @extend %subhead;
  }

  h2 {
    @extend %display-text-sm;
  }

  h3 {
    @extend %display-text;

    font-weight: 400;
  }

  p {
    @extend %display-text-sm;
  }

  li {
    @extend %list-item;

    color: #111;
  }

  %subhead {
    @include vr($margin-bottom: 0);
  }

  %display-text-sm {
    @include vr($margin: 0 0 2 0);
  }
}

.services__panel_block--planning{
  background: #daeaf7;
}

.services__panel_flex-container--planning{
background: rgba(0, 0, 0, .8);
}

.services__list_list-item {
  @extend %list-item;
}

.services__panel-headline{
  @extend %subhead-sm;
}

.services__panel_headers{
  text-align: center;
  %subhead-sm {
    @include vr($margin-bottom: 3);
  }
}

.services__panel_summary {
  @extend %display-text-sm;
  font-weight: 400;
}

.services__list{
  padding-inline-start: 0;
  padding-left: 0;
  list-style-position: inside;
}

// ==========================================================================
// planning & analysis 
// ==========================================================================

.services__panel--planning{
  background: $black;
  @extend .blueA-reversed;
}

.services__panel-head--planning, .services__panel_content--planning, li.services__list-item--planning{
  color: $offwhite;
}

// ==========================================================================
// capabilities
// ==========================================================================

.my-capabilities {
  h1 {
    @extend .page__title;
  }

  h2 {
    @extend %display-text-lg;
  }

  h3 {}

  h4 {
    /*      @extend %display-text-lg; */
  }

  /*         @extend %display-text-lg;  */

  p {
    @extend %display-text-sm;
  }
}

.capabilities__menu_item {
  %subhead-sm {
    @include vr($font-size: 16px);
  }

  %subhead-sm, %display-text-sm {
    @include vr($margin: 0);

    %display-text-lg {
      @include vr($line-height: 1.75, $margin-bottom: 0.25);
    }
  }
}

.capabilities__menu_item--content h3 {
  @extend %subhead-sm;
}

.capabilities__menu_item > div > p {
  @extend %display-text-sm;
}

#capabilities__menu_link {
  @extend %body-text;

  font-style: italic;
}

// ==========================================================================
// capabilities overlay
// ==========================================================================

.capabilities__overlay {
  background: rgba(0, 0, 0, 0.92);
  opacity: 0;
  transition: all 0.5s;
  color: $tungsten;

  .expt-body-text, .expt-vert {
    color: $tungsten;
  }

  hr {
    width: 90%;
  }
}

.overlay__container {
  h4 {
    @extend %subhead;
  }

  h5 {
    @extend %subhead;
  }
}

.overlay__container > .overlay-intro {
  @include mq("tablet") {
    p {
      @include vr($font-size: 2, $line-height: 3);
    }
  }
}

.overlay__content--head h5 {
  @extend %display-text;
}

.overlay__content {
  /*    h3{
       @include vr($font-size: 1);
   } */

  p {
    @extend %display-text-sm;
  }

  li {
    @include vr($line-height: 1.75, $font-size: 1);
  }

  @include mq("tablet") {
    p {
      margin-left: 19%;

      @include vr($margin-top: -1, $width: 30);
    }
  }
}

.overlay-intro p {
  @extend %display-text-sm;

  font-weight: 200;
}

.overlay__content li {
  @include mq("tablet") {
    @include vr($font-size: 1, $line-height: 2);
  }
}

.capabilities__overlay--webdev {
  h5, hr {
    border: 0;

    /*     max-width: 100%;
    width: 100%; */
    flex: 0 0 auto;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  h5 {
    letter-spacing: .2rem;

    @include vr($font-size: 1);

    text-transform: uppercase;
  }
}

// ==========================================================================
// call to action page
// ==========================================================================
.cta {
  @include left-middle;

  h1 {
    @extend %title;
  }

  h2 {
    @extend %subhead-lg;
  }

  h3 {
    @extend %display-text-lg;
  }

  p {
    @extend %body-text-lg;
  }
}

// ==========================================================================
// background articles (categories, brands, atypical)
// ==========================================================================

#background-bg {
  background: rgba(255, 255, 255, 0.8);
}

.background {
  & h1 {
    @extend .page__title;
  }

  & h2 {
    @extend %headline;
  }
}

.container.background h3 {

}

.content1__background {
  & p {
    @extend %display-text-sm;
  }
}

.categories__content_caption {
  & h3 {
     
  font-weight: 400;
    @include vr($margin-bottom: .25, $margin-top: 0);
  }

  & p {
    @include vr($font-size: 16px, $margin-top: .25);
  }
}

.categories__content_caption {
  opacity: 0;
}

.background__categories_content {
  transition: 0.3s;
  position: relative;
  overflow: hidden;

  &,
  &:hover .categories__content_caption {
    opacity: 1;
    transition: opacity 0.3s linear;
  }

  filter: none;
}

// .background__categories_content:nth-child(odd){
// img{
//     filter: brightness(80%);

// }
// }

.background__categories_content:hover > img {
  filter: blur(1px);
  filter: contrast(200%);
  filter: brightness(100%);
  transition: opacity 0.3s linear;
}

.categories__content_caption {
  color: #fff;
  background: rgba(59, 68, 76, 0.8);
  text-align: center;

  %subhead-sm {
    @include vr($margin-bottom: 0);
  }

  %display-text-sm {
    @include vr($margin: 0 0);

    font-weight: 200;
  }
  @include mq('tablet-wide'){
p{
      @include vr($font-size: 14px);
    }
  }

  @include mq("desktop") {}


  @include mq("desktop-xl") {}
}




.categories, .brands{
    background: #fff;
}

.personal h1{
    @extend .page__title;
  }

.personal{
height: 850px;
        @include mq('phone'){

}
}


.container.about-me__container_personal{
// background: $dark-bg-trans;
background: -moz-linear-gradient(top, rgba(221,238,255,.9) 50%, rgba(0,0,0,0) 100%);
background: -webkit-linear-gradient(top, rgba(221,238,255,.9) 50%,rgba(0,0,0,0) 100%);
background: linear-gradient(to bottom, rgba(221,238,255,.9) 50%,rgba(0,0,0,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
color: $black;

p{
  @extend %display-text-sm;
}
@include mq('tablet-wide'){
  background: -moz-linear-gradient(left, rgba(221,238,255,.9) 15%, rgba(0,0,0,0) 100%);
background: -webkit-linear-gradient(left, rgba(221,238,255,.9) 15%,rgba(0,0,0,0) 100%);
background: linear-gradient(to right, rgba(221,238,255,.9) 15%,rgba(0,0,0,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
}
}

// ==========================================================================
// TRASH?
// ==========================================================================

.bshit {
  @extend %subhead;
}

.alternate {
  & h1 {
    @extend .page__title;
  }

  & h2 {
    @extend %headline;
  }

  & h3 {
    // @extend %subhead;
    letter-spacing: .05rem;
  }

  & p {
    @extend %display-text-lg;

    /*      @include vr($font-size: 6, $line-height: 2);    */
  }
}

// ==========================================================================
// splash article - master
// ==========================================================================

.splash-wrapper {
  overflow: hidden;
}

.splash {
  h1 {
    @extend %title-lg;
  }

  h2 {
    @extend %subhead-lg;
  }

  h3 {
    @extend %display-text-lg;
  }

  p {
    @extend %body-text-lg;
  }
}


// ==========================================================================
// justification-panels__styles_global
// ==========================================================================

.business-value { 
  h1 {
        @extend .page__title;
    }
  }



  .justification__page-header_text{
  @extend .display-text-sm;
}





.justification__conclusion--background {
    background: rgba(210, 219, 226,.5);
    border-radius: .5em;
}


 .justification__conclusion {
        @extend .justification__conclusion--background;
        @include vr($padding: 1);
 }

.justification__conclusion > p {
    @extend %display-text-sm;
    font-weight: 300;
}


//
// justification-panels__style_atypical
//
.justification__atypical {
  text-align: left;
}

.justification__content__copy {
  & h4 {
    @extend %subhead;

    @include vr($font-size: 3);
  }

  & h5 {
    @extend %display-text-lg;
  }

  & p {
    @extend %display-text;

    font-weight: 200;
  }

  @include media-breakpoint-up(md) {
    h4 {
      font-weight: 500;
    }

    h5 {
      font-weight: 300;
    }
  }
}





// ==========================================================================
// page-header 
// ==========================================================================
.page__header_number-title{
 > h2 {
        @include vr($font-size: 5, $line-height:4);
        font-weight: 600;
    }

    > h3 {
        @include vr($font-size: 24px, $line-height:2, $margin:1 0 2 2);
        font-weight: 300;
    }

    h4 {
        @extend %display-text-sm;
    }
    %display-text-sm{
        @include vr($margin: 1 0);
    }

    @include vr($margin-left: 0);
}


// ==========================================================================
// justification-panels__diagrams-layout_global 
// ==========================================================================
.objectives__diagram_li{
  @extend .diagram-label;
}

.end-to-end--horz {
    width: 100%;

    .st0 {
        fill: $primary;
        stroke: #ffffff;
        stroke-width: 1px;
    }

    .st1 {
        font-family: roboto;
        fill: $primary;
    }

    .st2 {
        fill: #111111;
    }

    .st3 {
        fill: #ffffff;
        font-family: roboto;
        stroke: #fff;
        stroke-width: .75px;
    }

}

.diagram__end-to-end--vertical {
    .st3,
    .st4,
    .st5 {
        font-family: roboto;
    }
}

.diagram-content__caption--sticky {
    letter-spacing: -.025em;
    font-weight: 500;
    align-text: justify;
      @include vr($font-size: 2, $padding-right:3);
}

.diagram__content_container .icon {
    .cls-1,
    .cls-2,
    .cls-3,
    .cls-4,
    .cls-5 {
        fill: $primary;
    }
}

//superior value diagram?
text.st4.st6{
    fill:#111;
    stroke: none;
}

text.st3.st4.st5{
    stroke: none;
    fill: #111;
}

//

//superior value diagram
#appbar\2e smiley\2e happy-2, #Path_7509, #Path_7510, #Layer_1 > g:nth-child(1) > g:nth-child(3) > g:nth-child(4), #Layer_1 > g:nth-child(1) > g:nth-child(3) > g:nth-child(6), #Layer_1 > g:nth-child(1) > g:nth-child(2) > g:nth-child(6), #Layer_1 > g:nth-child(1) > g:nth-child(2) > g:nth-child(4){
    fill: $primary;
}


.diagram__superior-value {
    .st1, .st2, .st6, .st7 {
        font-weight: normal;
        // fill: $primary;
        stroke: none;
        font-size: 16px;
    }

    .st4 {
        // font-size: $ms-2_5;
        font-weight: 300;
        letter-spacing: .05rem;
        stroke: none;
}
    .st7 {
        // font-size: $ms-2;
   
    }

    .st1, .st2, .st4, .st6, .st7 {
          fill: #111;
    }

    #Layer_1 {
       .st8, .st12, .st13 {
            // stroke: $gray-700;
            stroke: $primary;
        }
    }

    #Layer_2 .st0 {
        // fill: $tungsten;
        fill: $primary;
    }
    polygon {
        fill: $gray-500;
    }
    #Layer_1 > g:nth-child(1) > g:nth-child(1) > g:nth-child(1) > g > line,
    #Layer_1 > g:nth-child(1) > g:nth-child(1) > g:nth-child(2) > g > line,
    #Layer_1 > g:nth-child(1) > g:nth-child(1) > g:nth-child(3) > g > line{
        stroke: $gray-500;
    }
}


// .diagram__modern-marketing{
//    #headers text{
//     font-family: roboto;
//    } 
// } 


// ==========================================================================
// justification-panels__style-queries_aggregate 
// ==========================================================================

@include mq('phone'){}
@include mq('phone-wide'){}
@include mq('phablet'){}
@include mq('tablet-small'){}
@include mq('tablet'){}
@include mq('tablet-wide'){
  .page__header-text_container--grow, .page__header-text_container--modernize{
    background: $pattens;
  }

}
@include mq('desktop'){}
@include mq('desktop-wide'){}
@include mq('desktop-xl'){}
@include mq('desktop-xxl'){}



