



// Paragraphs
//
// Style p element.

// $paragraph-margin-bottom: $rvr-1, $vr-1;

p {
    line-height: 1.4;
    font-family: $font-family-serif;
}

h1, .h1 {
    font-size: $h1-font-size;
    font-weight: 500;
    min-height: 1px;
    line-height: $line-height-0;
       letter-spacing: -.05rem;
    @include v-2;
    // margin-top: calc(var(--baseline) * 1rem); 
    // margin-bottom: calc(var(--baseline) * 1rem); 
}


h2, .h2 {
    font-size: $h2-font-size;
    font-weight: 500;
    // line-height: $line-height-2;
        letter-spacing: -.05rem;
    
}

h3, .h3 {
    font-size: $h3-font-size;
        line-height: $rvr-1_75;
        letter-spacing: .075rem;
} 

h4, .h4 {
    font-size: $h4-font-size;
}

h5, .h5 {
    font-size: $h5-font-size;
}

h6, .h6 {
    font-size: $h6-font-size;
}

.lead{
    font-weight: 400;
}

.display-1, .display-2, .display-3, .display-4, .display-5, .display-6, .display-7 {
    color: unset;
    font-weight: unset;
    font-size: unset;
}

.tldr{
    font-family: $font-family-monospace;
    // padding: 0 $ms-2 0 $ms-2;
    font-size: ms(-5);
    line-height: $rvr-10;
    font-weight: 400;
}

// Type display classes
@mixin display-1 {
    font-size: $display-1-size;
    font-weight: $display1-weight;
}

@mixin display-2 {
    font-size: $display-2-size;
    font-weight: $display-2-weight;
}

@mixin display-3 {
    font-size: $display-3-size;
    font-weight: $display-3-weight;
}

@mixin display-4 {
    font-size: $display-4-size;
    font-weight: $display-4-weight;
}

@mixin display-5 {
    font-size: $display-5-size;
    font-weight: $display-5-weight;
}

@mixin display-6 {
    font-size: $display-6-size;
    font-weight: $display-6-weight;
}
@mixin display-7{
    font-size: $display-7-size;
    font-weight: $display-7-weight;
}


// Body type classes
@mixin body-1 {
    font-size: $body-1-font-size;
    font-weight: $body-font-weight;
    font-family: $font-family-serif;
}

@mixin body-2 {
    font-size: $body-2-font-size;
    font-weight: $body-font-weight;
    font-family: $font-family-serif;
}

@mixin body-3 {
    font-size: $body-3-font-size;
    font-weight: $body-font-weight; 
    font-family: $font-family-serif;
}

@mixin body-4 {
    font-size: $body-4-font-size;
    font-weight: $body-font-weight;
    font-family: $font-family-serif;
}

@mixin body-5 {
    font-size: $body-5-font-size;
    font-weight: $body-font-weight;
    font-family: $font-family-serif;
}

@mixin body-6 {
    font-size: $body-6-font-size;
    font-weight: $body-font-weight;
    font-family: $font-family-serif;
}

