$modularscale:(
  base: 18px,
  ratio: 1.618
  );


// Fonts
//
// Font, line-height, and color for body text, headings, and more.

// stylelint-disable value-keyword-case
$font-family-sans-serif:      -apple-system, BlinkMacSystemFont, geomanist, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:            $font-family-sans-serif !default;

// stylelint-enable value-keyword-case

$line-height-base: 			  1.2;

$font-weight-thin:			  100 !default;
$font-weight-light:           200 !default;
$font-weight-normal:          300 !default;
$font-weight-bold:            400 !default;
$font-weight-black:           700 !default;


$ms-_25:					  ms(.25);
$ms-_5:					      ms(.5);
$ms-_75:					  ms(.75);
$ms-1:					      ms(1);
$ms-1_5:				      ms(1.5);
$ms-2:					      ms(2);
$ms-3:					      ms(3);
$ms-3_5:					  ms(3.5);
$ms-4:					      ms(4);
$ms-5:					      ms(5);
$ms-6:					      ms(6);
$ms-7:					      ms(7);
$ms-8:					      ms(8);
$ms-9:					      ms(9);
$ms-10:					      ms(10);
$ms-11:					      ms(11);
$ms-12:					      ms(12);
$ms-13:					      ms(13);
$ms-14:					      ms(14);
$ms-15:					      ms(15);
$ms-16:					      ms(16);


$h1-font-size:                $ms-4;
$h2-font-size:                $ms-3;
$h3-font-size:                $ms-2;
$h4-font-size:                $ms-1;
$h5-font-size:                $ms-_75;
$h6-font-size:                $ms-_25;

$width-1:					  $ms-9;
$width-2:					  $ms-8;
$width-3:					  $ms-7;
$width-4:					  $ms-6;
$width-5:					  $ms-5;
$width-6:					  $ms-4;

$headings-font-family:        inherit !default;
$headings-font-weight:        500 !default;
$headings-color:              inherit !default;
$headings-line-height:        1.1;
$headings-margin-bottom:	  1.2rem;


$display1-size:               $ms-3;
$display2-size:               $ms-2;
$display3-size:               $ms-1_5;
$display4-size:               $ms-_75;

$display1-weight:             300 !default;
$display2-weight:             300 !default;
$display3-weight:             300 !default;
$display4-weight:             300 !default;

$display1-width:              $ms-9;
$display2-width:              $ms-8;
$display3-width:              $ms-7;
$display4-width:              $ms-6;


$display-font-family:         inherit !default;
$display-color:               inherit !default;
$display-line-height:         1.1;
$display-margin-bottom:		  1.2rem;

$lead-font-size:              $ms-2;
$lead-font-weight:            500 !default;

