/*
$modularscale: (
  base: 18px,
  ratio: 1.618
);
*/

//___________________________________________________________________________________________
// .width-1{
//     width: ms(1);
// }
// .width-2{
//     width: ms(1);
// }
// .width-3{
//     width: ms(1);
// }
// .width-4{
//     width: ms(1);
// }
// .width-5{
//     width: ms(1);
// }


// h1,.h1{
//     font-size: ms(4.5) !important;
// }
// h2,.h2{
//     font-size: ms(4) !important;
// }
// h3,.h3{
//     font-size: ms(3) !important;
// }
// h4,.h4{
//     font-size: ms(2) !important;
// }
// h5,.h5{
//     font-size: ms(1) !important;
// }
// h6,.h6{
//     font-size: ms(.25) !important;
// }


// .display-1 {
//     font-size: ms(1) !important;
// }

// .display-2 {
//     font-size: ms(1) !important;
// }

// .display-3 {
//     font-size: ms(1) !important;
// }

// .display-4 {
//     font-size: ms(1) !important;
// }