.container{
	width: 83.82%;
	@include push-auto();
}

// .proof__panel-content_text_idooutcomes{
// 	max-width: 32em;
// }

@include mq('phablet', $type:max){
	.navbar>.container, .navbar>.container-fluid { width: 90%; position: relative; margin: 0 auto; }
	.container { width: 83.82%; padding-left: 0; padding-right: 0; max-width: 90%; }
}
@include mq('phablet'){
	.navbar>.container, .navbar>.container-fluid { position: relative; margin: 0 auto; width: 100%; max-width: 100%; padding: 0 2em; }
}
@include mq('phone') { }
@include mq('phone-wide') { 
	.container { padding-left: 0; padding-right: 0; }
}
@include mq('phablet') {
	.proof__panel_wrapper{@include vr($padding: 5, $width: 100%);
 }
}
@include mq('tablet-small') { }
@include mq('tablet') { 
	.container { max-width: 80%; width: 80%; }

}

@include mq('tablet-wide') { 
	.proof__panel_wrapper { max-width: 99em; width: 99em; } 
	.navbar>.container, .navbar>.container-fluid { width: 90%; max-width: 90%; }
	.section__head_homepage--summary{width: 80%; margin: 0 auto;}

}

@include mq('desktop') {}
@include mq('desktop-wide') { 
	.container { width: 81%; max-width: 81%; }
}

@include mq('desktop-xl') { }
@include mq('desktop-xxl') { 
	.navbar>.container, .navbar>.container-fluid { width: 99em; max-width: 99em; }
}
// ==========================================================================
// misc adjustments
// ==========================================================================

.container.services { width: 100%; max-width: 100%; }
// .services__page_head { width: 90%; max-width: 90%; @include push-auto(); }
.ops-management__panel, .planning-analysis__panel { width: 100%; max-width: 100%; }
.webdev__panel { width: 90%; max-width: 90%; }
.ops-management__panel, .planning-analysis__panel, .webdev__panel { @include push-auto(); }
