

//IMAGES===========================================

//splash page mobile background images




#profile-small {
width: 50%;
left: 50%;
bottom: 0;
position: absolute;
img#me-small{
    width: 75%;
}
@include mq('phone-wide'){
width:35%;
left: 65%;
}
@include mq('tablet-small'){
    // width: 75%;
    // margin-left: 60%;
}
}

#bell-small{
    // max-width: 61.8%;
    max-width: 38%;
display: block;
@include push-auto();
    overflow: hidden;
    @include mq('tablet'){
        max-width: 38%;
    }
}


#register-small{
    position: absolute;
    overflow: hidden;
    width: 100%;
}
.register-small{
    margin-left: auto;
    display: block;
    width: 38.2%;
    @include mq('phone'){}
    @include mq('phone-wide'){}
    @include mq('phablet'){
        width: 50%;
    }
    @include mq('tablet-small'){}
    @include mq('tablet'){}
    @include mq('tablet-wide'){}
    @include mq('desktop'){}
    @include mq('desktop-wide'){}
    @include mq('desktop-xl'){}
    @include mq('desktop-xxl'){}
    
    
}

#my-conductor {
width: 100%;
bottom: 0;
position: absolute;
img.conductor-small{
width: 185%;
margin-left: 2rem;
    }
@include mq('tablet-small'){
    width: 75%;
    margin-left: 60%;
}
@include mq('tablet'){
width: 100%;
height: auto;
margin-left: 0;
img.conductor-small{
    width: 250%;
    height: auto;
    margin-left: 0rem;
    
}
}
@include mq('tablet-wide'){
bottom: -12em;
img.conductor-small{
margin-top: 10em;
}
}
}

#my-brains{
    bottom: 0;
    left: 5%;
    width: 96%;
    position: fixed;
@include mq('tablet-small'){
    bottom: 0;
    margin-left: 20%;
    width: 80%;
    position: fixed;
}
}


#evo2small{
flex: 0 0 auto;
position: relative;
bottom: 0;
display: block;
margin: 0 auto;
width: 80%;
@include mq('phone'){
    width: 75%;
    margin-left: 12.5%;
@include mq('desktop'){
     width: 60%;
     margin-left: 35%;
    }
}
}





#my-shoes{
    width: 100%;
    overflow: hidden;
    bottom: 0;
      -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  margin-left: auto;
@include mq('tablet-wide') {
    width: 98%;
    max-width: 98%;
    right: -1em;
    bottom: 1em;
}
}
//--reminder--image is flipped so everything is backwards
#shoes-img{
    display: block;
    width: 61%;
}


@include mq('tablet-wide'){
    #fam-container{
        overflow: hidden;
    }
    #fam-img{
        width: 150%;
        max-width: 150%;
    }
}





// .container-hero__img--mobile.evo{
//         width: 100%;
//         height: auto;
//         margin-left: 0;
//         z-index:-1;
//         position: absolute;
//           @include mq('tablet') {
//         left:0%;
//       #evo-small{
//         width: 125%;
//       }  // width: 125%;
// }
// }

// .profile {
//         width: 45%;
//         left: 65%;
//         z-index:-1;
//           @include mq('tablet') {
//         left: 60%;
//     }
// }


//splash page background images
.bgme {
    background: none;

@media (min-width: 78em) {
        background-image: url("http://jamiejohnsonmev2.test/wp-content/uploads/2018/12/me.jpg");
        background-position: right bottom;
        background-size: 80%;
        background-repeat: no-repeat;
    }
}

.bgshoes {
    background: none;

@media (min-width: 78em) {
        background-image: url("http://jamiejohnsonmev2.test/wp-content/uploads/2019/01/shoes.jpg");
        background-position: left bottom;
        background-size: 60%;
        background-repeat: no-repeat;
    }
}

.bgbell{
    background: none;
@include mq('desktop'){
        background-image: url("http://jamiejohnsonmev2.test/wp-content/uploads/2019/03/silverbell.jpg");
         background-position: left bottom;
        background-size: 60%;
        background-repeat: no-repeat;
    }
}

.bgbrainsv2 {
    background: none;

@media (min-width: 78em) {
        background-image: url("http://jamiejohnsonmev2.test/wp-content/uploads/2019/01/brains.jpg");
        background-position: right bottom;
        background-size: 50%;
        background-repeat: no-repeat;
    }
}

.bgevo {
    background: none;

@media (min-width: 78em) {
        background-image: url("http://jamiejohnsonmev2.test/wp-content/uploads/2019/01/evolutionv2.jpg");
        background-position: 100% bottom;
        background-size: 65%;
        background-repeat: no-repeat;
    }
@include mq('desktop-xl'){
        background-size: 33%;
        background-position: 70% bottom; 
}
    
}


.bgarrow {
    background: none;
@include mq('desktop-xl'){
        background-image: url("http://jamiejohnsonmev2.test/wp-content/uploads/2019/01/arrowbg.svg");
        background-position: 72% 37%;
        background-size: 93%;
        background-repeat: no-repeat;
    }
}


.bgconductor {
    background: none;

@media (min-width: 78em) {
        background-image: url("http://jamiejohnsonmev2.test/wp-content/uploads/2019/01/conductor-light-1.jpg");
        background-position: 105% bottom;
        background-size: 80%;
        background-repeat: no-repeat;
    }
}

.bgregister {
    background: none;

@media (min-width: 78em) {
        background-image: url("http://jamiejohnsonmev2.test/wp-content/uploads/2019/01/register-light.jpg");
        background-position: right 100%;
        background-size: 40%;
        background-repeat: no-repeat;
    }
}

.justification.splash {
    .container-hero__img--mobile {
        width: 100%;
        left: 0%;
    }
}

/* .my-expertise.splash {
    .container-hero__img--mobile {
        width: 100%;
        left: 15%;
    }
} */





/* 
.my-expertise .container-hero__img--mobile {
    @media (min-width: 300px) {
        left: 4%;
    }

    @media (min-width: 768px) {
        left: 15%;
        overflow: hidden;
        width: 150%;
        max-width: auto;
        .conductor-small {
            width: 700px;
        }
    }

   @include mq('tablet-wide') {
        left: 35%;
    }

    @media (min-width: 1200px) {}

    @media (min-width: 1400px) {}

    @media (min-width: 1600px) {}

    @media (min-width: 1900px) {}
} */











//svg tweaks

.stats .style-svg {
    // height: $ms-6;
    // width: $ms-6;
    @include mq('tablet') {

    }
}

#link__advance_chev-dwn{
   width:1.5em;
  height:1.5em;
  display: block;
  @include push-auto();
    path.st0{
    stroke: $link-color;
}
}



svg#services__arrow--img{
fill: rgba(119, 221, 255, .2);
    // fill: rgba(128,128,128,.3);
display: block;
}


.capabilities__menu_icon, .capabilities__menu_icon .cls-2, .capabilities__menu_icon .cls-1{
    // .style-svg, .cls-1, .cls-3, .cls-4 {
    //     max-width: $ms-10;
        fill: $primary;
    }



#svg__blue_a2--bg{
     #A_outline{
      stroke: $pattens;
    } 
    #dots, #solid_dots{
      fill: $pattens;
    } 
    #grid, #pattern{
        stroke: #76D4F4;
    }
}

#svg__blue_a2--small{
      #A_outline{
      stroke: $primary;
    } 
    #pattern, #grid{
      stroke: $gray-300;
    }
   #solid_dots, #dots{
      fill: $tungsten;
    } 
}


#globe .st0{
stroke: none;
}

#accessible{
    fill: #fff;
}
// .intro__icon--rocket, .intro__icon--conversation{
//         .cls-1{
//             fill: $black;
//         }
//     }

// .intro__icon--fish{
//     .st0{
//         fill: $black;
//     }
// }


// .strengths__icon{
//      .cls-1, .cls-3{
//         fill: $primary;
//     }
// }


// .strengths__icon #Speech_Bubble{
//      .cls-1, .cls-3{
//         fill: $gray-800;
//     }
// }


.overlay__content--icon {
      fill: $capabilities-overlay-icon-fill-color;
    .cls-1, .cls-2 {
        fill: $capabilities-overlay-icon-fill-color;
    }
}




#bell__small_svg{
    svg#Layer_1{
        fill: $black;

}
}



//
// diagram & graphics svg's
//

  #end2end__diagram_container{
    .cls-1, .cls-2{
        fill: $offwhite;
    }
  }


svg.chev--dwn{
      stroke: #111;  
    stroke-linecap: round;
    stroke-width: .5em;
}

.circle-digit__01 path, .circle-digit__02 path, .circle-digit__03 path{
fill: $white;
}

    #digits {
        color: $qualifications-icon-fill-color;
    }

    .cls-1 {
        fill: $qualifications-icon-fill-color;
    }


//
// objectives-panel__diagram_svg-tweaks 
//  
.delta--down,
.delta--right {
    .cls-1 {
        fill: $gray-400;
    }

}

.proof-quals .cls-1{
fill: $offwhite;
}

// .arrow-up-svg{
//     fill: $pattens;
// }