

.marketing__intro-overlap{
  overflow: hidden;
  height: unset;
}


.marketing-splash__article{
  overflow: visible;
  position: relative;
  min-height: 95vh;
  width: 100%;
  display: flex;
  @media only screen and (max-height: 500px) {
  justify-content: center;
  align-items: center;
  }
  @include mq('tablet'){
    align-items: center;
  }
}

.marketing-splash__header-wrapper{
  height: 95vh;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
@include mq('tablet'){
  max-width: 83%;
  text-align: left;
  flex: 0 1 auto;
  margin: 0 auto;
  align-items: baseline;

}
}

.marketing-splash__header{
  z-index: 2;
  display: flex;
  max-width: 90%;
  min-height: 10em;
  width: 90%;
flex: 1 1 auto;
align-items: center;
  @media only screen and (max-height: 500px) {

}

@media only screen and (min-height: 501px) {
  flex: 0 1 55%;
}
@include mq('tablet'){
  flex: 0 1 38%;
  width: 46%;
}
}





.marketing-splash__intro-background-img{
z-index: 1;
overflow: visible;
}


.marketing__splash-img{
  height: auto;
  display: block;
  overflow: visible;
  @media only screen and (max-height: 500px) {
    width: 200%;
    margin-left: -58%;
    margin-top: -31%;
  }
  width: 239%;
  margin-left: -55%;
  margin-top: 22%;
  .cls-1{
    fill: $ash-gray;
  }
  z-index: 1;
@include mq('tablet'){
  width: 183%;
  margin-left: -49%;
  margin-top: -12%;
}
@include mq('tablet-wide'){
  width: 143%;
  margin-left: -29%;
  margin-top: -30%;
}
@include mq('desktop'){
  width: 113%;
  margin-left: 6%;
  margin-top: -30%;
}
}

.better-intro__container-wrapper{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 60em;

}

.better-intro__section-head{
  max-width: 83%;
  min-height: 10em;
  flex: 0 1 auto;
  z-index: 3;

}

.better-intro__article{
 @include az-subtle();
 min-height: 60em;
}

.better-header__container{
  @include mq('tablet'){
  > .deck__header{
    width: 100%;
    max-width: 100%;
  }
  }
}

//* small screen carousel image dimensions
#advantage{
  height: 700px;
  width: 100%;
}
.expertise__carousel--inner{
height: 610px;
min-height: 610px;
overflow: hidden;
}

.expertise__carousel-item{
  height: 600px;
}

.better-carousel-item__image-container  {
  width: 100%;
  max-width: 100%;
  height: 200px;
  position: absolute;
  overflow: hidden;
//   bottom: 0;
  left: 0;
bottom: 0;
  z-index: -1;

   
  > .image--conference-table{
  
  height: auto;
  display: block;
  max-width: 300%;
  width: 100%;
  // margin-bottom: 0%;
  // margin-left: 0%;
  position: absolute;
  // margin-top: 5em;
  bottom: 0;
  }
  
  > .image--smoke{
    height: auto;
    display: block;
    max-width: 300%;
    width: 182%;
    margin-left: -28%;
    transform: translateY(-14%);
    // bottom: 0;
    position: absolute;
  }
  
  >.image--signature{
    height: auto;
    display: block;
    // max-width: 300%;
    // width: 104%;
    position: absolute;
    // bottom: 0;
    left: 0;
    transform: translateY(-17%);
  }
  
  > .image--awesome{
    height: auto;
    display: block;
    max-width: 300%;
    width: 100%;
    /* margin-bottom: -45%; */
    /* margin-left: -25%; */
    left: 0%;
    position: absolute;
    bottom: -14em;
  }
  }

// .better__image-container--smoke{
//   height: 100%;
// }

//* CTA

.marketing-cta__content-container{
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}

.cta__container--marketing{
  height: 45em;
  display: flex;
  max-width: 83%;
  @include mq('tablet'){
  height: 100%;
  max-width: 100%;
}
}

.marketing-cta__image-container{
  overflow: hidden;
  @include mq('tablet'){
    width: 100%;
  }
}

.hire-img{
  height: 60em;
  width: auto;
  max-width: 200%;
  display: block;
  margin-left: -25%;
  overflow: hidden;
  @include mq('tablet'){
    margin-left: 0;
  }
  @include mq('tablet-wide'){
    height: auto;
    width: 165%;
    margin-left: -15%;
  }
}


//!  carousel reconfig for +tablet screens


@include mq('tablet-wide'){


//* 

.better-carousel-item-overlay{
  display: none;
  @include mq('tablet-wide'){
    display: block;
  }
    position: absolute;
    height: 72%;
    width: 94%;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    overflow: visible;
    z-index: 1;
  }  

  .better-carousel-item-overlay__one{background: rgba(000,000,000, .8);}
  .better-carousel-item-overlay__two{background: rgba(000,000,000, .5);}
  .better-carousel-item-overlay__three{background: rgba(000,000,000, .5);}
  .better-carousel-item-overlay__four{background: rgba(000,000,000, .5);}




.expertise__header-wrapper{
width: 100%;
background: $black;
color: $white;
padding: 16% 16%;
}


  .expertise__carousel--controls{
display: none;
}
 
.expertise__carousel--inner{
  width: 100%;
  max-width: 100%;
  height: unset;
} 

.expertise__carousel-item{
  height: 95vh;
  width: 100%;
  max-width: 100%;
  flex-wrap: wrap;
  display: flex;
  overflow: hidden;
  position: relative;
  margin: 1.5em 0;
} 



.better-carousel-item__image-container{ 
position: absolute;
bottom: 0;
left: 0;
z-index: -1;


> .image--conference-table{

height: auto;
display: block;
max-width: 300%;
width: 100%;
margin-bottom: 0%;
margin-left: 0%;
}

> .image--smoke{
height: auto;
display: block;
max-width: 300%;
width: 149%;
margin-bottom: -13%;
margin-left: -28%;
}

>.image--signature{
height: auto;
display: block;
max-width: 300%;
width: 146%;
margin-bottom: -4%;
margin-left: -34%;
}

> .image--awesome{
height: auto;
display: block;
max-width: 300%;
width: 144%;
margin-bottom: -45%;
margin-left: -25%;
}
}



.expertise-carousel-item__header{
  flex: 0 1 auto;
  @include vr($padding: 0 0, $height: 30, $width: 30);
  display: flex;
  flex-flow: wrap;
  align-items: baseline;
  align-content: baseline;

  z-index: 2;
}

.expertise-carousel-item__list{
  flex: 0 1 auto;
  background: rgba($black, .6);
  color: $white;
  @include vr($padding: 3, $height: 30, $width: 30);
  list-style: none;
  text-indent: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-evenly;
  text-align: left;
  z-index: 2;
}




.expertise-carousel-item__headline{
@include vr($margin-top: 4);
}


.expertise-carousel-item__subhead{
  padding-left: 0;
}

.header__maximize-advantage{  
>.headline__item{@include vr($font-size:5) color: $white;}
>.expertise-carousel-item__subhead{@include vr($font-size: 3); color: $white;}
}

.header__start-conversations{ 
>.headline__item{@include vr($font-size:4);color: $white;}
>.expertise-carousel-item__subhead{@include vr($font-size: 3); color: $white;}
}

.header__earn-trust{          
>.headline__item{@include vr($font-size:5);color: $white;}
>.expertise-carousel-item__subhead{@include vr($font-size: 3); color: $white;}
}

.header__optimize-performance{
>.headline__item{@include vr($font-size:5);color: $white;}
>.expertise-carousel-item__subhead{@include vr($font-size: 3); color: $white;}
}




}


@include mq('desktop'){

  .expertise__carousel-item{
    height: 125em;
  }


.better-carousel-item__image-container{ 
      // position: absolute;
      // bottom: 0;
      // left: 0;
      // z-index: -1;


      > .image--conference-table{
      
      // height: auto;
      // display: block;
      // max-width: 300%;
      // width: 100%;
      // margin-bottom: 0%;
      // margin-left: 0%;
      }
      
      > .image--smoke{
      height: auto;
      display: block;
      max-width: 300%;
      width: 160%;
      margin-bottom: -33%;
      margin-left: -36%;
      }

      > .image--signature{
      height: auto;
      display: block;
      max-width: 300%;
      width: 126%;
      margin-bottom: -4%;
      margin-left: -20%;
      }
      
      > .image--awesome{
      height: auto;
      display: block;
      max-width: 300%;
      width: 144%;
      margin-bottom: -61%;
      margin-left: -9%;
      }

  }
}     






//!
//! initial attempt to remove carousel from large screens:
//! 1. remove carousel and/or slide from the carousel parent
//! 2. add height to carousel-inner, flex to row wrap
//! 3. set carousel item display to flex/block and provide a height, set set f-direction to column





//! controls to reorder images in carousel-items on small screens
// .expertise__carousel-item.carousel-item{
//   display: flex;
//   flex-wrap: wrap;
// }

// .expertise-carousel-item__header{order: 1}
// .expertise-carousel-item__list  {order: 3}
// .better-carousel-item__image-container  {order: 2}


