

//*flex-container

.f-container__column--center{
display: flex;
flex-direction: column;
align-items: center;
@include mq('tablet-wide'){

}
}


.f-item__30--offsethead{
  @include block__headline();
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 auto;
  min-height: 0;

}

.diagram__end-to-end--horizontal{
  @include mq('tablet-wide'){
    width: 100%;
    height: auto;
  }
}

