.article.perspective {
  background: $off-white;
  @include az-subtle();
  position: relative;
  // color: $off-white;
  padding: 16% 8%;
@include mq('desktop'){
  max-width: 50%;
  width: 50%;
  padding: 16% 12%;
}
  .flex-container {}

  .pagination {}

  .title {
    @include headline__item();
    @include ultra();
    max-width: 78%;

  }

  .headline {
    @include mq('phone-wide', $type:max) {
      @include vr($font-size:2);
    }

    display: block;
    @include vr($font-size: 3);
    display: flex;
    width: 90%;
    font-variant-caps: all-small-caps;
    font-weight: 500;
    width: 94%;

    @include mq('desktop') {
      width: 83%;
      padding-right: .25em;
      @include vr($font-size: 2);
      letter-spacing: .1rem;
    }
  }

  .copy {
    @include copy__para();
    @include vr($line-height: 3, $margin-bottom: 2);

    @include mq('desktop') {
      // @include copy__item();  
    }
  }

  .ui-button__jump {
    &:hover {}

    &:active {}

    &:focus {}
  }

  .flex-item__b {
    .headline {}

    .copy {}
  }

  .flex-item__c {
    .headline {}

    .copy {}
  }
}



.perspective .flex-item {

  .header__container {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 100%;
    @include mq('desktop'){
    max-width: 100%;
    }
  }

  .container__accordion {
    @include mq('desktop') {
      max-width: 81%;
    }
  }
}

.expand-button__container{
  padding-top: .75rem;
}

.expand-button--perspective {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 2em;
  width: 2em;
  border-radius: 100%;
  min-height: 2em;
  flex: 0 0;
  background: $secondary;
  @include dark-shadow;


  path {
    stroke: #fff;
  }
}

.flex-section__marketing{
  @include mq('desktop'){
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
  }
}

#perspective-evolve,
#paradigm-evolve,
#time-evolve {
  display: none;
}