.section {
  &--services-expertise {
    display: flex;
    align-content: center;
    align-content: center;
    justify-content: center;
    position: relative;
    width: 100%;
    max-width: 100%;
    flex: 0 0 auto;

    @include mq('tablet-wide') {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}

.article {
  &--services-expertise-intro {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;

    @include mq('tablet-wide') {
      max-width: 83%;
      width: 83%;
      flex: 0 0 auto;
    }

    @include mq('desktop-hd') {
      max-width: 83%;
      width: 83%;
    }


  }
}


.article--services-splash {
  justify-content: center;
  align-items: center;

  @include mq('tablet-wide') {
    justify-content: flex-start;
  }

}

.services-splash__pagination {
  align-self: flex-start;

  @include mq('tablet') {
    // @include vr($margin-top:12);
  }
}

.services-splash__container {
  height: 95vh;
  padding-top: 12%;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  max-width: 90%;

  @include mq('tablet') {
    max-width: 83%;
    width: 50%;

    .pagination {
      margin-bottom: unset;
    }

    .services-splash__link--jump {
      align-self: flex-start;

      @include mq('tablet') {
        @include vr($margin-top:12);
        align-self: flex-start;
      }
    }
  }

  @include mq('tablet-wide') {
    padding-top: 0;
    max-width: 38%;
    margin-left: 16%;
    justify-content: center;

    .pagination {}
  }

  @include mq('desktop') {
    max-width: 26%;
    margin-left: 12%;
  }
}

.pagination--services-splash {
  @include mq('tablet') {
    margin-bottom: unset;
  }
}

.services-splash__title-sub {
  color: $white;
  max-width: 83%;
  align-self: flex-start;

  @include mq('tablet-wide') {
    min-height: 3em;
    flex: 0 0 30%;
  }
}

.services-splash__image-container {
  background-color: rgba($color: #000000, $alpha: .8);
  overflow: hidden;
  width: 100%;

  img {
    mix-blend-mode: overlay;
    position: absolute;
    max-width: 300%;
    transform: translate(50%, 50%);

    @media only screen and (max-height: 500px) {
      top: -98%;
      left: -152%;
      width: 275%;
    }

    max-width: 500%;
    transform: translate(50%, 0%);
    top: 0;
    left: -193%;
    width: 300%;

    @include mq('tablet') {
      top: 0;
      left: -161%;
      width: 200%;
    }

    @include mq('tablet-wide') {
      top: -30%;
      left: -110%;
      width: 150%;
    }

    @include mq('desktop') {
      width: 129%;
      left: -28%;
      top: -97%;
      transform: translate(21%, 37%);
    }
  }
}



/*=============================================
=            //*bump this against all s-expertise selectors            =
=============================================*/

//* Expertise Carousels - move to services or as appropriate*//
.expertise__section {
  background: $black;
  overflow: visible;
}

.expertise__section-head {
  @include vr($padding-bottom: 6);
  background: $offwhite;

  @include mq('desktop') {
    margin-top: 0;
    margin-bottom: 0;
    background: $offwhite;
    padding: 16% 16% 0 16%;
    width: 100%;
    max-width: 100%;
  }

}




// ! put this away later!

.services-summary__article {}

// .image__container--services-splash {
//   bottom: 8px;
// z-index: -1;
// }



.section--services-summary {
  @include mq('desktop') {
    min-height: 135vh;
    width: 90%;
    max-width: 90%;
    margin: 0 auto;
  }

  @include mq('desktop-wide') {
    width: 100%;
    max-width: 100%;
  }
}

.container--services-splash {
  justify-content: center;

  @media only screen and (min-height:500px) {
    height: 83vh;
    // display: flex;
    // flex-direction: row;
    // flex-wrap: wrap;
    // justify-content: center;
    // align-items: center;
  }

  @include mq('tablet-wide') {
    height: 95vh;
  }
}


.container--services-summary {
  @include light-shadow();
  // @include vr($);
}

.content--services-summary {
  @include mq('desktop') {
    padding: 8% 4%;
    color: $white;
  }
}


.header--services-summary {
  padding: 8% 8% 0 8%;
}

.expertise__article-wrapper {}

.expertise__intro {
  background: $offwhite;

  @include mq('desktop') {
    width: 83%;
    overflow: visible;
  }
}

.expertise__grid {
  background: $gray-900;
}



// .expertise__body-container{
//   background: white;

//   @include mq('desktop'){
// //   width: 90%;
// //   margin: 0 auto;
// //   max-width: 90%;  // background: $primary;


//   }
// }
.body-item__container--wrapper {
  @include mq('desktop') {
    position: relative;
    width: 100%;
    max-width: 100%;
  }
}



.expertise__content-container {
  margin-top: 0;
  margin-bottom: 4.50003rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 0em;
  flex: 0 0 auto;
  position: relative;
  justify-content: center;
}

.content__container--pad {
  position: relative;
  width: 90%;
  max-width: 90%;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.expertise__header-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  min-height: 0;
  width: 100%;
  max-width: 100%;

  @include mq('tablet') {
    width: 83%;
    @include vr($margin: 0 auto);
  }

  @include mq('desktop') {
    // width: 38%;
    // max-width: 38%;
  }
}

.expertise__header-container {
  // background: $primary;
  @include container();
  @include vr($height: 8);
  color: $black;
  justify-content: center;
  align-content: center;
}

.expertise__split-row-wrapper {
  flex: 1 0 auto;
  flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  height: 100%;
}

.expertise__graphic-element {
  margin-right: 1.50001rem;
  flex: 0 0 25%;
  max-width: 7em;
  height: 7em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-content: center;
  justify-content: center;
  min-height: 0;

  >svg {
    fill: $black;
    width: 7em;
    height: 7em;
    display: block;
  }

  .hybrid-icon {
    background: $primary;
    border-radius: 100%;
  }
}

.expertise__headline {}

.expertise__deck {
  display: flex;
  flex: 0 0 auto;
  max-width: 83%;
  font-weight: 500;
  text-align: center;
  @include vmar-3-2();
}

.expertise__image-container {
  position: relative;
  @include vmar-3-3();
  max-width: 83%;

  @include mq('desktop') {
    position: absolute;
  }
}


.expertise__image-container--screens {
  width: 100%;

  @include mq('desktop') {
    top: 24%;
    left: 17%;
    width: 158%;
    max-width: 91%;
    // position: sticky;  
  }
}

.tungscreens--large {
  display: block;
  max-width: 118%;
  margin-left: -9%;

  @include mq('desktop') {
    margin: 0 auto;
    width: 150%;
    max-width: 150%;
  }
}



.expertise__carousel--item-header {
  display: none;
}

.expertise__image-container--conductor {
  overflow: hidden;

  @include mq('desktop') {
    top: unset;
    left: -40%;
    width: 197%;
    max-width: 181%;
    z-index: 1;
    bottom: -3%;
  }

  @include mq('desktop-hd') {
    top: unset;
    left: -2%;
    width: 197%;
    max-width: 130%;
    z-index: 1;
    bottom: -3%;
  }
}


.expertise__image-container--table {
  @include mq('desktop') {
    top: unset;
    left: 0%;
    width: 125%;
    max-width: 181%;
    z-index: 0;
    bottom: 16%;
  }

  @include mq('desktop-hd') {
    top: unset;
    left: 0;
    width: 125%;
    max-width: 181%;
    z-index: 0;
    bottom: 3%;
  }
}



.expertise__content-container {
  width: 74.7%;
  max-width: 74.7%;
}

//* expertise carousel base styles*//



#operations-carousel {
  @include mq('desktop') {
    z-index: 3;
  }
}

.carousel-indicators {
  right: unset;
  left: unset;
  bottom: unset;
  padding-left: unset;
  justify-content: unset;
}

.expertise__carousel {
  // max-width: 90%;
  // width: 90%;
  // display: block;
  // position: relative;
  // display: flex;
  // flex: 0 1 auto;

}

//! alldkjasdf a akfjasdf a;sdflkj 

.expertise__carousel--indicators {
  //   flex-direction: row;
  //   display: flex;
  //   position: relative;
  //   // right: unset;
  //   // bottom: unset;
  //   max-width: 100%;
  //   flex: 1;
  //   margin: 0;
  //   min-height: 6em;
  //   align-items: center;

  // min-height: 10em;
  // height: 4em;
  // flex-wrap: wrap;
}


li.expertise__carousel-indicator-list-item {
  // color: $black;
  display: flex;
  flex: 0 1 32%;
  // min-height: 6em;
  max-width: 33%;
  width: unset;
  @include vr($font-size: 1, $line-height: 1.25, $padding: 2.5 0);
  justify-content: center;
  align-items: center;
  text-align: center;
  border-left: .025em solid $gray-300;
  border-right: .025em solid $gray-300;
  font-variant-caps: all-small-caps;
  letter-spacing: .05rem;
  margin-left: 0;
  margin-right: 0;
  border: none;

  @include mq('tablet') {
    @include vr($font-size: 2, $line-height: 1.5);
  }

  background: $black;
  color: $white;

}

.expertise__carousel--list-item {
  @include vr($font-size: 2, $line-height: 2);
  color: $gray-700;
  font-family: $font-family-sans-serif;
  display: flex;
  max-width: 83%;
  font-variant-caps: all-small-caps;
  font-weight: 400;
  letter-spacing: .05rem;
  min-height: 0;
  flex: 0 0 auto;
  width: unset;
  height: unset;

  @include vr($padding: .25 .5);

  @include mq('tablet') {
    max-width: 47%;
  }

  @include mq('desktop') {
    max-width: 52%;
  }

  @include pointer();
}

// .expertise__carousel--indicators .active{
// //  text-decoration: underline;
// //  text-decoration-color: $accent;
//   // @include vr($padding-top: 1, $padding-bottom: 1);
//   // border: thin solid $accent;
//   background: $accent;
//   border: thick solid $accent;
//   color: $white;
//   font-weight: 500;
//   @include vr($padding: 3 0);
// }

// .expertise__carousel--item-divider{
//   color: $accent;
//   @include vr($font-size: 4, $line-height: 1.5);
//   display: flex;
//   max-width: 3%;
//   font-variant-caps: all-small-caps;
//   font-weight: 400;
//   letter-spacing: .05rem;
//   min-height: 0;
//   text-indent: 0;
//   flex: 0 1 auto;
//   justify-content: center;
//   margin: 0;
//   height: unset;
// &:before, &:after{
//   display: none;
// }
// }

li.expertise__carousel--list-divider {
  display: none;

  @include mq('tablet-wide') {
    color: $accent;
    @include vr($font-size: 4, $line-height: 1.5);
    display: flex;
    max-width: 3%;
    font-variant-caps: all-small-caps;
    font-weight: 400;
    letter-spacing: .05rem;
    min-height: 0;
    text-indent: 0;
    flex: 0 1 auto;
    justify-content: center;
    margin: 0;
    height: unset;

    &:before,
    &:after {
      display: none;
    }
  }
}




//! alldkjasdf a akfjasdf a;sdflkj 







.expertise__carousel-item {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  //   justify-content: center;
}

.expertise-carousel-item__header {
  width: 83%;
  @include vr($margin: 6 auto 2 auto);
}

.expertise-carousel-item__headline {
  @include list-head();
  text-transform: uppercase;
  letter-spacing: .25rem;
}

.expertise-carousel-item__subhead {
  @include list-head();
  // padding-left: 1.5rem;  
}

.expertise-carousel-item__list {
  // width: 77%;

}

.expertise-carousel-item__list-item {
  // display: flex;
  // max-width: 33%;
  // height: 10em;
  // justify-content: center;
  // align-items: center;  
}

.img-client {
  display: block;
  max-width: 200%;
  margin-left: -54%;
}

// .content__container.expertise__carousel-item{
//   width: 100%;
//   max-width: 100%;
//   height: 60em;
//   @include vr($padding: 3 2);
//   border: none;
//   margin: 0;
//   margin-top: 0;
//   margin-bottom: 4.50003rem;
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   min-height: 0em;
//   flex: 0 0 auto;
//   position: relative;
//   justify-content: center;
//   // background: $gray-100;
//   // background: lighten($color: $primary, $amount: 30%)
//     background: lighten($color: $primary, $amount: 5%);
// @include mq('desktop'){
//   @include vr($padding: 3 6, $margin-top: 2);
// }
//   }

.expertise__carousel--controls {

  // border-top: .025em solid $gray-300;
  // border-bottom: .025em solid $gray-300;
  @include mq('phone', $type: max) {
    @include vr($margin-top: 2);
  }

  // display: flex;
  // min-height: 13em;
  // max-width: 100%;
  // flex: 1 1 90%;
  @include mq('tablet') {
    max-width: 83%;
    @include vr($margin: 2 auto);

  }

  @include mq('tablet-wide') {
    max-width: 83%;
    flex: 1 1 43%;

  }

  @include mq('desktop') {
    // width: 38%;
    // max-width: 38%;
    // flex: 1 1 38%;
    //     width: 74.5%;
    max-width: 76.5%;
    flex: 0 1 auto;
    min-height: 10em;
  }

  @include mq('desktop') {
    max-width: 83%;
  }

  @include mq('desktop-hd') {
    // width: 38%;
    // max-width: 38%;
    // flex: 1 1 38%;
    //     width: 74.5%;
    max-width: 83.5%;
    flex: 0 1 auto;
    min-height: 10em;
  }
}

.expertise__headline-item {
  background: $black;
  color: $white;
  @include vr($padding: .25 1.5);
  border-radius: .5rem;
  font-weight: 500;
  letter-spacing: -.025rem;
}



/*=====  End of //*bump this against all s-expertise selectors  ======*/




//! following are duplicate styles from layout_styles.scss FIX!!!
.my-capabilities__panel-head {
  // @include vr($margin: 0 auto 5 auto);
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  text-align: left;
  width: 100%;
  // padding: 4% 1% 0 1%;
  //  border: .5em solid $primary;

}

.subhead__header--capabilities {}

.copy__header--capabilities {}

.capabilities__menu_item {
  max-width: 50%;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  border: 2px solid;
  border-color: darken($deep-gray, $amount: 5%);
  background: lighten($deep-gray, $amount: 5%);
  margin-top: 0;
  margin-bottom: 0;

  @include mq('tablet-wide') {
    max-width: 20%;
  }
}



.capabilities__menu_item--content {
  max-width: 100%;
  flex: 0 1 100%;
  width: unset;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  min-height: 1px;
  justify-content: flex-start;
  text-align: center;

  @include mq('tablet') {
    @include vr($padding-top: 1);
    min-height: 3em;
  }
}

.capabilities__menu_icon {
  flex: 0 0 61%;
  max-width: 61%;
  margin-top: 0;
  margin-bottom: 1.5rem;
  display: flex;
}


.capabilities__menu_copy {
  display: none;
}

.my-capabilities__panel-head {
  // width: 100%;
  // max-width: 100%;
  // padding-right: 39%;
  // margin-right: auto;
  // margin-left: 0;

  // >h2,
  // .subhead__header capabilities {
  //   width: 61%;
  //   max-width: 61%;
  //   margin-left: 0;
  //   margin-right: auto;
  // }

  // >.link__text {
  //   margin-left: 0;
  //   margin-right: auto;
  // }
}

.capabilities__main-page_menu {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  background: none;
}


.commitment__article_wrapper {
  background: $black;
}

.commitment__headline {
  max-width: 83%;
  align-self: center;
  @include vr($padding: 3 0);
  @include push-auto();
  text-align: left;
}

.commitment__subhead {
  color: $gray-700;
  @include vr($font-size: 3);
}

.hr__commitment {
  &:after {
    background: $primary;
    height: 3px;
    border-radius: 15px;
  }
}

.commitment__body-copy--leader {
  font-variant-caps: all-small-caps;
  color: $primary;
  font-size: 2.75rem;
  line-height: inherit;
  letter-spacing: .25rem;
}

.capabilities__main-page_menu {
  @include mq('desktop') {
    width: 83%;
    max-width: 83%;
  }
}

.capabilities__menu_icon--marketing {
  max-width: 58%;
}

//*expertise carousel responsive control
@include mq('desktop') {


  //     .body-item__container{
  //       flex-direction: column;

  //     }
  // .body-item__container--marketing{

  // }

  //     .expertise__carousel--controls {
  // align-self: center;
  //     }

  //     .expertise__carousel{
  //       width: 38%;
  //       max-width: 38%;
  //     }

  //     .expertise__image-container--screens{
  //       top: 35%;
  //       left: 27%;
  //       max-width: 78%;
  //     }




}



//! revised service css begins here

.core-services {
  background: $deep-gray;
  @include vr($padding: 6 1);


  .section-wrapper {
    @include dark-shadow();

    @include mq('tablet', $type: max) {
      @include vr($padding: 4 0);
    }

    @include vr($padding: 2 4);
    background: $white;



    .header__container {
      margin: 0 auto;

      @include mq('tablet') {
        height: 50vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      @media screen and (max-width: 77em) and (min-width: 64em) {

        min-height: 40em;
        // @include vr($padding: 6 0 3 0);
        background: $primary;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
      }

      @include mq('desktop') {
        height: 5em;
        min-height: 0;
        flex: 0 0 auto;
        @include vr($padding: 6 1 3 1);
        align-items: flex-start;
      }

      @media screen and (max-width: 77em) and (min-width: 64em) {}

      @include mq('desktop') {}
    }
  }

  @include mq('tablet') {
    @include vr($padding: 4);

    .section-wrapper {
      @include vr($padding: 4);
    }
  }

  @include mq('tablet-wide') {
    @include vr($padding: 1);

    .section-wrapper {
      @include vr($padding: 1);
    }
  }

  .flex-container {
    @include mq('tablet-wide') {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 90%;
      margin: 0 auto;


      .growth__content-item {
        max-width: 24%;
        flex: 0 1 24%;
        height: unset;

        @media screen and (max-width: 77em) and (min-width: 64em) {
          min-height: 0;
          height: 63em;
        }

      }

      .growth__content-item.growth__content-item--summary {
        @include vr($padding-left: 1, $padding-right: 1, $padding-bottom: 6);
        width: 100%;
        max-width: 100%;
        flex: 1 0 100%;

        @include mq('tablet-wide') {
          height: unset;

          .copy {
            max-width: 69%;
          }
        }

        .pagination {
          @media screen and (max-width: 63em) and (min-width: 48em) {
            @include vr($margin-bottom: 3);
          }
        }

      }

      .growth__content-item--container {
        width: 90%;
        max-width: 90%;

        @include mq('tablet-wide') {
          text-align: center;
        }
      }
    }
  }

}

.header__container.flex-container{
  .flex-item{
  >.headline {
    @include ultra();
    text-align: center;

    @include mq('tablet') {
      @include block__headline();
      // text-align: left;
      display: flex;
      min-height: 2em;
      flex: 0 1 auto;
    }

    @include mq('tablet-wide') {
      @include headline__item();
      font-weight: 700;
      letter-spacing: -.25rem;

    }

  }

  >.sublist {
    @include vr($font-size: 2, $padding: 1 0);
    font-variant-caps: all-small-caps;
    font-weight: 300;
    color: $accent;
    text-align: center;
    margin: 0 auto;
    border-top: thin solid $gray-400;
    border-bottom: thin solid $gray-400;
    @include mq('phone', $type: max) {
      @include vr($margin-bottom: 4, $padding: 1, $width: 90%);
    }

    @include mq('tablet') {
      display: flex;
      min-height: 4em;
      flex: 0 1 auto;
    }

    @include mq('tablet-wide') {
      // display: none;
      justify-content: center;
      @include vr($font-size: 3);
      max-width: 64%;
      border-color: $white;
    }
  }
  >.copy{
    @include copy__para();
  }
}
}

.br__growth-grid-item-header {
  display: none;

  @include mq('tablet-wide') {
    display: block;
  }
}

.growth__content-intro,
.growth__article {
  .headline {
    @include mq('phone', $type: max) {}

    text-align: left;
    font-weight: 600;
    letter-spacing: -.15rem;
    text-transform: uppercase;

    @include mq('tablet') {
      text-align: center;
    }
  }

  .copy {
    @include copy__para();
    text-align: left;
    max-width: 100%;
  }

  ol {
    width: 100%;
    @include vr($padding-top: 2);

    // align-self: baseline; 
    // @include vr($padding: 2 0);
    @include mq('tablet-wide') {
      width: 74%;
      @include vr($padding-top:.5);
    }
  }

  li {
    @include list-item-lg();
    text-align: left;
    // padding-left: 1em;
    font-weight: 300;
    letter-spacing: .15em;

    >span {
      line-height: inherit;
      // font-variant-caps: all-small-caps;
      font-weight: 400;
    }

    >br {
      display: block;
    }
  }
}



.growth__article {
  @include vr($padding: 3 .75);

  .article__wrapper {
    padding: 4%;
  }

  .pagination {
    @include vr($margin: 3 0);
  }

  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .flex-item__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @include vr($padding-top: 3);

    .subhead,
    .copy {
      width: 100%;
    }

    .subhead {
      text-align: center;
    }

  }

  .link__text {
    @include vr($margin-top: 3, $margin-bottom: 3);
  }
}


.operations {
  .flex-container {

    .flex-item__content {
      order: 2;
    }

    .flex-item__image-container {
      order: 1;
      min-height: 30em;
      position: relative;
      width: 100%;

      >img {
        position: absolute;
        max-width: 200%;
        width: 150%;
        bottom: 0;
        left: -15%;
        overflow: hidden;
      }
    }
  }
}

.growth__image-container>.img-throttle {
  width: 67%;
  left: -12%;
  margin-left: 0;
  max-width: unset;
  margin-top: 0;
  position: absolute;
  bottom: 36%;

  transform: translate(50%, 62%);

  // top: -26%;
  @include mq('tablet') {
    width: 77%;
    left: -20%;
    bottom: 58%;
  }

  @include mq('tablet-wide') {
    transform: translate(50%, 50%);
    bottom: 18%;
  }
}



.modern-marketing-management,
.growth__article {
  background: #fff;

  >.container-wrapper {
    @include mq('phone', $type: max) {
      background: $primary;
      @include vr($padding: 3 1);
    }
  }

  .headline {
    // @include headline__block();
    // @include headline__section();
  }

  >.flex-container {

    width: 100%;
    max-width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    text-align: center;
    flex-direction: column;

    @include mq('tablet') {}

    @include mq('tablet-wide') {
      flex-direction: row;
      flex-wrap: wrap;
    }

    @include mq('desktop') {
      align-content: baseline;
      max-width: 100%;
      padding: 8% 0%;
    }

    @include mq('desktop-hd') {
      max-width: 100%;
    }

  }
}

.growth__grid-item-header {
  @include mq('tablet-wide') {
    @include vr($font-size: 2);
  }
}

// .growth__content-item--summary {
//   @include vr($padding-left: 1, $padding-right: 1, $padding-bottom: 6);

// }

// .growth__content-item.growth__content-item--summary {
//    @include mq('tablet-wide'){
//      height: unset;
//   .copy{ max-width: 69%;} 
//    }

//   .pagination {
//     @include mq('tablet') {
//       @include vr($margin-bottom: 3);
//     }
//   }
// }

.growth__content-item--competitive {
  // border-bottom: .05rem solid #333;
}

.growth__content-item {
  display: flex;
  flex-direction: column;
  //   align-items: center;
  justify-content: baseline;
  align-items: center;
  flex: 0 1 auto;
  position: relative;
  max-width: 100%;
  width: 100%;
  min-height: 66em;
  overflow: hidden;
  border-bottom: thin solid #777;

  @include vr($padding-top: 4);
  // border-top: 1px solid $white;
  // border-bottom: 1px solid $white;
  background: $white;

  @include mq('phone') {}

  @include mq('phone-wide') {}

  @include mq('phablet') {}

  @include mq('tablet-small') {}

  @include mq('tablet') {
    height: 95em;
    max-width: 90%;
    justify-content: center;
    margin: 0 auto;

  }

  @include mq('tablet-wide') {
    flex: 1 1 auto;
  }

  @include mq('desktop') {
    @include light-shadow();
    height: 60em;
    // flex: 1 1 20%;
    border-left: thin $gray-100 solid;
    border-right: thin $gray-100 solid;

    &:hover {
      .growth__image--overlay {
        background: rgba($primary, $alpha: .5);
      }

      // .growth__grid-item-header{
      //   color: white;
      // }
      // .growth__grid-item-copy{
      //   color: white;
      // }
      //   .growth__overlay-button {
      //     background: $black;
      //     color: $primary;
      //     padding: 0;
      //     @include vr($font-size: 12px);

      //   @include mq('tablet-wide'){
      //     @include vr($font-size: 12px);
      //   }
      // }
      // @include mq('phone'){}
    }


    @include mq('desktop-wide') {}

    @include mq('desktop-hd') {}

    @include mq('desktop-uhd') {}
  }

  .pagination {
    margin-bottom: 0;
  }
}

.growth__headline--prehead {
  font-family: adobe-garamond-pro, Georgia, Palatino, "Times New Roman", Courier;
  text-align: center;
  font-style: italic;
  font-size: 1.5rem;
  line-height: 1.50001rem;
  margin-bottom: 1.50001rem;
  z-index: 2;
  flex: 0 1 auto;
  justify-content: center;
  width: 100%;
  display: flex;
  min-height: 2em;

  @include mq('tablet') {
    @include vr($padding-bottom: 4);
  }

  @include mq('tablet-wide') {
    display: none;
  }
}

.growth__overlay-button {
  color: $black;
  z-index: 1;
  min-height: 0;
  background: $primary;
  font-variant-caps: all-small-caps;
  // border: 1px solid $black;
  @include vr($font-size: 2, $line-height: 2);
  @include pill();

  // @include vr($padding: .5 2);
  @include mq('tablet') {
    @include vr($margin-bottom: 6);
  }

  @media screen and (max-width: 77em) and (min-width: 64em) {
    @include vr($font-size: 12px);
  }

  @include mq('desktop') {
    @include vr($margin-top: 2, $font-size: 1);
  }


}


.growth__grid-headline--overlay {
  width: 100%;
  position: absolute;
  top: 9%;
  padding-left: 28%;
  padding-top: 5%;
  // transform: translate(50,50);
  z-index: 3;
  letter-spacing: .025em;
  font-family: $font-family-serif;
  font-style: italic;
  @include offwhite-trans-overlay();
  display: none;

  @include mq('desktop') {
    display: block;
  }
}




.growth__pagination {
  align-self: center;
  display: inline-flex;

}

.growth__title-header {
  max-width: 90%;

  @include mq('desktop') {
    max-width: 100%;
  }

  @include mq('desktop-hd') {
    max-width: 83%;
  }
}

//! desktop+ flex-item settings


.growth__content-item--summary {
  flex: 1 1 28%;
  border: none;
  display: flex;

  >.growth__link {
    @include mq('tablet') {
      @include vr($margin-bottom: 7);
    }
  }

  @include mq('desktop') {
    width: 50%;
    max-width: 50%;
  }
}

//   .growth__content-item--competitive {
//     flex: 1 1 18%;
//   }

//   .growth__content-item--found {
//     flex: 1 1 18%;
//   }

//   .growth__content-item--sold {
//     flex: 1 1 18%;
//   }

//   .growth__content-item--more {
//     flex: 1 1 18%;
//   }
// }

.growth__content-item--container {
  position: relative;
  width: 90%;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  flex: 0 1 auto;
  align-items: center;
  min-height: 30em;


  @include mq('tablet') {
    width: 83%;
    max-width: 83%;
  }

  @include mq('desktop') {
    max-width: 83%;
    width: 83%;
    justify-content: stretch;
    min-height: 22em;
  }

  @include mq('desktop-wide') {
    width: 61%;
    max-width: 61%;
  }

  @include mq('desktop-hd') {
    width: 83%;
    max-width: 83%;

  }
}


.growth__image-container {
  height: 34em;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;

  >img {
    position: absolute;
    bottom: 0;
  }

  @include mq('tablet-wide') {}

  @include mq('desktop') {}
}

.image__container--conductor {
  border-bottom: $gray-400 solid thin;
}

.growth__image--overlay {
  display: none;

  @include mq('desktop') {
    display: block;
  }

  // background: rgba(000,000,000, .7);
  // @include black-trans-overlay();
  height: 100%;
  width: 100%;
  overflow: visible;
  min-height: 100%;
  position: absolute;
}

.growth-image {}

.img-window,
.img-welder,
.img-hell-yes,
.img-engage {
  display: block;
  overflow: hidden;
  height: auto;
}




//*==================================================================
//*=            Growth Image Responsive Size Adjustments            =
//*=================================================================*/


.image--conference-table-growth {
  width: 100%;
  margin-left: 0%;
  max-width: unset;
  margin-top: 0%;
}

.image--smoke-growth {
  width: 100%;
  margin-left: 0;
  max-width: unset;
  margin-top: 0;
}

.image--signature-growth {
  width: 100%;
  margin-left: 0%;
  max-width: unset;
  /* margin-top: 69%; */
}

.image--conductor-growth {
  width: 100%;
  margin-left: 0%;
  max-width: unset;
}

@include mq('tablet-wide') {
  // .img-window, .img-welder, .img-hell-yes, .img-engage {
  //   width: unset;
  //   max-width: 141%;
  //   margin-left: unset;
  //   flex: 1;
  //   display: flex;
  // }
}

@include mq('desktop') {

  //  .img-window, .img-hell-yes, .img-engage {
  // // height: 83em;
  // max-width: 330%;
  //   }

  //   .img-welder{
  //     margin-left: -61%;
  //     max-width: 300%;
  //     margin-top: 0;
  //   }

  //   .img-hell-yes{
  //     margin-left: -113%;
  //   }
}

@include mq('desktop') {
  height: 83em;
}

@include mq('desktop-wide') {}

@include mq('desktop-hd') {}

@include mq('desktop-uhd') {}



//*=====  End of growth image size adjustments  ======*/

.growth__intro-copy {
  text-align: left;
  max-width: 83%;

  @include mq('desktop') {
    max-width: 90%;

  }

  @include mq('desktop-hd') {
    max-width: 90%;
  }
}




//! ------------------------------end of growth section ------------------------------// 




//*=============================================
//*=            a la carte            =
//*=============================================*/

.a-la-carte {
  background: $deep-gray;
  color: $white;
  @include vr($padding: 1);

  // .flex-container{
  //   @include mq('tablet'){
  //     justify-content: center;
  //     align-items: center;
  //   }
  // }
  .flex-item__content {
    display: flex;
    flex-wrap: wrap;

    @include mq('tablet') {
      max-width: 83%;
      margin: 0 auto;
      @include vr($margin-top: 3);

    }
  }

  .headline {
    text-align: left;
    // text-indent: -5.5rem;
    // padding-left: 3rem;
    font-weight: 600;
    letter-spacing: -.15rem;
    text-transform: uppercase;
    flex: 0 1 auto;
    max-width: 80%;
    padding-right: .5rem;
  }

  .copy {
    @include copy__item();

    @include mq('tablet') {
      @include deck__item();
    }
  }

  .flex-item__hr {
    flex: 1;
    margin: 0;
    display: flex;
    align-items: center;
  }

  hr.a-la-carte-hr {
    margin: 0;
    flex: 1;
  }
}


.capabilities__menu-content_header {
  @include vr($font-size: 1, $line-height: 1.25);
  margin-top: -1em;
  margin-bottom: 0;
  max-width: 75%;
  flex: 0 1 auto;
  display: flex;
  justify-content: center;

  @include mq('tablet') {
    @include vr($font-size: 2, $line-height: 2);
    max-width: 56%;
  }
}


#capabilities__menu_link {
  font-style: normal;
  font-variant-caps: all-small-caps;
  font-weight: 400;
  letter-spacing: .15rem;
  display: flex;
  flex: 0 1 auto;
  min-height: 0;
  @include vr($margin: .5 auto);

  @include mq('tablet') {
    @include vr($font-size: 1);
    @include vr($margin-top: 1);
  }
}



//*=====  End of a la carte  ======*/



//*=============================================
//*=            commitment            =
//*=============================================*/

.commitment {
  .pagination {
    @include vr($padding: 3 4);

    @include mq('tablet') {
      @include vr($padding: 6 0 1 0);
    }
  }

  .headline {
    font-weight: 600;
    letter-spacing: -.15rem;
    text-transform: uppercase;
    margin: 0 auto;
    @include vr($padding: 4 2);

    @include mq('tablet') {
      @include vr($padding: 1 0 3 0);
    }
  }
}

.commitment {

  .pagination,
  .headline {
    @include mq("tablet") {
      @include vr($width: 32);
      margin: 0 auto;
    }

    @include mq("tablet-wide") {
      width: 61%;
    }

    @include mq("desktop") {
      width: 61%;
    }

    @include mq("desktop-hd") {
      width: 50%;
    }
  }
}


.commitment__content_container {
  max-width: 83.82%;

  @include mq("tablet") {
    @include vr($width: 32);
  }

  @include mq("tablet-wide") {
    width: 61%;
  }

  @include mq("desktop") {
    width: 61%;
  }

  @include mq("desktop-hd") {
    width: 50%;
  }

  @include vr($margin: 0 auto);
}

// .commitment__body-copy--leader{
//   color: $secondary;
// }


.commitment__subhead {
  @include body-text-lg();
  font-weight: 500;
  text-transform: lowercase;
  letter-spacing: -.05rem;
  color: $accent;
  font-family: $font-family-serif;
  text-align: center;
  font-style: italic;
  display: inline-block;
}


.commitment__body_copy {

  @include body-text-md();
  font-family: $font-family-serif;

  .leader {
    font-weight: 400;
    line-height: inherit;
    font-family: $font-family-sans-serif;
    color: $gray-700;
  }

  @include mq('tablet-wide') {}
}





//*=====  End of commitment  ======*/