//* MODULE STYLE TWEAKS  //

.image--conference-table{
@include mq('tablet-wide'){
    width: 80%;
}
}

.tungscreens--small{
    @include mq('tablet-wide'){
        width: 83%;
    }
}

.conductor{
    @include mq('tablet-wide'){
        width: 90%;
    }
}

