h1, h2, h3, h4, h5, h6 {
  font-family: unset;
  color: unset;
  font-weight: unset;
  font-size: unset;
}

p {
  font-family: unset;
  color: unset;
  font-weight: unset;
}

%title, %title-lg, %title-sm {
  font-family: $headline-font-family;
  color: $headline-color;
  font-weight: 600;
}

%headline, %headline-lg, %headline-sm {
  font-family: $headline-font-family;
  color: $headline-color;

  /* color:              $accent; */
  font-weight: $headline-font-weight;
}

%subhead, %subhead-lg, %subhead-sm {
  font-family: $subhead-font-family;
  color: $subhead-color;
  font-weight: $subhead-font-weight;
}

%sublist, %sublist-lg, %sublist-sm {
  font-family: $subhead-font-family;
  color: $subhead-color;
}

%display-text, %display-text-lg, %display-text-sm, %figure-head, %figure-head-lg, %figure-head-sm, %figure-text, %figure-text-lg, %figure-text-sm,
.d-text, .d-text-lg, .d-text-sm, .figure-head, .figure-head-lg, .figure-head-sm, .figure-text, .figure-text-lg, .figure-text-sm {
  font-family: $display-text-font-family;
  color: $display-text-color;
  font-weight: 300;
}

%body-text, %body-text-lg, %body-text-sm {
  font-family: $body-text-font-family;
  color: $body-text-color;
  font-weight: $body-text-font-weight;
}

%para-head, %para-head-lg, %para-head-sm {
  font-family: $font-family-sans-serif;
  font-weight: 400;
}

%para, %para-lg, %para-sm {
  font-family: $font-family-serif;
}

%list-head, %list-head-lg, %list-head-sm {
  font-family: $display-text-font-family;
  color: $display-text-color;
  font-weight: 400;
  letter-spacing: -.025em;
}

%list-item, %list-item-lg, %list-item-sm {
  font-family: $display-text-font-family;
  color: $display-text-color;
  font-weight: 200;
}

%caption, %caption-lg, %caption-sm {
  font-family: $font-family-monospace;
  color: $subhead-color;
  font-weight: 300;
}

%legal, %legal-lg, %legal-sm {
  font-family: $font-family-monospace;
  color: $subhead-color;

  // font-weight:        200;
}

.nav-link {
  text-transform: lowercase;
  font-family: $font-family-monospace;
}

.navbar-brand {
  font-family: $font-family-monospace;
}

.lead {
  font-weight: $lead-font-weight;
}





// =========================================================================
// temp
// =========================================================================




// .page__headline {
//   // @include headline-sm;
//   // @include mq("tablet") {
//   //   @include headline-lg;
//   // }
// @include headline();
// }

// .headline{
//   @include headline-sm();
//   @include mq("tablet") {
//     @include headline-lg();
//   }
// }


// =========================================================================
// typography
// =========================================================================

.title, .headline{
	font-weight: 500;
	letter-spacing: -.025em;
}

.subhead, .deck{
	font-weight: 400;
}

.title-sub, .pagination{
	font-family: $font-family-serif;
	 font-style: italic;
}


.legal, .legal-lg, .legal-sm {
  font-family: $font-family-monospace;
}

.headline, .deck{
	position: relative;
}

.section{
// &__headline{
// 	@include headline-sm;
//   @include mq("tablet") {
//     @include headline;
//   }
//   @include mq("desktop") {
//     @include headline-lg;
//   }

// }
&__subhead{}
&__sublist{}
&__deck{
	&__display-text{}
	&__body-text{}
&--lg{}
&--sm{}
}
&__copy{
	&--short{}
	&--long{}
}

&__caption{}
&__quote
&__quip{}
&__footnote{}
&__legal{}
&__citation{}
}

.article{
// &__headline{
// 	@include headline-sm;
//   @include mq("tablet") {
//     @include headline;
//   }
//   @include mq("desktop") {
//     @include headline-lg;
//   }
// }
&__subhead{}
&__sublist{}
&__deck{
	&__display-text{}
	&__body-text{}
&--lg{}
&--sm{}
}
&__byline{}
&__copy{
	&--short{}
	&--long{}
}
}

.panel{
&__headline{}
&__subhead{}
&__sublist{}
&__deck{
	&__display-text{}
	&__body-text{}
&--lg{}
&--sm{}
}
&__copy{
	&--short{}
	&--long{}
}
}

.image{
&__caption{}
&__credit{}
}



.diagram{
&__header-headline{
  @include diagram__header-headline();
  font-weight: 400;
  flex: 1 0 100%;
&--f-align-start{
  align-self: flex-start;
}
@include mq("tablet"){
  flex: 0 0 81%;
}
}
&__header-copy{
  @include diagram__header-copy();
  display: flex;
  @include mq("tablet"){ 
    flex: 0 0 81%;
}
}
&__content{
  &--objectives-icon{
    >svg{
      width: 100%;
      @include mq("tablet"){
        width: 83%;
      }
    }
  }
}

}

.diagram-item{
  &__container{
   width: 100%;
   max-width: 100%;
   position: relative;
   flex: 0 0 auto;
 
    &--23x77row{
    display: flex;
    justify-content: center;
     @include mq("tablet"){ 
    align-items: center;
    flex-direction: row;
    }
  }
    &--23row{
           display: flex;
           flex: 0 0 0;
           min-height: 10em;
           width: 38%;
      @include mq("tablet"){ 
        flex: 0 0 23%;
      max-width: 23%;
      display: flex;
      min-height: 0;
      flex-direction: column;
      align-items: center;
    }
  }
    &--23row-offset{
      display: none;
      @include mq("tablet"){
      display: none;
      flex: 0 0 23%;
      max-width: 23%;
      min-height: 0;
    }
  }
    &--77row{
      margin-block-end: 0px;
  margin-block-start: 0px;
  list-style-position: inside;
  padding-inline-start: 0px;
  -webkit-padding-start: 0px;
      flex: 0 0 73%;
      width: 73%;
      text-align: center;
    @include mq("tablet"){
text-align: left;
display: flex;
flex-wrap: wrap;
      flex: 0 0 73%;
      max-width: 73%;
      min-height: 0;
    }
    }
  }
  &__headline{
font-weight: 300;
@include diagram__item-headline();
}
  &__copy{
font-weight: 200;
@include diagram__item-copy();


&--objectives-diagram{
text-align: justify;
width: 100%;
@include mq("tablet"){
max-width: 73%;
flex: 0 0 73%;
display: flex;
min-height: 0;
text-align: left;
}
}
}
}





// .diagram__objectives{
// .diagram__content--objectives-icon{order: 1;}
// .diagram-item__headline{order: 2;}
// .diagram-item__copy{order: 3;}
// @include mq("tablet"){
//   .diagram__content--objectives-icon{order: 2;}
// .diagram-item__headline{order: 1;}
// .diagram-item__copy{order: 3;}
// }
// }




// &__subhead{}
// &__sublist{}
// &__deck{
// 	&__display-text{}
// 	&__body-text{}
// &--lg{}
// &--sm{}
// }
// &__copy{
// 	&--short{}
// 	&--long{}
// }
// &__caption{}
// &__quote{}
// &__quip{}
// &__footnote{}
// &__legal{}
// &__citation{}


.card{
&__headline{}
&__subhead{}
&__sublist{}
&__deck
&__body-lg{}
&__body-sm{}
&__caption{}
&__quote
&__quip{}
&__footnote{}
&__legal{}
}



// .page__subhead{
// 	@include subhead();
// 		&--serif{
// 		font-family: $font-family-serif;
// 	}
// 	@include mq('tablet'){
// 	@include subhead-lg();
// 	}

// }
.section{
  display: block;
  position: relative;
  overflow: hidden;
  &__fluid {
    width: 100%;
  }

  &__cover {
    height: 100vh;
    width: 100%;
  }

  &--flex {
    display: flex;
  }

  // &__wrapper{
  // &--fluid{
  //   width: 100%;
  //   max-width: 100%;
  // }
  // }

&--container{
  @extend .container;
}
  &--overlay {
    z-index: 3;
  }

  &--background {
    position: absolute;
    z-index: 0;
  }

  &--sticky {
    position: sticky;
  }

  &--fixed {
    position: fixed;
  }

  &--placed {
    position: absolute;
  }
}

.article{
  display: block;
  position: relative;
  overflow: hidden;
@include vr($padding-top: 3, $padding-bottom: 3);
  &--fluid {
    width: 100%;
  }

  &--cover {
    height: 100vh;
    width: 100%;
  }

  &--flex {
    display: flex;
  }

&--container{
  @extend .container;
}
  &--overlay {
    z-index: 3;
  }

  &--background {
    position: absolute;
    z-index: 0;
  }

  &--sticky {
    position: sticky;
  }

  &--fixed {
    position: fixed;
  }

  &--placed {
    position: absolute;
  }
}

.container{
  display: block;
  position: relative;
  &__fluid {
    width: 100%;
  }

  &__cover {
    height: 100vh;
    width: 100%;
  }

  &--flex {
    display: flex;
  }

&--container{
  @extend .container;
}
  &--overlay {
    z-index: 3;
  }

  &--background {
    position: absolute;
    z-index: 0;
  }

  &--sticky {
    position: sticky;
  }

  &--fixed {
    position: fixed;
  }

  &--placed {
    position: absolute;
  }
}

.wrapper{
  display: block;
  position: relative;
  &__fluid {
    width: 100%;
  }

  &__cover {
    height: 100vh;
    width: 100%;
  }

  &--flex {
    display: flex;
  }

&--container{
  @extend .container;
}
  &--overlay {
    z-index: 3;
  }

  &--background {
    position: absolute;
    z-index: 0;
  }

  &--sticky {
    position: sticky;
  }

  &--fixed {
    position: fixed;
  }

  &--placed {
    position: absolute;
  }
}

.header{
  display: block;
  position: relative;
  &__container{
&--strengths{
  flex-wrap: wrap;
      display: flex;

    // display: block;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-left: 0px;
    padding-right: 0px;
    min-height: 0;
    flex: 1;
    @include mq("tablet"){
    display: flex;
    min-height: 0;
    flex: 0 0 auto;
    max-width: 61%;
    min-height: 0;
    @include mq("tablet-wide"){
    z-index: 3;
  }

    }
}

}
  &__list{
    &--strengths{
        position: relative;
  z-index: 3;
  @include mq("tablet"){
      flex: 0 0 auto;
  max-width: 61%;
  display: flex;
  min-height: 0;
  flex-direction: column;
  }
    }
  }

  &__fluid {
    width: 100%;
  }

  &__cover {
    height: 100vh;
    width: 100%;
  }

  &--flex {
    display: flex;
  }

&--container{
  @extend .container;
}
  &--overlay {
    z-index: 3;
  }

  &--background {
    position: absolute;
    z-index: 0;
  }

  &--sticky {
    position: sticky;
  }

  &--fixed {
    position: fixed;
  }

  &--placed {
    position: absolute;
  }
}
.content{
  display: block;
  position: relative;
  &__fluid {
    width: 100%;
  }

  &__cover {
    height: 100vh;
    width: 100%;
  }

  &--flex {
    display: flex;
  }

&--container{
  @extend .container;
}
  &--overlay {
    z-index: 3;
  }

  &--background {
    position: absolute;
    z-index: 0;
  }

  &--sticky {
    position: sticky;
  }

  &--fixed {
    position: fixed;
  }

  &--placed {
    position: absolute;
  }
}
.block{
  display: block;
  position: relative;
  &__fluid {
    width: 100%;
  }

  &__cover {
    height: 100vh;
    width: 100%;
  }

  &--flex {
    display: flex;
  }

&--container{
  @extend .container;
}
  &--overlay {
    z-index: 3;
  }

  &--background {
    position: absolute;
    z-index: 0;
  }

  &--sticky {
    position: sticky;
  }

  &--fixed {
    position: fixed;
  }

  &--placed {
    position: absolute;
  }
}
.item {
  display: block;
  position: relative;
  &__fluid {
    width: 100%;
  }

  &__cover {
    height: 100vh;
    width: 100%;
  }

  &--flex {
    display: flex;
  }

&--container{
  @extend .container;
}
  &--overlay {
    z-index: 3;
  }

  &--background {
    position: absolute;
    z-index: 0;
  }

  &--border{
    border: thin solid $pattens;
  }

  &--sticky {
    position: sticky;
  }

  &--fixed {
    position: fixed;
  }

  &--placed {
    position: absolute;
  }
}



.pagination {
  display: flex;
  flex: 0 0 auto;
  margin-top: auto;
  @include mq("tablet") {
    margin-bottom: auto;
  }
&--overlay{
  position: relative;
  z-index: 3;
}
&--reasons{
  @include vr($margin: 4 0);
}
&--strengths{
  @include mq("tablet"){
    padding-bottom: .25em;
  }
}
}


.link{
  &__chevron{
    height: 3rem;
    width: 3rem;
    border-radius: .75em;
    display: flex;
    align-items: center;
    min-height: 0;
  }
  &__text{}

}






.title {
  @include title();
  @include mq("desktop-wide") {
    @include title-lg();
}
&__splash{
	flex: 0 0 auto;
}
  


  &--center {
    text-align: center;
  }
}


.title-sub {
  font-family: $font-family-serif;
  font-style: italic;

  @include title-sub();

  // font-weight: 500;
  // letter-spacing: -.025em;

  // @include mq("tablet") {
  //   @include title-sub;
  // }
  @include mq("desktop-wide") {
    @include title-sub-lg();
  }


  &--center {
    text-align: center;
  }
}

.pagination {
  @include pagination-sm();
    color: $gray-900;

  @include mq("tablet") {
    @include pagination();
  }
  @include mq("desktop-wide"){
  	@include pagination-lg();
  }
 &--white{
  color: $white;
}
  &--center {
    text-align: center;
  }
}

.headline{
  // @include headline-sm;
  // @include mq("tablet") {
 
  // }
  &__header{
    @include header__headline(); 
    @include mq("desktop") {
      @include header__headline-lg();
    }

&--white{
	color: $white;
}
&--strengths{
  @include vr($font-size: 6);
  @include mq("tablet"){
    @include vr($font-size: 8);
  }
}
}


  &__block{
	@include block__headline();
	font-weight: 400;
}

&__item{
	@include item__headline();
}


  &--center {
    text-align: center;
    align-self: center;
  }
}



// .subhead{
//   // @include subhead-sm;
//   // @include mq("tablet") {
 
//   // }
//   &__header{
//     @include header__subhead(); 
//   @include mq("desktop") {
//     @include header__subhead-lg();
//   }
//   &--sublist {
    
//   }
//     &--sublist-item {
    
//   }

//   &--center {
//     text-align: center;
//   }
// }

//   &__block{
// 	@include block__subhead();
//   &--sublist {
    
//   }
//     &--sublist-item {
    
//   }

//   &--center {
//     text-align: center;
//   }
// }

// &__item{
// 	@include item__subhead();


//   &--sublist {
    
//   }
//   &--sublist-item {
    
//   }

//   &--center {
//     text-align: center;
//   }
// }
// &--sublist {
    
//   }
//   &--sublist-item {
    
//   }

//   &--center {
//     text-align: center;
//   }

// }



.subhead{
  @include mq("tablet"){
  	max-width: 61%;
  }
  &__header{
    @include header__subhead(); 
  @include mq("desktop") {
    @include header__subhead-lg();
  }
}
  &__block{
  		@include block__subhead();
}
  &__item{
  	@include item__subhead();
  }

  &--sublist {
    color: yellow;
  }
    &--sublist-item {
    font-weight: 300;
  }
  &--sublist-divider {
    color: $gray-900;
    @include vr($padding: 0 .25);	
  }

  &--center {
    text-align: center;
    align-self: center;
  }
}

.deck{
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: .03em;
  @include mq("tablet"){
    letter-spacing: .05em;
  }
  &__header{
    @include header__deck();
    @include mq("tablet"){
      width: 81%;
      max-width: 81%;
    }
    &--strengths{
        @include make-row;

  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @include vr($padding-left: 0);
    } 
}
  &__block{
  		@include block__deck();
}
  &__item{
  	@include item__deck();
 } 
    &--center {
    text-align: center;
    align-self: center;
  }
}

.copy{
// @include copy();

&__container{
&--strengths{
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
  max-width: 100%;
  flex-wrap: wrap;
  position: relative;
  z-index: 3;
  display: flex;
  @include mq("tablet"){
      flex: 0 0 auto;
      max-width: 61%;
      min-height: 0;
      display: flex;

    } 
    }
  }

&__header{
	@include header__copy();

  }



&__block{
		@include block__copy();
    
  }

&__long{
@include vr($line-height: 2.5);

	&--serif{
		font-family: $font-family-sans-serif;
	}

}

&:last-of-type{
	margin-bottom: 0;
}
}


.list{
margin-top: 0;
margin-bottom: 0;
&__vertical{
   display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  height: auto; 
}
&__inline{
  display: flex;
  flex-wrap: wrap;
}
&--inset{
	list-style-position: inside;
	text-indent: -2em;
	padding-left: 2em;
	width: 81%;
	@include push-auto();
	@include vr($padding-bottom: 2);
}
&--no-bullets{
	list-style: none;
}

}


.list-head{
  font-weight: 500;
  letter-spacing: .025em;
  &__header{
    @include header__list-head(); 
}
  &__block{
@include block__list-head();
}

  &__item{
  	@include item__list-head();
  }

  &__background{
  	@include vr($padding: .25 .5, $margin-bottom: 1);
	&--pattens{
  	background: $pattens;
  }
  }
  //   &--center {
  //   text-align: center;
  //   align-self: center;
  // }
}

.list-item{
  font-weight: 300;
  // text-indent: 1em;
  // margin-left: -1em;
  &__header{
    @include header__list-item(); 
}
  &__block{
@include block__list-item();
}
  &__item{
  	@include item__list-item();
  }
  &__spacer{
      @include vr($padding: 0 .5);
              &--primary-color{
  color:$primary;
  }
}
  &--expertise-item{
  }
  &--flex-auto{
    flex: 0 0 auto;
  }
}

// .list-item__spacer{
//   // @include vr($padding: 0 .5);
  

// }




.link, a:not([href]):not([tabindex]) {
  font-family: $font-family-sans-serif;
  color: $link-color;
  text-decoration: $link-decoration;
}

.link:hover {
  color: $link-hover-color;
  text-decoration: $link-hover-decoration;
}

