.section {
  flex-direction: column;
  justify-content: center;
  min-height: 83.82em;
}

.container--services-summary {
  // @include push-auto;

  // // position: relative;
  // display: flex;
  flex-direction: column;

  @include mq("tablet") {
    flex-direction: row;
  }
}

// .wrapper--header-services-summary{
//   @include mq('tablet'){
//     flex: 1;
// }
// }

.header--services-summary {
  @include vr($padding: 2);

  @include mq("tablet") {
    @include vr($padding: 1);

    flex: 1;
  }
}

.subhead--sublist.sublist--services-summary {
  @include mq("tablet") {
    max-width: 100%;
  }
}

.sublist--services-summary,
.copy--services-summary-sublist {
  @include vr($padding: 0 1);
}

.content--services-summary {
  @include vr($padding: 2);

  @include mq("tablet") {
    flex: 1;

    @include vr($padding: 1);
  }
}

@include mq("tablet-wide", $type: max) {
  .article.article__expertise {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 100%;

    &--webdev {
      min-height: 150em;
    }

    &--planning {
      min-height: 150em;
      background: $black;
    }

    &--management {
      min-height: 150em;
    }
  }
}


.article.deck__article {
  @include mq("tablet-wide") {
    width: 100%;
    max-width: 100%;
    min-height: 65em;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.image--conference-table {
  width: 126%;
  max-width: 126%;
}

.deck__article__expertise {
  width: 75%;
  max-width: 75%;
  text-align: center;

  // @include vr($padding: 0 2 1 2);
  @include mq("tablet") {
    // @include vr($margin-bottom: 1);
    // @include vr($padding: 2);
  }
}

.container__item--expertise {
  // flex: 0 0 auto;
  // align-items: center;
  // justify-content: center;
}

.container__item--expertise {
  flex-direction: column;

  // flex: 1;
  align-items: stretch;
  justify-content: center;

  @include mq("tablet") {
    width: 100%;
    max-width: 100%;
    flex-direction: row;
    flex-wrap: wrap;

    @include vr($margin-top: 2);
  }


  @include mq("tablet-wide", $type: max) {
    margin-top: 2em;
    margin-bottom: 2em;
    height: auto;
  }
}

.item-expertise {
  flex-direction: column;

  @include vr($padding: 0 1, $margin-top: 3, $margin-bottom: 3);

  @include mq("tablet", $type: max) {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }


  @include mq("tablet") {
    @include vr($margin-left: 1, $margin-right: 1);
  }


  @include mq("tablet-wide") {
    @include vr($margin-top: 1, $margin-bottom: 1);
  }


  &--two {
    @include mq("tablet") {
      flex: 1 1 38%;
    }

    @include mq("tablet-wide") {
      flex: 0 0 100%;
      min-height: 30em;
      @include vr($margin-bottom: 4);
    }

    @include mq("desktop") {
      width: 83%;
      max-width: 83%;
    }


    @include mq("desktop-hd") {
      width: 63%;
      max-width: 63%;
    }
  }

  &--three {
    @include mq("tablet") {
      flex: 0 1 38%;
    }


    @include mq("tablet-wide") {
      flex: 0 0 100%;
      min-height: 30em;
      @include vr($margin-bottom: 4);
    }


    @include mq("desktop") {
      width: 50%;
      max-width: 50%;
    }


    @include mq("desktop-hd") {
      width: 63%;
      max-width: 63%;
    }
  }

  &--offset {
    @include mq("phablet") {
      display: flex;
      visibility: hidden;
    }


    @include mq("tablet-wide") {
      display: none;
    }
  }
}

.item--flex.item__flex-item--expertise {
  flex-direction: column;
  flex: 0 0 auto;

  @include mq("tablet-wide") {
    width: 30%;
    max-width: 30%;
  }
}

#svg__blue_a2--bg {
  // opacity: .7;
  // transform: skewY(26deg);
  // width: 115em;
  // opacity: .7;
  // transform: skewY(26deg);
  width: 118em;
  margin-top: -35em;
}

.services__img_conference-table {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";

  @include mq("tablet-wide") {
    display: block;
    bottom: -1%;
    /* max-width: 200%; */
    /* width: 200%; */
    /* height: auto; */
    height: 129em;
    width: auto;
    max-width: 909em;
    /* right: 47%; */
    position: absolute;
    left: -161em;
  }

  @include mq("desktop-hd") {
    left: -135em;
  }
}

// }
// .image__filter{
//    @media only screen and (min-device-width: 64em) and (max-device-width: 78em){ 
//     height: 100%;
//     position: absolute;
//     width: 50%;
//     overflow: hidden;
//     z-index: 4;
//     margin-left: 50%;
//     background: rgba(255, 255, 255, .3);
//   }
// }

.tungscreens {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;

  @include push-auto;
}

.tungscreens--small {
  @include push-auto;

  display: block;
}

#blue_a {
  width: 20em;
}

.content--planning {
  // @include mq("tablet-wide"){
  //   min-height: 70em;
  // }
}

.content--management {}



@include mq("phone", $type: max) {
  .article.article--container.deck__article {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    max-width: 100%;
  }
}


@include mq("tablet", $type: max) {
  .article.article--container.deck__article {
    min-height: 120em;
  }
}


.deck__article--expertise {
  flex: 0 0 auto;

  @include mq("tablet", $type: max) {
    @include vr($width: 83.82%, $margin-bottom: 2);
  }


  @include mq("tablet") {
    @include vr($width: 32, $margin-top: 2, $margin-bottom: 2);
  }
}

.container__item--expertise,
.container__item--expertise>.list-head {
  // flex: 1 0 auto;
  // display: flex;
  min-height: 1px;
  position: relative;
}



// .list{
//   display: flex;
//   flex: 0 0 auto;
//   flex-direction: column;
//   height: auto;
// }



.section--splash {
  height: 100vh;
}

.link-chevron--splash-justification {}

.link-chevron--splash-homepage {}

.link-chevron--splash-background {}



.image__container--services-splash {
  width: 100%;
  position: absolute;
  bottom: 0;

  @include mq("tablet-wide") {
    @include make-col-ready;
    @include make-col(5);

    padding-left: 0px;
    padding-right: 0px;
    align-self: flex-end;
    bottom: 0;
    left: 0;
    overflow: hidden;

    @include mq("desktop") {
      display: block;
    }
  }
}

.image__container--expertise {
  @include vr($margin: 4 auto);
  width: 81%;
}

.image__container--absolute {
  position: absolute;
}

.image__container--sublayer {
  z-index: -1;
}

.container.container--planning {
  min-height: 200em;
  justify-content: flex-start;
}

.homepage-summary__claim_subhead {
  align-self: center;
  text-align: center;
}

.homepage-summary__claim_background--svg {
  >svg#Layer_1 {
    height: 110%;
  }

  @include mq("tablet-wide") {
    height: 110%;
  }
}

.homepage__article--strengths {
  border-bottom: 1.5em solid #daeaf7;
  border-left: 1.5em solid #daeaf7;
  border-right: 1.5em solid #daeaf7;
  border-top: none;
}

.strengths__page-header_container {
  @include mq("tablet-wide") {
    // flex: 0 0 61%;
    // max-width: 61%;
  }
}

.strengths__article_container {
  background: #000;
}

.headline__header--imc {
  @include mq("tablet") {
    @include vr($width: 27);
  }


  @include mq("tablet-wide") {
    width: 100%;
  }
}

.proof__marketer_panel {
  position: relative;

  @include vr($padding: 1);
  @include cols;

  text-align: center;
  justify-content: center;
  align-items: center;

  @include mq("tablet-wide") {
    padding: 0;
    width: 83%;
    max-width: 83%;
    border: none;
    align-items: flex-start;
  }


  @include mq("desktop") {
    width: 83%;
    max-width: 83%;
  }


  @include mq("desktop-hd") {
    width: 61%;
    max-width: 61%;
  }


  @include mq("desktop-uhd") {
    width: 38%;
    max-width: 38%;
  }
}

.combination__panel_wrapper {
  display: flex;

  @include mq("tablet-wide") {
    width: 100%;
    max-width: 100%;
    min-height: 90vh;
    padding: 0;
    display: flex;
    justify-content: center;
  }
}


.proof__panel_wrapper {
  min-height: 125em;
  display: flex;

  @include mq("tablet-wide") {
    width: 100%;
    max-width: 100%;
    min-height: 90vh;
    padding: 0;
    display: flex;
    justify-content: center;
  }
}

.proof__panel_intro {
  flex: 0 0 auto;
  display: flex;
  align-self: center;

  // border: .075em solid $primary;
  @include vr($padding: 1 1.2);

  letter-spacing: -.025em;
  font-family: $font-family-serif;

  @include vr($font-size: 2, $margin-bottom: 4);

  color: $primary;
  font-weight: bold;

  @include mq("tablet-wide") {
    width: 31%;
    max-width: 31%;
    align-self: flex-start;
    text-align: center;
    justify-content: center;
    flex: 0 0 auto;
    min-height: 0;
  }


  &--end2end {
    width: 100%;
    max-width: 100%;
  }
}

.proof__panel_intro--stats {
  color: $white;

  // border-color: $white;
}

.proof__content_outcomes {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mq("tablet") {
    width: 61%;
  }


  @include mq("tablet-wide") {
    width: 38%;
    max-width: 38%;
  }


  @include mq("desktop") {
    width: 31%;
    max-width: 31%;
  }
}

.proof__panel_wrapper--stats {
  background: $primary;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

}

.proof__stats_panel {
  @include vr($padding: 4 0);

  @include mq("tablet-wide") {
    padding: 0;
    align-items: center;
  }
}

.proof__content_carousel {
  width: 83%;
  margin: 0 auto;

  @include mq("tablet-wide") {
    display: flex;
    min-height: 30em;
    flex: 0 auto;
    width: 81%;
  }
}

.carousel-inner.three-up-carousel {
  @include mq("tablet-wide") {
    display: flex;
    min-height: 30em;
    flex: 0 auto;
  }
}

.carousel-item.active {
  @include mq("tablet-wide") {
    display: flex;
  }
}

.proof-quals {
  @include mq("tablet-wide") {
    width: 33%;
    max-width: 33%;
    display: flex;
    flex-direction: column;
    min-height: 24em;
    flex: 0 0 auto;
  }
}

.headline--proof.headline--stats {
  @include mq("tablet-wide") {
    @include vr($margin-bottom: 3);
  }
}

.proof__panel_intro--stats,
.proof__panel_headline.proof__panel_headline--stats,
.proof__panel_subhead.proof__panel_subhead--stats,
.proof__panel_body-copy.proof__panel_body-copy--stats {
  color: $offwhite;

  @include mq("tablet-wide") {
    width: 100%;
    max-width: 100%;
  }
}

.proof__panel_intro--stats {
  @include vr($padding-top: 4);
}

.proof__stats_panel {
  // background: rgba(000,000,000,.1);
  border: 1em solid;
  border-color: lighten($primary, 5%);
}

.proof__content_carousel {
  // background: lighten($primary, 10%);
}

.proof__panel_headline,
.headline--proof {
  flex: 0 0 auto;
  display: flex;
  z-index: 2;
  text-align: center;
  width: 61%;
  justify-content: center;
  margin: 0 auto;
  @include vr($margin-bottom: 1);

  @include mq("phone-wide", $type: max) {
    width: 81%;
  }


  @include mq("tablet-wide") {
    width: 83%;
    max-width: 83%;

    @include vr($margin-bottom: 1);
  }


  @include mq("desktop") {
    width: 83%;
    max-width: 83%;
  }
}

.proof__panel_headline--endtoend {}

.proof__panel_subhead--end2end {
  margin-top: 0;

  @include vr($margin-bottom: 4);

  @include mq("tablet-wide") {
    @include vr($margin-bottom: 4);
  }
}

.proof__content_text_idooutcomes {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 15em;
  width: 81%;
}

.proof__content_item_img {
  flex: 0 0 15em;
  display: flex;
  min-height: 15em;

  @include mq("tablet-wide") {
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
  }
}

.proof__panel_body-copy {
  // text-align: justify;
  // display: flex;
  // flex: 1 1 30%;
  // min-height: 5em;
  // position: relative;
  // color: $offwhite;
  // >em{
  // justify-content: center;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // flex: 1;

  // }
  // @include mq("tablet"){
  //   width: 81%;

  // }
}

.arrow-dwn-svg {
  // width: 38%;
  // flex: 0 0 auto;
  // margin: 3em auto;
  // position: relative;
  width: 100%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  margin: 3em auto;
  position: absolute;
  z-index: 0;
  top: -50%;
  left: -55%;
  transform: translate(50%, 50%) rotate(180deg);

  @include mq("tablet") {
    width: 110%;
    top: -57%;
    left: -60%;
  }


  @include mq("tablet-wide") {
    left: -30%;
    width: 80%;
    max-width: 80%;
  }


  @include mq("desktop") {
    width: 75%;
    max-width: 70%;
    left: -21%;
    top: -60%;
  }


  @include mq("desktop-hd") {
    width: 60%;
    max-width: 60%;
    left: -10%;
    top: -60%;
  }
}

.proof__end2end_panel {
  @include mq("tablet-wide") {
    width: 100%;
    max-width: 100%;
  }
}

.proof__panel_wrapper.proof__panel_wrapper--end2end {

  // @include mq("tablet-wide") {
  padding: 0;
  width: 100%;
  background: #000;
  flex-direction: column;
  align-items: center;
  // }
}

.diagram__end2end--vert {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mq("tablet-wide") {
    display: none;
  }
}

.diagram__end2end--horz {}

.diagram {
  &__end2end {
    &--horz {
      display: none;

      @include mq("tablet-wide") {
        display: flex;
        width: 83%;
        max-width: 83%;
        align-items: center;
        justify-content: center;
      }


      @include mq("desktop") {
        width: 61%;
        max-width: 61%;
      }


      @include mq("desktop-hd") {
        width: 50%;
        max-width: 50%;
      }
    }

    &__container {
      &--end2end {}
    }
  }
}

.diagram-item {
  &__end2end {
    &--horz {
      display: flex;
      max-width: 23.6%;
      flex: 0 0 23.6%;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
  }
}

.end2end {
  &__diagram_caption {}

  &__diagram--operator {
    display: flex;
    max-width: 2.4%;
    flex: 0 0 2.4%;
    align-items: center;
    justify-content: center;
  }

  &__diagram_img {
    @include mq("tablet-wide") {
      fill: $white;
    }


    &--plus {}

    &--equal {}
  }
}

.style-svg {}

.copy__header--end2end {
  @include mq("tablet-wide") {
    margin: unset;
    text-align: center;
  }
}

.proof__content_text--end2end {
  @include mq("tablet-wide") {
    display: flex;
    min-height: 0;
    flex: 0 0 auto;
    max-width: 34%;

    @include vr($margin-top: 4);
  }
}

.diagram__container--end2end {}

// .proof__end2end-diagram_container{
//   @include mq("tablet-wide"){
//     width: 100%;
//     max-width: 100%;
//   }
// }

.row__capabilities-overlay {
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.image__capabilities-overlay--icon {
  svg {
    fill: red;
  }
}

.overlay__hr--capabilities-webdev {
  &::after {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 1px;
    background: $primary;
  }
}

.subhead__block--atypical {
  width: 100%;
  max-width: 100%;
}

.copy__block--atypical {
  width: 100%;
  max-width: 100%;
}

.article__container--brands {
  display: flex;
  justify-content: center;
  flex: 0 0 auto;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.header__container--brands {
  width: 83%;
  max-width: 83%;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
}

.header__deck--brands {
  width: 83%;
  max-width: 83%;
}

.wrapper__grid {
  &--brands {
    @include vr($margin-top: 4);

    width: 83%;
  }
}

.flexbox-grid__container--brands {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  max-width: 100%;
}

.flexbox-grid__cell--image {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 0;
  padding-left: 0;
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
  padding: 1.27501rem;
  height: 15em;
}

.article.article__container.article__container--categories {
  width: 90%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  @include mq("tablet") {
    width: 100%;
  }


  // justify-content: center;
}

// .header__headline--cateogries{
//   width: 81%;
//   max-width: 81%;
//   flex: 0 0 auto;
// }

// .header__deck--categories{
//   width: 81%;
//   max-width: 81%;
//   flex: 0 0 auto;
// }

.pagination--personal {
  @include vr($margin: 1 auto 3 0);

  align-self: flex-start;
  flex: 0 0 auto;
}

.header__container--categories {
  max-width: 100%;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  flex-direction: column;

  @include mq("tablet") {
    width: 83%;
    max-width: 83%;
  }
}

.copy__container--categories {
  width: 83%;
  max-width: 83%;
  flex: 0 0 auto;
}

.copy--personal {
  width: 83%;
  max-width: 83%;

  @include vr($margin-top: 1, $margin-bottom: 1);
}

.personal__about-me_content {
  @include push-auto;

  @include mq("tablet") {
    max-width: 83%;
    width: 83%;
    padding: 8%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @include vr($padding-top: 6, $padding-bottom: 6);
  }

  @include mq("tablet-wide") {
    flex-direction: column;
  }
}

.headline--homepage-intro {
  @include mq("tablet") {
    @include vr($font-size: 1, $line-height: 1.5);
  }
}

.article--homepage-intro {
  // @include black-gradient();
  // background: $black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 15em;

  @include mq("tablet") {
    min-height: 250vh;
    padding-top: 0;
  }


  @include mq("tablet-wide") {
    min-height: 110vh;
  }


  @include mq("desktop") {
    min-height: 150vh;
  }


  @include mq("desktop-hd") {}
}

.strengths__panel_wrapper {
  min-height: 75em;
  padding: 0 4%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  flex: 1;

  @media (min-width: 365px) {
    padding: 8%;
    position: relative;

    // display: block;
  }

  @include mq("tablet") {
    width: 83%;
    max-width: 83%;
  }


  @include mq("tablet-wide") {
    width: unset;
    max-width: unset;
    flex: 0 0 auto;
    min-height: 115em;
    justify-content: center;
    padding: 8%;
  }


  @include mq("desktop") {
    width: 83%;
    max-width: 83%;
  }


  @include mq("desktop-hd") {
    flex: 0 0 auto;
    width: 83%;
    max-width: 83%;
  }
}

// @include mq("tablet-wide"){
// .pagination--homepage{
//   // flex:0 0 auto;
//   // display: flex;
//   // min-height: 0;
//   margin-top: auto;
//   @include vr($margin-bottom: 6);
//   padding-left: 0;
// }
// .headline__header--intro{
//   // flex:0 0 auto;
//   // display: flex;
//   // min-height: 0;
//   margin-top: auto;
// @include vr($margin-bottom: 4);
// }
// .diagram__container--intro-diagram{
//   // flex:0 0 auto;
//   // display: flex;
//   // min-height: 0;
//   @include vr($margin-bottom: 1); 
// }
// .subhead__block--homepage-intro{
//   // flex:0 0 auto;
//   // display: flex;
//   // min-height: 0;
//     margin-bottom: auto;
// }
// .homepage-intro__link_advance--chevron{
//   // flex:0 0 auto;
//   // display: flex;
//   // min-height: 0;
//   margin-top: auto;
//   margin-bottom: 6em;
// }
// }

.homepage-summary__claim_pagination {
  color: $black;
  z-index: 3;
}

.homepage-summary__claim_subhead {
  @include display-text;

  font-weight: 300;
  z-index: 3;
  margin: 0;
}

.homepage-summary__claim_subhead--strong {
  font-weight: 600;
  margin: 0;
  z-index: 3;
}

@include mq("tablet") {

  .homepage-claim__container,
  .homepage-claim__container--content-wrapper {
    >.homepage-summary__claim_subhead--strong {
      @include vr($font-size: 5);
      @include vr($padding: 2 0);

      letter-spacing: -.05em;
    }

    >.homepage-summary__claim_subhead--weak {
      @include vr($font-size: 4);
    }
  }
}


.homepage-summary__claim_subhead--border {
  border-top: 1px solid $gray-300;

  // @include vr($padding-top: 1);
  @include mq("tablet") {
    border-bottom: 0.05em solid $gray-300;
    border-top: 0.05em solid $gray-300;
  }
}

p.homepage-summary__claim--fancy {
  @include mq("phone", $type: max) {
    text-align: left;
  }


  @include body-text-lg;
  @include vr($line-height: 3);

  font-style: italic;
  font-weight: 200;
  text-align: justify;
  font-family: $font-family-serif;
  z-index: 3;

  @include mq("tablet") {}
}

.pagination--claim {
  flex: 0 0 0;
  margin: unset;

  @include vr($padding-top:6, $padding-bottom: 3);
  left: 40%;
  position: absolute;
}

.homepage-claim {
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 75em;
    background: $pattens;
    width: 100%;
    overflow: visible;

    @include mq("tablet") {
      // min-height: 125em;
    }
  }

  &__hackfix {
    background: #000;
    flex: 0 0 0;
    display: flex;
    overflow: visible;
    width: 100%;
    z-index: 2;

    &--upper {
      height: 15em;
      min-height: 15em;
    }

    &--lower {
      position: absolute;
      bottom: -1em;
      min-height: 13em;
      border-top: 1.5em solid #daeaf7;
      border-left: 1.5em solid #daeaf7;
      border-right: 1.5em solid #daeaf7;

      @include mq("tablet") {
        height: 25em;
        position: absolute;
        bottom: 0;
      }
    }
  }

  &__background-image--container {
    position: absolute;
    display: block;
    -ms-flex-item-align: center;
    align-self: center;
    width: 118%;
    z-index: 3;

    // height: 125%;
    // bottom: -25em;
    @media (min-width: 375px) {
      width: 127%;
    }

    @include mq("tablet") {
      // width: 83%;
      //  // height: 115%;
      //  bottom: 5em;
      //  left: 50%;
      //  transform: translate(-50%, 0%);
    }
  }

  &__content-wrapper {
    display: flex;
    flex-direction: column;
    flex: 2 0 auto;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    align-items: center;

    @include mq("tablet") {
      // min-height: 125em;
    }
  }

  &__container--content {
    display: flex;
    align-items: center;

    // height: unset;
    flex-direction: column;
    z-index: 3;
    flex: 1 0 auto;
    justify-content: center;

    @include mq("tablet") {}


    @include mq("tablet-wide") {
      width: 68.89%;
      max-width: 68.89%;
    }
  }

  &__link {
    position: absolute;
    z-index: 3;
    bottom: 2em;
    align-self: center;
    margin: unset;
  }

  @include mq("tablet") {
    position: absolute;
    bottom: 0;
  }
}

// ==========================================================================
// height
// ==========================================================================
.homepage-claim__wrapper,
.homepage-claim__background-image--container,
.homepage-claim__container--content-wrapper,
.homepage-claim__container--content {
  min-height: 55em;

  @include mq("tablet") {
    min-height: 125em;
  }
}

// .homepage-claim__hackfix--upper {
//   min-height: 10em;

//   @include mq("tablet") {
//     height: 15em;
//     min-height: 15em;
//   }
// }

// .homepage-claim__hackfix--lower {
//   min-height: 10em;

//   @include mq("tablet") {
//     margin-bottom: -2em;
//   }
// }

// ==========================================================================
// arrow controls
// ==========================================================================/
.homepage-claim__background-image--container>svg#Layer_1 {
  overflow: visible;
  height: 105em;
  min-height: 105em;

  @include mq("tablet") {
    height: 130em;
    min-height: 130em;
    width: auto;
    display: flex;
  }
}

.arrow-up-svg {
  display: flex;
  width: 113%;
  margin-left: -3em;

  @include mq("tablet") {
    // align-self: center;
    margin-left: unset;
    margin-right: unset;
    margin-top: unset;
    margin-bottom: -10em;

    // flex: 0 0 auto;
  }


  .st0 {
    fill: $offwhite;
    stroke: darken($pattens, 10%);
    stroke-width: 12px;
    stroke-linecap: round;
  }
}

// ==========================================================================
// width  
// ==========================================================================

.homepage-claim__background-image--container {
  flex: 0 0 100%;
  max-width: 100%;

  @include mq("tablet") {
    // width: 83%;
    // max-width: 83%;
    top: 0;
    left: 0;
    flex: 0 0 auto;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    display: flex;
  }
}

.title--claim {
  width: 61%;
  margin: auto;
  text-align: center;
  letter-spacing: -.055em;
}

p.homepage-summary__claim--fancy {
  width: 10em;
  text-align: justify;

  @include mq("tablet") {
    width: 100%;
    flex: 0 0 auto;
  }


  @include mq("phone") {
    @include vr($width: 17);

    text-align: justify;

    @include vr($margin-top: 3);
  }
}

// ==========================================================================
//  flex container controls
// ==========================================================================
.homepage-claim__wrapper {
  @include mq("tablet") {
    justify-content: space-between;
  }
}

.homepage-claim__container--content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  // flex-wrap: wrap;
}

.homepage-claim__container--content-wrapper {
  @include mq("tablet-wide") {
    display: flex;
    align-content: center;
    justify-content: center;
  }
}

// ==========================================================================
// content flexitems controls
// ==========================================================================

.homepage-claim__container--content {
  flex: 0 0 auto;

  @include mq("tablet-wide") {}
}

.homepage-summary__claim_pagination {}

.homepage-summary__claim_subhead--strong {}

.homepage-summary__claim_subhead--weak {}

.homepage-summary__claim--fancy {}

.homepage-claim__link {
  flex: 0 0 0;
}

.section--services-expertise {
  min-height: 100vh;
}

.article--container.article__expertise {
  @include mq("tablet-wide") {
    width: 100%;
    max-width: 100%;
  }

  @include mq("desktop") {
    width: 100%;
    max-width: 100%;
    position: relative;
    min-height: 90vh;
  }


  //   @include mq("desktop"){
  // max-width: 83%;
  // width: 83%;
  // }
}

.container.container--article-expertise {
  width: 100%;
  max-width: 100%;
  flex-direction: column;
  flex-wrap: wrap;

  @include vr($padding-top: 4, $padding-bottom: 4);

  @include mq("tablet") {
    // flex-direction: row;
    flex-wrap: wrap;
    flex: 0 0 auto;
    padding-left: 0;
    padding-right: 0;
    min-height: 50em;
    justify-content: center;
    align-items: center;
    background: rgba(10, 10, 10, .9);
    color: $white;
    width: 90%;
    max-width: 90%
  }

  @include mq("tablet-wide") {
    width: 50%;
    max-width: 50%;
    margin: 0;
    min-height: 85em;
  }


  @include mq("desktop") {

    border: .25em solid $black;
    color: $white;
    width: 38%;
    margin: 0 0;
    min-height: 90vh;
    margin-left: 7%;
  }


  @include mq("desktop-hd") {
    width: 23%;
    max-width: 23%;
  }
}

.content--webdev {
  @include mq("tablet-wide") {

    .headline {
      flex: 0 0 auto;
      margin: 0;
    }

    .deck {
      flex: 0 0 auto;
      width: 83%;
    }

    // .container__item--expertise{
    // flex: 0 0 auto;
    // align-items: center;
    // justify-content: center;
    // }
  }


  @include mq("desktop") {
    min-height: 120vh;
  }
}

.services-panel__bgimg_widescreen {
  height: auto;
  overflow: hidden;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.services-panel__bgimg_widescreen--planning {
  height: 61em;
  left: 32%;

}

.services__panel_flex-container--planning {
  // margin-right: 10%;
  margin-left: auto;
}

.services-panel__bgimg_widescreen--webdev {
  left: 52%;
  height: 55em;
  top: 58%;
  width: 105%;

  @include mq("desktop") {
    transform: translate(50%, 50%);
    transform: translate(50%, 50%);
    left: -38%;
    height: auto;
    top: 8%;
    width: 90%;
  }
}

.services-panel__bgimg_widescreen--management {
  width: 100%;
  transform: translate(0, -50%);
  left: 0;

  @include mq("tablet-wide") {
    //     width: 300em;
    //     max-width: 206em;
    //     top: 71%;
    //     left: -60%;
    min-height: 151em;
    bottom: 0;
    left: 0;
    display: block;
  }

  @include mq("desktop") {
    //   left: 64%;
    // height: 66em;
    // top: 50%;
    // width: 83%;
  }
}

.content--planning.container.container--article-expertise,
.content--management.container.container--article-expertise {

  overflow: hidden;
  position: relative;

  @include mq("tablet-wide") {
    //     width: 50%;
    //     max-width: 50%;
    position: relative;
    min-height: 140em;
  }


  @include mq("desktop") {
    width: 38%;
    max-width: 38%;
    min-height: 128vh;
    justify-content: center;
  }


  @include mq("desktop-hd") {
    width: 23%;
    max-width: 23%;
  }
}

.article__expertise--management {
  @include mq("tablet-wide") {
    min-height: 140em;
  }
}

#svg__blue_a2--bg {
  @include mq("desktop") {
    width: 125em;
    margin-top: 0;
    height: 125em;
  }
}

.services-panel__bgimg_widescreen--planning {
  @include mq("desktop") {}

  top: 59%;
  left: 65%;
  height: 150em;
  width: 150em;
}

.container.container__item--expertise {
  width: 100%;

  @include mq("tablet-wide") {
    width: 83%;
    max-width: 61%;
    min-height: 60em;
    flex-direction: column;
    justify-content: flex-start;
  }

  @include mq("desktop") {
    min-height: 1px;
    width: 83%;
    max-width: 83%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
  }
}

///////////////////////////////////////////
//there is a whole bem for item-experitse established at the top of this file
//??????????????????????????????????????????????????




.item-expertise--two {
  @include mq("desktop") {
    max-width: 61%;
    width: 61%;
    margin-left: 0;
    margin-right: 0;
    flex: 0 0 auto;

    @include vr($margin: 2 0);
  }

  @include mq("desktop-hd") {
    max-width: 83%;
    width: 83%;
  }
}

.item-expertise--three {
  @include mq("desktop") {
    width: 83%;
    max-width: 83%;

    @include vr($margin-top: 2, $margin-bottom: 2);
  }

  @include mq("desktop-hd") {
    max-width: 83%;
    width: 83%;
  }
}

.headline--expertise {
  @include mq("desktop") {
    width: 83%;
    max-width: 83%;

    @include vr($margin-bottom: 2);
  }
}

.deck__article--expertise {
  @include mq("desktop") {
    width: 83%;
    max-width: 83%;

    @include mq("desktop-hd") {
      width: 83%;
      max-width: 83%;
    }
  }
}

.container.commitment__article_container {
  @include mq("desktop") {
    width: 61%;
    max-width: 61%;
  }

  @include mq("desktop-hd") {
    width: 50%;
    max-width: 50%;
  }

}

#article__container--management-intro {
  @include mq("tablet") {
    width: 61%;
    max-width: 61%;
    @include push-auto();
  }

  @include mq("desktop") {
    width: 50%;
    max-width: 50%;
  }

  @include mq("desktop-hd") {
    width: 38%;
    max-width: 38%;
  }
}

// .section--reasons{
//   width: 100%;
//   max-width: 100%;
//   display: flex;
//   flex-wrap: wrap;
//   position: relative;
// }

// article.article__wrapper.content__wrapper.justification, article.article__wrapper.content.justification{

//    @include mq("tablet"){
//    // width: 61%;
//    //  max-width: 61%;
//   // @include push-auto();
//  }
//   @include mq("desktop"){
//       display: flex;
//       margin: 0;
//    width: 50%;
//     max-width: 50%;
//     flex: 0 0 auto;
//  }
//    @include mq("desktop-hd"){
//    width: 38%;
//     max-width: 38%;
//  }
// }

.container.business-value.justification__container {
  @include mq("tablet-wide") {
    width: 83%;
  }

  @include mq("desktop") {}

  @include mq("desktop-hd") {}
}

.pagination--reasons {
  display: block;
  position: relative;
  width: 100%;
}


.header__wrapper--reasons {
  @include mq("tablet-wide") {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: inherit;
  }
}

.header-25x75row__container {
  @include mq("tablet-wide") {
    width: 75%;
    max-width: 75%;
  }
}

.header-25x75row__row1--jumbo-digit {
  @include mq("tablet-wide") {
    flex: 0 0 18%;
  }
}

.diagram__header--reasons {
  @include mq("tablet-wide") {
    width: 50%;
    max-width: 50%;
    flex: 0 0 46%;
  }
}

.deck__header {
  &--objectives {
    @include mq("tablet-wide") {
      width: 83%;
      max-width: 71%;
      flex: 0 0 auto;
    }
  }

  &--value {
    @include mq("tablet-wide") {
      flex: 0 0 auto;
      display: flex;
      margin: 0;
      width: 83%;
      max-width: 83%;
      @include vr($margin: 1 0);
    }
  }

  &--intro {
    flex: 0 0 83%;
  }
}

.header__modernize {
  @include mq("tablet-wide") {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
}

.optimize-diagram__container {
  @include mq("tablet-wide") {
    width: 100%;
    max-width: 100%;
    flex: 0 0 auto;
    display: flex;
    min-height: 50em;
  }
}

.page__header-text_container--optimize {
  @include mq("tablet-wide") {
    width: 50%;
    max-width: 50%;
    flex: 0 0 auto;
    min-height: 5em;
    @include vr($margin-top: 2);
  }
}

.page__header-text_container--modernize {
  @include mq("tablet-wide") {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 50em;
  }
}

.justification__page-header_text--square {
  @include mq("tablet-wide") {
    flex: 0 0 auto;
    @include vr($font-size: 3, $padding:2);
    text-align: justify;
    font-weight: 400;
    color: $gray-600;
  }
}



.deck__header--objectives {
  @include mq("tablet-wide") {}
}




.diagram--objectives {
  @include mq("tablet-wide") {
    max-width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
  }
}

.headline--objectives {
  @include mq("tablet-wide") {
    flex: 0 0 auto;
    width: 100%;

  }
}

.diagram__list-item-container--objectives {
  border: 1px $primary solid;
  @include vr($margin-top: 3);

  @include mq("tablet-wide") {
    border: none;
    width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    padding: 4%;
    background: lighten($pattens, 5%);
    @include vr($margin-top: 1);
  }
}



.headline--objectives {
  @include mq("tablet-wide") {
    @include vr($margin-top:4);
  }
}

.header-copy--objectives-diagram {
  @include mq("tablet-wide") {
    width: 90%;
    max-width: 90%;
    flex: 0 0 auto;
    min-height: 1.5em;
    margin-top: 0;
  }
}

.objectives-diagram__list-item {
  @include mq("tablet-wide") {
    width: 23%;
    max-width: 23%;
    flex: 0 0 auto;
    display: flex;
    margin: 0;
    align-items: baseline;
  }
}

.diagram-item__container--77row {
  @include mq("tablet-wide") {
    // flex: 0 0 38%;
    // max-width: 38%;
    width: 100%;
    max-width: 100%;
    flex: 0 0 auto;
  }
}


.diagram-item__container--23row {
  @include mq("tablet-wide") {
    flex: 0 0 38%;
    max-width: 38%;
    min-height: 10em;
    justify-content: center;


  }
}


.diagram-item__copy--objectives-diagram {
  @include mq("tablet-wide") {
    flex: 0 0 83%;
    max-width: 83%;
  }
}

.objectives-diagram__delta-icon {
  @include mq("tablet-wide") {
    flex: 0 0 auto;
    width: 4em;
    height: 4em;
    justify-content: flex-start;
  }
}


.moreless-button__outcomes,
.moreless-button__optimize {
  @include vr($margin-top: 4, $margin-bottom: 6);
}


.atypical__section {
  display: none;
}

.management {
  display: none;
}


.content1__background {
  @include mq("tablet-wide") {
    margin-top: 0;
    width: 61%;
  }
}

.footer__wrapper {
  background: $black;
  height: 40em;
}

.container--mymo {
  width: 83%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}


.block__content--intro {
  max-width: 83%;
  @include vr($margin: 2 auto);
}

.headline__block--intro {}

.copy__block--intro {}

.copy__block--strong {
  font-weight: 400;
}

.image__container--intro {
  @include vr($margin-top: 4);
}



.graphic {
  &__container {
    display: flex;
    flex-direction: row;
    justify-content: center;

    &--services-masthead {
      flex: 0 0 25%;
      flex-wrap: wrap;
      justify-content: flex-end;
      align-items: flex-start;
      max-width: 25%;
    }

    &--home-hybrid {
      flex: 0 0 83%;
      max-width: 83%;
      @include vr($margin-bottom: 2);
    }
  }

  &__element {
    
    &--services {
      flex: 0 0 50%;
      max-width: 4em;
      height: 4em;
      display: flex;
      

      >svg {
        width: 4em;
        height: 4em;
        display: block;
      }
    }

    &--integrated-marketing {
      flex: 0 0 25%;
      max-width: 4em;
      height: 4em;
      display: flex;
      align-content: center;
      @include vr($margin-bottom: 1);

      >svg {
        width: 4em;
        height: 4em;
        display: block;
        background: $black;
        fill: $white;
        border: 1px solid lighten($black, 20%);
      }
    }

    &--services-offset {}

    &--home-hybrid {
      flex: 0 0 8em;
      max-width: 8em;
      height: 8em;
      display: flex;

      >svg {
        width: 8em;
        height: 8em;
        display: block;
      }

    }
  }
}

.hybrid-icon {
  fill: $white;
  background: $primary;
  border: 1px solid $white;
}

.header--services-summary {
  @include mq('phone-wide', $type:max) {
    letter-spacing: 0;
  }
}


.container__accordion {
  display: none;
  @include vr($padding-bottom: 4);

  &--expertise {}

  &--mymo {}
}

.text--white {
  color: $white;
}

.expertise--header{
  
}


// .ui-button__expand:active {
//   transform: rotate(90deg);
//   -webkit-transform: rotate(90deg);
//   -ms-transform: rotate(90deg);

.rotate{
  transform: rotate(90deg);
  transition: all .3s ease-in-out;

}