//mixins placed here to ensure processing prior to @make-col mixins called in css that fallows

@mixin make-container {
    padding-left: 15px;
    padding-right: 15px;

    @include media-breakpoint-up(sm) {
        padding-left: 0px;
        padding-right: 0px;
    }
}

@mixin make-col-ready {
    padding-right: 0;
    padding-left: 0;
}

// PANEL VERTICAL STYLES
// container divs with flex column nested within panels styled using flex-columns with justify flex-end to push images to bottom of divs and justify/center remaining content
#splash, #areas-splash, #val-splash, #whyme-splash, #about-splash {
    height: 100vh;

    .container {
        height: 100vh;
    }
}

#splash, #areas-splash, #val-splash, #whyme-splash, #whyme-box, #about-splash, #val-intro, #splash-intro, #whyme-intro, #pers-panel, #story, #about-box, #home-cta, #whatido, #do-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .container {
        margin-top: auto;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .headline {
        flex-basis: $rvr-7;
        margin-top: auto;
        margin-bottom: unset;
    }

    .subhead {
        flex-basis: $rvr-2;
    }

    .display-text {
        @include make-col-ready;
        @include make-col(12);

        flex-basis: $rvr-2;
    }

    .hero-img-mobile {
        height: $rvr-12;
        display: flex;
        align-self: flex-end;

        @include media-breakpoint-up(lg) {
            display: none;
        }
    }

    .hero-img-mobile img {
        align-self: flex-end;
        margin: 0 auto;
    }
}

.splash-1 {
    font-family: $font-family-serif;
    font-style: italic;
    font-size: $ms-2_5;
    flex-basis: $rvr-1;
}

.splash-2 {
    @include display-3;

    margin-top: $rvr-2;
    line-height: $rvr-2;
    flex-basis: $rvr-1;
    margin-bottom: auto;
}

.callout {
    flex-basis: $rvr-1;
    font-size: $ms-2;
    font-family: $font-family-serif;
    font-style: italic;
}

a.advance-link {
    text-transform: uppercase;
    letter-spacing: .075rem;
    font-weight: 400;
    align-self: flex-end;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
}

//mobile background image panels
#whatido, #pers-panel, #whyme-box {
    position: relative;
}

//panel-specific adjustments

//all splash pages
#splash, #areas-splash, #val-splash, #whyme-splash, #about-splash {
    .container {
        text-align: center;
    }
}

//value splash{
#reg-img {
    margin-left: auto;
    margin-right: auto;
}

//value intro
#val-intro {
    .page-title {
        margin-top: $rvr-6;
        flex-basis: 4rem;

        // margin-bottom: $rvr-4;
   
    }

    .headline {
        // margin-top: unset;
        flex-basis: 8rem;
    }

    .display-text {
        // margin-bottom: $rvr-2;
        flex-basis: 8rem;
    }

    .links-box {
        // margin-bottom: $rvr-4
        flex-basis: 22rem;
    }

    .val-links {
        margin-bottom: $rvr-1;
    }

    a.advance-link {
        align-self: unset;

        // margin-bottom: auto;
        flex-basis: 0;
    }

    @media-breakpoint-up (md) {
        .headline {
            // margin-top: unset;
            flex-basis: 10rem;
        }

        .display-text {
            // margin-bottom: $rvr-2;
            flex-basis: 10rem;
        }
    }
}

//home-splash
#splash {
    .splash-2 {
        margin-bottom: unset;
    }

    .callout {
        margin-top: $rvr-6;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: auto;
    }
}

//why me splash

//why me box
#whyme-box {
    .page-title {
        margin-top: auto;
        flex-basis: $rvr-10;
        margin-bottom: $rvr-4;
    }

    .headline {
        margin-top: unset;

        @include media-breakpoint-up(md) {
            flex-basis: $rvr-5;
        }
    }

    .display-text {
        margin-bottom: $rvr-2;
    }

    #whyme-container > div:nth-child(6) {
        margin-bottom: unset;
        font-weight: 600;
    }

    a.learn {
        align-self: flex-end;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: unset;
        flex-basis: $rvr-9;
    }

    a.advance-link {
        align-self: flex-end;
    }
}

//advance business obj panel
// #adv-content > div.display-text, #adv-container .display-text {
//     flex-basis: $rvr-6;
// }

//splash-intro
#splash-intro {
    .headline {
        margin-top: $rvr-6;
        flex-basis: $rvr-8;
        h2{
            font-size: ms(5);
        }

        @include media-breakpoint-up(md) {
            flex-basis: $rvr-6;
        }
    }

    .display-text {
        margin-bottom: $rvr-1;
        flex-basis: $rvr-3;
    }

    #splash-intro-container > div:nth-child(6) {
        margin-bottom: auto;
        flex-basis: $rvr-12;
    }

    a.advance-link {
        margin: 0 auto 0 auto;
    }

    .hero-img-mobile {
        height: $rvr-5;
    }
}

//personal panel
#pers-panel {
    .page-title {
        margin-top: auto;
        flex-basis: $rvr-1;
    }

    .headline {
        margin-top: inherit;
        margin-bottom: $rvr-2;
    }

    #pers-container > div:nth-child(5) {
        margin-bottom: auto;
        padding-bottom: $rvr-10;
    }
}

#pers-container {
    // z-index:2;
}

//story panel
#story {
    .row {
        flex-direction: column;
        justify-content: space-between;
    }

    .page-title {
        flex-basis: $rvr-1;
        margin-top: $rvr-6;
        margin-bottom: $rvr-6;
    }

    .headline {
        flex-basis: $rvr-1;
        margin-top: $rvr-4;
        margin-bottom: $rvr-4;
    }

    .display-text {
        margin-bottom: $rvr-1;
        flex-basis: $rvr-1;
    }

    a.advance-link {
        margin: 0 auto 0 auto;
        flex-basis: $rvr-1;
    }

    #story-container > div > div:nth-child(5) {
        margin-bottom: auto;
    }

    a.learn {
        flex-basis: $rvr-1;
    }
}

//about box{
#about-box {
    height: inherit;
}

#about-container {
    height: inherit !important;
}

#about-box .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: inherit;
}

#about-blocks {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: inherit;
}

#about-box {
    .page-title {
        flex-basis: $rvr-5;
        margin-top: auto;
    }

    .headline {
        margin-top: unset;
        flex-basis: $rvr-5;

        @include media-breakpoint-up(md) {
            flex-basis: $rvr-6;
        }
    }

    .subhead {
        flex-basis: $rvr-2;
    }

    .display-text {
        flex-basis: $rvr-6;
    }

    .about-icons {
        flex-basis: auto;
        margin-bottom: auto;
    }

    .icons-caption {
        margin-bottom: $rvr-4;
    }

    .stats {
        padding-bottom: $rvr-1;
    }

    a.advance-link {
        margin: 0 auto 0 auto;
        flex-basis: $rvr-8;
    }

    a.learn {
        flex-basis: $rvr-4;
    }
}

//home cta
#home-cta {
    .page-title {
        flex-basis: $rvr-10;
        margin-top: auto;
    }

    .headline {
        flex-basis: $rvr-4;
        margin-top: unset;
    }

    .subhead {
        flex-basis: $rvr-1;
    }

    .sub-list {
        flex-basis: $rvr-2;
    }

    .display-text {
        flex-basis: $rvr-18;
        margin-bottom: auto;
    }

    a.learn {
        flex-basis: $rvr-1;
        align-self: flex-end;
        margin-left: auto;
        margin-right: auto;
    }
}

#whatido, #whatido .container {
    height: inherit;
}

#whatido {
    .container {
        max-width: ms(12);

        @include media-breakpoint-up(sm) {
            max-width: ms(22);
        }


        @include media-breakpoint-up(md) {
            max-width: 100%;
        }
    }

    .page-title {
        flex-basis: $rvr-6;
        margin-top: auto;
    }

    .headline {
        flex-basis: $rvr-8;
        margin-top: inherit;
        margin-bottom: auto;
    }

    .subhead {
        flex-basis: $rvr-4;
        max-width: $ms-12;

        @include media-breakpoint-up(sm) {
            max-width: $ms-14;
        }


        @include media-breakpoint-up(md) {
            max-width: 100%;
        }
    }

    .sub-list {
        flex-basis: $rvr-2;
    }

    .block-body {
        flex-basis: 46rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include media-breakpoint-up(sm) {
            flex-basis: 35rem;
        }


        @include media-breakpoint-up(md) {
            flex-basis: 40rem;
        }
    }

    .display-text {
        max-width: ms(11.65);
        letter-spacing: -.02rem;
        flex-basis: $rvr-8;
        font-family: $font-family-serif;

        .lead {
            font-weight: 600;
            font-style: italic;
        }

        @include media-breakpoint-up(sm) {
            max-width: ms(12.75);
            flex-basis: $rvr-4;
        }


        @include media-breakpoint-up(md) {
            max-width: 100%;
        }
    }

    // .display-text:last-of-type{
    //      margin-bottom: auto;
    //  }
    a.learn {
        flex-basis: $rvr-1;
        align-self: flex-end;

        //         margin-left: auto;
        margin-right: auto;
    }
}

//how i do it panel

#do-container {
    height: inherit;

    .container {
        height: inherit;
    }

    #do-row {
        flex-direction: column;
    }

    .page-title {
        flex-basis: $rvr-6;
        margin-top: auto;
    }

    #do-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-basis: $rvr-18;
        margin-bottom: $rvr-2;

        @include media-breakpoint-up(md) {
            margin-bottom: inherit;
        }
    }

    .headline {
        flex-basis: $rvr-8;
        margin-top: inherit;
        margin-bottom: auto;
    }

    //   .subhead{
    //     flex-basis: $rvr-4;
    // }
    .sub-list {
        flex-basis: $rvr-4;
    }

    .display-text {
        flex-basis: $rvr-6;
        flex-grow: 0;
        font-family: $font-family-serif;
    }

    #do-blocks {
        flex-basis: auto;
    }

    // .display-text:last-of-type{
    //      margin-bottom: auto;
    //  }
    a.learn {
        align-self: flex-end;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: unset;
        flex-basis: $rvr-9;
    }

    a.advance-link {
        align-self: flex-end;
    }
}

//glabal how-i-create-value subpanels (advance, optimize, grow, modernize)

.create-head {
    @include media-breakpoint-up(md) {
        @include make-col-ready;
        @include make-col(11);

        width: inherit;
    }


    .row {
        display: inline-flex;
        align-items: center;
        width: 100%;
    }

    .create-path, .create-offset {
        @include make-col-ready;
        @include make-col(3);

        h1 {
            margin: 0;
            padding: 0;
            letter-spacing: -.5rem;
        }
    }

    .headline {
        @include make-col-ready;
        @include make-col(9);

        padding-left: $ms-0;
        margin: unset;
        max-width: $ms-11;

        h2 {
            @include ms-respond(font-size, 3.4);

            font-weight: 400;

            @include media-breakpoint-up(md) {
                @include ms-respond(font-size, 2.5);

                line-height: $rvr-2;
            }
        }

        @include media-breakpoint-up(md) {
            padding-left: 0;
            max-width: inherit;
        }
    }

    div#head-display-text {
        @include make-col-ready;
        @include make-col(10);

        max-width: 100%;
        padding-left: 1rem;
    }
}

#advance, #grow, #optimize, #modernize {
    .create-row {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }

    .page-title {
        @include make-col-ready;
        @include make-col(12);

        flex-basis: $rvr-6;
    }

    .create-head.row {
        @include make-col-ready;
        @include make-col(12);

        display: inline-flex;
        align-items: center;
        flex-basis: $rvr-8;

        @include media-breakpoint-up(md) {
            display: flex;
        }
    }

    .create-head {
        flex-basis: $rvr-8;

        @include media-breakpoint-up(md) {
            display: flex;
            direction: row;
            flex-basis: $rvr-10;
        }
    }

    .display-text {
        flex-basis: $rvr-6;

        @include media-breakpoint-up(md) {
            flex-basis: $rvr-6;
        }
    }

    .block {
        flex-basis: $rvr-2;

        @include media-breakpoint-up(md) {
            margin-left: 24%;
            flex-basis: $rvr-4;
        }
    }

    a.advance-link {
        flex-basis: $rvr-2;
    }
}

// #grow .display-text{
//         @include media-breakpoint-up(md) {
//     }    flex-basis: $rvr-6;
//         @include media-breakpoint-up(lg) {
//     }
//         @include media-breakpoint-up(xl) {
//     }

// }

#outcomes {
    flex-basis: auto;
}

#scv-diagram {
    flex-basis: 32rem !important;
    margin-left: -1.5rem;
    margin-right: 1.5rem;

    @include media-breakpoint-up(md) {
        flex-basis: auto !important;
        margin-right: auto;
        margin-left: auto;
        width: ms(12.5);
        padding-right: ms(4);
        margin-bottom: $rvr-2;
    }


    @include media-breakpoint-up(lg) {}


    @include media-breakpoint-up(xl) {}
}

#mod-diagram {
    flex-basis: 35rem;
    width: 100%;

    @include media-breakpoint-up(md) {
        flex-basis: auto;
        margin-bottom: $rvr-2;
    }


    @include media-breakpoint-up(lg) {}


    @include media-breakpoint-up(xl) {}
}

#mod-diagram img {
    width: 100%;
}

#end-to-end {
    flex-basis: auto;
}

#mod-content .display-text {
    flex-basis: $rvr-6;
}

.page-id-12 {
    .site-main {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #contact {
        h1 {
            font-weight: 700;
            letter-spacing: -.5rem;
        }
    }
}

#advance {
    #adv-content > div.display-text {
        @include media-breakpoint-up(md) {}


        flex-basis: $rvr-4;
        margin-left: 24%;

        @include media-breakpoint-up(lg) {}


        @include media-breakpoint-up(xl) {}
    }
}

#expt {
    @include media-breakpoint-up(sm) {}


    @include media-breakpoint-up(md) {
        .expt-intro {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding-left: 0;
            padding-right: 0;
        }

        .expt-content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .headline {
            max-width: $ms-12;
            flex-basis: $rvr-12;
        }

        .display-text {
            flex-basis: $rvr-8;
        }

        .expt-menu-horz {
            flex-basis: auto;
        }

        .menu-icon-text-wrap {
            h3 {
                font-size: $ms-1_5;
                line-height: $rvr-1_5;
            }

            @include media-breakpoint-up(md) {
                max-width: ms(10.6);
                text-align: left;
                margin-left: auto;
                margin-right: auto;
            }


            .display-text {
                @include media-breakpoint-up(sm) {}


                @include media-breakpoint-up(md) {
                    @include display-5;

                    max-width: ms(10.6);
                    text-align: left;
                    margin-left: auto;
                    margin-right: auto;
                }


                @include media-breakpoint-up(lg) {}


                @include media-breakpoint-up(xl) {}
            }
        }

        .display-text {}

        .expt-menu-horz {}
    }


    @include media-breakpoint-up(lg) {}


    @include media-breakpoint-up(xl) {}
}

#goals {
    background: #fff;
    padding-top: $rvr-6;

    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .headline {
        flex-basis: $rvr-6;
        margin-top: auto;
        margin-bottom: inherit;
    }

    .subhead {
        flex-basis: $rvr-6;
        margin-bottom: inherit;
    }

    .sub-list {
        flex-basis: $rvr-6;
    }

    .sub-list2 {
        flex-basis: $rvr-1_5;
    }

    .text-block {
        display: flex;
        flex-direction: column;
        flex: 0 1 35rem;
    }

    .body-text {
        flex-basis: 0;
    }

    .display-text {
        flex-basis: $rvr-4;
    }

    a.learn {
        flex-basis: $rvr-3;
        align-self: flex-end;
        margin-left: auto;
        margin-right: auto;
    }

    a.advance-link {
        flex-basis: $rvr-5;
        align-self: flex-end;
        margin: inherit;
    }
}