// ==========================================================================
// basic page panel
// ==========================================================================


#basic-panel {
    position: relative;

    @include media-breakpoint-up(md) {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
}
 

#basic-container {  
    height: 100vh;  
    padding-top: $rvr-4;
    display: flex; 
    align-items: center; 
    margin: 0 auto;
    flex-direction: column;

    @include media-breakpoint-up(md) {
        max-width: 800px;
    }


    @include media-breakpoint-up(lg) { 
        max-width: 900px;
    }
}



.mobile-subpage {
    height: 100vh;
    position: absolute;
    z-index: -1;
    top:  0;
    left:  0;
    width: 100%;
    overflow: visible;
        display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    @include media-breakpoint-up(md) {
        display: none;
    }
}

#basic-content > div%headline h2{
font-size: ms(3.9);
}

#trend-arrow svg#Layer_1{
    fill: $tungsten;
    width: 105%;
    margin-left: -3rem;
    margin-top: 35rem;
}


#basic-content {
  
    @include make-col-ready();
    @include make-col(12);
    padding: 0;
      margin-bottom: $rvr-1;
    @include media-breakpoint-up(md) {
        @include make-col-ready();
        @include make-col(7);
    }


    @include media-breakpoint-up(lg) {
        @include make-col-ready();
        @include make-col(7);
    }
}

#basic-content-block {

    @include media-breakpoint-up(md) {
        margin-bottom: $rvr-_5;

        @include v-1;

        padding-left: 0;
    }
}



.basic-headline {
    margin-bottom: $rvr-2;
}


#basic-proclamations {
    max-width: $ms-12_25;
    padding-bottom: $rvr-_5;
    font-family: $font-family-sans-serif;
}

#basic-content %display-text-text{
    margin-bottom: $rvr-2;
}
