
// $new-primaryy: #2CC0F2;
// $new-secondary:#76D4F4; 
// $new-palette1: #25A1CB;
// $new-palette2: #2397bf;
// $new-palette3: #376473;
// $new-palette4: #ade5f8;
// $new-palette5: #c8eefb;
// $new-palette6: #e4f6fd;
// $new-primaryy:  #64D3FD;
// $new-secondary:#76D4F4; 
// $new-palette1: #25A1CB;
// $new-palette2: #2397bf;
// $new-palette3: #376473;
// $new-palette4: #ade5f8;
// $new-palette5: #c8eefb;
// $new-palette6: #e4f6fd;
//blaze
$color-1: #ee6352; //orange
$color-2: #FF934F; //coral
$color-3: #cf5c36; //dark coral
$color-4: #04724d; //green
$color-5: #7DD181;  //pastel green
$color-6: #F2545B;  //sunset orange
$color-7: #89023E; //pink rasberrry 
$color-8: #890620; //burgundy
$color-9: #FCA311; //dark tangerine
$color-10: #EE6C4D; //light red ochre "subtle orange"
$color-11: #8A4FFF; //purple!
$color-12: #fff;
$color-13: #fff;
$color-14: #fff;

//electric
// $color-16: #42CAFD;  //picton blue
// $color-17: #009FFD; //vivid cerulean
// $color-18: #6ccff6;
// $color-19: #64D3FD;
// $color-20: #DAEAF7; //pattens
//lights
// $color-21: #7BDFF2; //blue-greenish
// $color-22: #c4dff0; //tungscreen pull
// $color-23: #daeaf7; //pattens
// $color-24: #98C1D9; //pale cerulean
// $color-25: #A3D5FF;
// $color-26: #83C9F4;
// $color-27: #fff;
// $color-28: #fff;
// $color-29: #fff;
//dark
// $color-30:#19647E; //gray blueish
// $color-31:#14213d; //yankees blue
// $color-32: #fff;


//grays
// $color-33: #364652;
// $color-34:#30343F; //gunmetal
// $color-35:#5E6572; //cadet
// $color-36:#7C7C7C; //trolley grey


// $color1: hsla(207%, 64%, 91%, 1);
// $color2: hsla(197%, 88%, 69%, 1);
// $color3: hsla(201%, 43%, 45%, 1);
// $color4: hsla(197%, 59%, 64%, 1);
// $color5: hsla(205%, 58%, 52%, 1);

// /* RGB */
// $color1: rgba(218, 234, 247, 1);
// $color2: rgba(108, 207, 246, 1);
// $color3: rgba(66, 129, 164, 1);
// $color4: rgba(108, 186, 217, 1);
// $color5: rgba(62, 146, 204, 1);
// $primary: #DAEAF7;


/* Color Theme Swatches in Hex */
// $chromatic-silver-1-hex: #ADCCD9;
// $chromatic-silver-2-hex: #70848C;
// $chromatic-silver-3-hex: #50899F;
// $chromatic-silver-4-hex: #6CBAD9;
// $chromatic-silver-5-hex: #475459;
// $chromatic-silver-6-hex: #DAEAF7;

// /* Color Theme Swatches in RGBA */
// $chromatic-silver-1-rgba: rgba(173,204,217, 1);
// $chromatic-silver-2-rgba: rgba(112,132,140, 1);
// $chromatic-silver-3-rgba: rgba(80,137,159, 1);
// $chromatic-silver-4-rgba: rgba(108,186,217, 1);
// $chromatic-silver-5-rgba: rgba(71,84,89, 1);

// /* Color Theme Swatches in HSLA */
// $chromatic-silver-1-hsla: hsla(197, 36, 76, 1);
// $chromatic-silver-2-hsla: hsla(197, 11, 49, 1);
// $chromatic-silver-3-hsla: hsla(196, 33, 46, 1);
// $chromatic-silver-4-hsla: hsla(197, 58, 63, 1);
// $chromatic-silver-5-hsla: hsla(196, 11, 31, 1);

 
// $new-primaryy: #35a7ff;
// $new-secondary:#76D4F4; 
// $new-palette1: #25A1CB;
// $new-palette2: #2397bf;
// $new-palette3: #376473;
// $new-palette4: #ade5f8;
// $new-palette5: #c8eefb;
// $new-palette6: #e4f6fd;


// $white:    #fff !default;
// $gray-100: #f8f9fa !default;
// $gray-200: #e9ecef !default;
// $gray-300: #dee2e6 !default;
// $gray-400: #ced4da !default;
// $gray-500: #adb5bd !default;
// $gray-600: #6c757d !default;
// $gray-700: rgba(73, 80, 87, .8) !default;
// $gray-800: #343a40 !default;
// $gray-900: #212529 !default;
// $black:    #071013 !default;

 
.color-box{ 
  height: 8em; 
  width: 28em; 
  overflow: hidden; 

  &--1{background:  $color-1;}
  &--2{background:  $color-2;}
  &--3{background:  $color-3;}
  &--4{background:  $color-4;}
  &--5{background:  $color-5;}
  &--6{background:  $color-6;}
  &--7{background:  $color-7;}
  &--8{background:  $color-8;}
  &--9{background:  $color-9;}
  &--10{background: $color-10;}
  &--11{background: $color-11;}
  &--12{background: $color-12;}
  &--13{background: $color-13;}
  &--14{background: $color-14;}
  &--15{background: $color-15;}
  &--16{background: $color-16;}
  &--17{background: $color-17;}
  &--18{background: $color-18;}
  &--19{background: $color-19;}
  &--20{background: $color-20;}
  &--21{background: $color-21;}
  &--22{background: $color-22;}
  &--23{background: $color-23;}
  &--24{background: $color-24;}
  &--25{background: $color-25;}
  &--26{background: $color-26;}
  &--27{background: $color-27;}
  &--28{background: $color-28;}
  &--29{background: $color-29;}
  &--30{background: $color-30;}
  &--31{background: $color-31;}
  &--32{background: $color-32;}
  &--33{background: $color-33;}
  &--34{background: $color-34;}
  &--35{background: $color-35;}
  &--36{background: $color-36;}
  
  }
  