// global page/panel/article styles
.panel + .panel{
	padding-top: $rvr-10;
}


// page-template styles  (pages are vertical)

.basic{
      h1{
        @extend .page__title;
      text-align: left;
    }
      h2{
        @extend .headline;
      }
      h3{
        @extend .display;
      }

    p{
      @extend .body;
    }
    }

// business-value panel / subpanels(panels are horizontal)
.splash{
	h1{
		@extend .headline;
	}
	h2{
		@extend .display;
	}
	p{
		@extend .display;
	}

}

.basic.home-page__my-mo{
  text-align: left;
      p:first-of-type{
      @extend .display;
    }
}


.basic.home-page__whatido{
  text-align: left;
  h3{
    font-size: $h4-font-size;
    text-transform: lowercase;

  }
}

.basic.home-page__howidoit{
  text-align: left;
  h3{

    @extend .sublist;
  }
  h4{
    @extend .display;
  }
}

.howidoit__disciplines_content{ 
  display: flex;
  flex-direction: column;
  align-items: center;
  .disciplines__content-icon{
    width: 50%;

  }
  h5,p{
    text-align: center;
    }h5{
    @extend .subhead;
    font-size: $h4-font-size;
    margin-bottom: $rvr-1;
  }
  p{
    @extend .body;
    font-size: $body-4-font-size;
    line-height: $rvr-2;
  }
  }



.business-value h1 {
    @extend .page__title;
}

.business-value p {
    // @extend .body-line-height;
    // font-size: $body-3-font-size;
    // color: $body-color;
    // font-family: $body-font-family;
    // font-weight: $body-font-weight;
    // margin-bottom: $body-margin-bottom;
}

// panel styles



// individual panel styles



// .splash{
//     h1 { 

//     }

//     h2, h3 {						
//         font-size: $display-3-font-size;
//         color: $display-color;
//         font-family: $display-font-family;
//         font-weight: $display-font-weight;
//     }

//     p {								
//         font-size: $body-3-font-size;
//         color: $body-color;
//         font-family: $body-font-family;
//         font-weight: $body-font-weight;
//     }
// }

// .my-mo{
//     h1 {
//     }

//     h2 {

//     }

//     p {								
//         font-size: $body-3-font-size;
//         color: $body-color;
//         font-family: $body-font-family;
//         font-weight: $body-font-weight;
//     }
// }


// .splash{
// 	@extend .container-fluid;
// 	}



.home-page.splash {
    h1 {
        // font-size: ms(5.5);
    }

    h2 {
        font-size: ms(3.85);
        letter-spacing: -.05rem;

        @include media-breakpoint-up(lg) {
            letter-spacing: 0;
        }
    }
     h3{
     	font-size: $display-3-font-size;
     }

    p:first-of-type {
       	font-size: ms(2.75);

   
    }

    p:last-of-type {
        // font-size: ms(2.25);
        // font-style: italic;
        @extend .body;
        font-style: italic;
    }
}










.why-me.splash {
    padding-left: ms(3);
    text-align: left;
    h1 {
        // font-size: ms(5.5);
        padding-left: $ms-3;

    }

    h2 {
        // font-size: ms(3.5);
        font-family: $font-family-serif;
        padding-left: $ms-3;
        font-style: italic;

    }
    h3{
    	padding-left: $ms-3;
  
    }
}

.my-expertise.splash {
    padding-left: ms(3);
    text-align: left;
    h1 {
        // font-size: ms(5.5);
        padding-left: $ms-3;

    }

    h2 {
        // font-size: ms(3.5);
        font-family: $font-family-serif;
        padding-left: $ms-3;
        font-style: italic;

    }
    h3{
    	padding-left: $ms-3;
  
    }
}

.my-value.splash {
    padding-left: ms(3);
    text-align: left;
    h1 {
        padding-left: $ms-3;
        // flex: 0 0 auto;
    }

    h2 {
        font-family: $font-family-serif;
        padding-left: $ms-3;
        font-style: italic;
        max-width: $ms-10;
        // flex: 0 0 auto;
    }
}




.about-me.splash {
    padding-left: ms(3);
    text-align: left;
    h1 {
        // font-size: ms(5.5);
        // margin-top: auto;
        padding-left: $ms-3;

    }

    h2 {
        // font-size: ms(3.5);
        font-family: $font-family-serif;
        padding-left: $ms-3;
        font-style: italic;

    }
    h3{
    	padding-left: $ms-3;

  
    }
}




.basic.home-page__the-goal {
   text-align: left;
   padding: $rvr-6 $ms-5;
    // h2 {  
     // line-height: $rvr-2_5;
    // font-size:$h3-font-size;
    // color: $headings-color;
    // font-family: $headings-font-family;
    // font-weight: $headings-font-weight;
// padding-left: ms(3);
   
    h3{
    	// @extend .headings-line-height;
    	//  font-size:$h1-font-size;
    	//  color: $headings-color;
    	//  font-family: $headings-font-family;
    	//  font-weight: $headings-font-weight;
   } 	
  p{
 	text-align: left;
  	max-width: ms(11);
  	// @extend .body-line-height;
  	// font-size: $body-3-font-size;
  	// color: $body-color;
  	// font-family: $body-font-family;
  	// font-weight: $body-font-weight;

//   	margin-left: auto;
//   	margin-right: auto;
  }
  strong{
  	font-family: $font-family-sans-serif;
  	font-size: ms(2.5);
  	letter-spacing: -.025rem;
  }
}
  
.my-expertise .skills{
	
    .menu-icon-text-wrap {
            h3 {
               @extend .subhead;
               font-size: $h4-font-size;
            }


   @include media-breakpoint-up(md) {
                max-width: ms(10.6);
                text-align: left;
}

.display-text {
               @extend .display;
                @include media-breakpoint-up(md) {
                    max-width: ms(10.6);
                    text-align: left;
                    margin-left: auto;
                    margin-right: auto;
                }
				}




}
}






