// global page/panel/article styles
.panel + .panel {
    padding-top: $rvr-10;
}

// page-template styles  (pages are vertical)
.home_page
    h1 {
        @extend .page__title;
        text-align: left;
    }

    h2 {
        @extend .headline;
    }

    h3 {
        @extend .display;
    }

    h4 {
        @extend .body;
    }

    p {
        @extend .body;
    }

.alternate{
    h1 {
        @extend .page__title;
        text-align: left;
    }
    display: flex;
    flex-direction: column;
}

// business-value panel / subpanels(panels are horizontal)
.splash {
    h1 {
        @extend .headline;
    }

    h2 {
        @extend .display;
    }

    p {
        @extend .display;
    }
}

.home-page__my-mo__container{
    text-align: left;
    .split-container{     
 h1 {
    @extend .page__title;
    }

    h2 {
        @extend .headline;
    }
    h3{@extend .display;}

    p {
        @extend .body;
    }
}
}





.home-page__my-mo__container{
    text-align: left;
    .split-container{     
 @include media-breakpoint-up(lg) {
        @include make-col-ready();
        @include make-col(7);
        padding-left: 0px;
        padding-right: 0px;
}
}
}


.home-page__whatido__container, .home-page__my-mo__container, .home-page__howidoit__container{
    @include media-breakpoint-up(md) {
  
    }
}

.home-page__whatido__container{
    @include media-breakpoint-up(md) {
    .split-container{
        margin-top: auto;
        margin-bottom: auto;
    }
    }

}


.home-page__whatido {
    text-align:left;
    h1 {
        @extend .page__title;
    }
.split-container{
    h2{ @extend .headline; }
    h3 {
        @extend .display;
        text-transform: lowercase;
    }
    h3, p{
        text-align: left;
//         max-width: ms(9.75);
        margin-left: auto;
        margin-right: auto;
    }
}
}
.home-page__howidoit {
    text-align: left;
    h1 {@extend .page__title;
        text-align: left; }
    h2{ @extend .headline; }
    h3 {
        @extend .subhead;
        }

    h4 {
        @extend .display;
    }

    h4+h4 {
        @extend .body;

    }
    @include media-breakpoint-up(lg) {
        h2{
//            font-size: ms(4.75);
//            letter-spacing: -.05rem; 
        }
        h3{
// font-size: ms(2.5);
// line-height: $rvr-1_25;
      }
        h4{
//             font-size: ms(2);
//             line-height: $rvr-1_25;
//             padding-right: ms(3);  
        }
    }
}

.howidoit__disciplines_content {
    margin-bottom: $rvr-_25;
    h5, p {
        text-align: left;

    }

    h5 {
        @extend .subhead;
text-transform: capitalize;
        font-size: ms(3);
        line-height: $rvr-1;
        margin-bottom: $rvr-_25;
    }

    p {
        @extend .display;

        font-size: ms(2.5);
        line-height: $rvr-1;
        margin-bottom: 0;
    }
    @include media-breakpoint-up(md) {
        .br{
            display: block;
        }
        h5{

        }
        p {
        }
    }
        @include media-breakpoint-up(lg) {
        .br{
            display: block;
        }
        h5{
            font-size: ms(1.25);
            line-height: $rvr-_75;
        }
        p {font-size: ms(1);
            line-height: $rvr-_75;
        }
    }
}

.home_page__myqualifications__container {
    h3{
        // font-size: $display-4-font-size;
    }
}

.myqualifications__stats {}

.myqualifications__stats_caption {
    @extend .display;

    font-size: ms(2.25);
    font-weight: 400;
    letter-spacing: .025rem;
    text-align: center;
}

.container.business-value {
  
#main > section > article.panel-fluid.business-value.modernize > div{
    justify-content: left;
}
}

.stats {
//     background: $slate-tint-200;
    // border: ms(.00005) solid $slate-tint-200;
    box-shadow: inset 0 0 0 .5px $slate-tint-200;
}



.business-value h1 {
    @extend .page__title;
}

#main > section > article.panel-fluid.business-value.modernize > div{
    justify-content: left;
}

#main > section > article:nth-child(3) > div > div > hgroup > h3{
//   font-size: ms(3.7);
  .br{
    display: none;
  }
}

.business-value p {
    // @extend .body-line-height;
    // font-size: $body-3-font-size;
    // color: $body-color;
    // font-family: $body-font-family;
    // font-weight: $body-font-weight;
    // margin-bottom: $body-margin-bottom;
}

// panel styles

// individual panel styles

// .splash{
//     h1 {

//     }

//     h2, h3 {           
//         font-size: $display-3-font-size;
//         color: $display-color;
//         font-family: $display-font-family;
//         font-weight: $display-font-weight;
//     }

//     p {                
//         font-size: $body-3-font-size;
//         color: $body-color;
//         font-family: $body-font-family;
//         font-weight: $body-font-weight;
//     }
// }

// .my-mo{
//     h1 {
//     }

//     h2 {

//     }

//     p {                
//         font-size: $body-3-font-size;
//         color: $body-color;
//         font-family: $body-font-family;
//         font-weight: $body-font-weight;
//     }
// }

// .splash{
//  @extend .container-fluid;
//  }

 
.home-page__splash {
      text-align: center;
    h1 {
        @include ms-respond(font-size, 5);
    }

    h2 {
        font-size: ms(3.85);
        letter-spacing: -.05rem;

        @include media-breakpoint-up(lg) {
            letter-spacing: 0;
        }
    }

    h3 {
        font-size: $display-3-font-size;
        font-weight: 300;
          
            .br{display: flex;}
    }

    p:first-of-type {
        font-size: ms(2.75);
        line-height: $rvr-1_5;
    }

    p:last-of-type {
        // font-size: ms(2.25);
        // font-style: italic;
        @extend .body;

        font-style: italic;
    }
        @include media-breakpoint-up(xl) {
        h1 {
            font-size: ms(5.5);
            padding-top: $rvr-2_5;
        }
        h2 {
           font-size: $h3-font-size;
        }
        h3 { 
        font-size: ms(2);
        line-height: $rvr-1_25;
        .br{display: none;
         }
        }
        // .br{
        //     display: inherit;
        // }   
        p:first-of-type {font-size: ms(2);}  
        p:last-of-type{font-size: ms(1.65);}  
    }
}


.splash.why-me__splash {
    padding-left: ms(3);
    text-align: left;

    h1 {
        // font-size: ms(5.5);
        padding-left: $ms-3;
    }

    h2 {
        // font-size: ms(3.5);
        font-family: $font-family-serif;
        padding-left: $ms-3;
        font-style: italic;
    }

    h3 {
        padding-left: $ms-3;
    }
}

.my-expertise.splash {
    padding-left: ms(3);
    text-align: left;

    h1 {
        // font-size: ms(5.5);
        padding-left: $ms-3;
    }

    h2 {
        // font-size: ms(3.5);
        // font-family: $font-family-serif;
        padding-left: $ms-3;
    }

    h3 {
        @extend .body;

        padding-left: $ms-3;
    }
}

.my-value__splash__container{
    padding-left: ms(3);
    text-align: left;

    h1 {
        padding-left: $ms-3;

        // flex: 0 0 auto;
   
    }

    h2 {
        font-family: $font-family-serif;
        padding-left: $ms-3;
        font-style: italic;
        max-width: $ms-10;

        // flex: 0 0 auto;
   
    }
}

.about-me.splash {
    padding-left: ms(3);
    text-align: left;

    h1 {
        // font-size: ms(5.5);
        // margin-top: auto;
        padding-left: $ms-3;
    }

    h2 {
        // font-size: ms(3.5);
        font-family: $font-family-serif;
        padding-left: $ms-3;
        font-style: italic;
    }

    h3 {
        padding-left: $ms-3;
    }
}

.cta__container {
    h1 { @extend .page__title;}
        h2{ @extend .headline; 
            width: 100%;}
        h3{ @extend .subhead; }
    p{@extend .display;}
        p+p{@extend .body;}
    a{font-size: $display-3-font-size;}
    
    @media (min-width: 300px) {}
    
    
    @media (min-width: 400px) {}
    
    
    @media (min-width: 576px) {}
    
    
    @media (min-width: 768px) {}
    
    
    @media (min-width: 992px) {
        max-width: 50%;
    }
    
    
    @media (min-width: 1200px) {
            max-width: 30%;
    }
    
    
    @media (min-width: 1400px) {}
    
    
    @media (min-width: 1600px) {}
    
    @media (min-width: 1900px) {}
    
    }


.home-page__whatiam__container {
    text-align: left;
    padding: $rvr-6 $ms-5;

    h2{
         // @include media-breakpoint-up(md) {max-width: ms(11.3);
         .br{
            // display: block;
         }
         letter-spacing: -.05rem;
    }

   h3 {
   
    }

    p {
        text-align: left;
        max-width: ms(11);
        @include media-breakpoint-up(md) {
            max-width: ms(11.35);
        }
    }

    strong {
        font-family: $font-family-sans-serif;
        @include ms-respond(font-size, 2);

        letter-spacing: -.025rem;
    }
}

.home-page__whatiam__container .split-container{
width: 100%;
}





.container.my-expertise.my-expertise__container__skills{
    padding-left: 0;
    padding-right: 0;
}

.my-expertise__container__skills {
    h1{
        @extend .page__title;
     
    }
    h3 {
        @extend .subhead;

        font-size: $h3-font-size;
        font-weight: 300;
        line-height: $rvr-1_5;
        margin-bottom: $rvr-_75;
        font-weight: 400;
    }
    p{
        text-align: left;
        max-width: ms(9.75);
        line-height: $rvr-1_5;
        font-family: $font-family-sans-serif;

    

    @include media-breakpoint-up(md) {
        max-width: ms(10.4);
        text-align: center;
    }
}

p+p{
    font-family: $font-family-serif;
    font-style: italic;
}

    .display-text {
        @extend .display;

        @include media-breakpoint-up(md) {
            max-width: ms(10.6);
            text-align: left;
            margin-left: auto;
            margin-right: auto;
        }
    }
}




.expertise__overlay {
    color: $tungsten;

    h1 {}

    h2 {
        @extend .headline;
    }

    p {}

    hr {
        border: thin solid $primary;
        width: 90%;
    }
}

.overlay_content {
    h3, p {}

    h3 {
        padding-right: $ms-2;
    }
}

#expt-overlay-2, #expt-overlay-3, #expt-overlay-5 {
    ul {
        list-style: none;
        text-indent: 0;
        padding-left: 0;
    }

    li {
        font-size: $ms-2_25;
    }
}







.overlay__content--icon {
    width: $ms-7;

    .cls-1, .cls-2 {
        fill: $tungsten;
    }
}

.expertise__overlay--webdev {
    margin-bottom: $rvr-3;

    .overlay__content--icon {
        fill: $tungsten;
        width: ms(8.4);
    }
}


#expt-overlay-4 {
    h3 {
        // background: $primary;
        padding: $ms-1_75;
        letter-spacing: .025rem;
        border-radius: .25rem;
//         border: thin solid $tungsten;
//         color: $tungsten;
        background: $tungsten;
        color: $slate;
        font-size: ms(3.5);
    }

    hr {
        display: none;
    }
}

.panel-fluid.why-me{
  padding-left: 0;
  padding-right: 0;

}

.panel-fluid.why-me.cta{
    background: #fff;
}

.container.splash.why-me__splash{
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.why-me__atypical {
    text-align: left;
}


.why-me__container__atypical {
   display: flex;
   flex-direction: column;
   h1 {
        @extend .page__title;
    }

    h2 {
        @extend .headline;
    }

    h3 {
        @extend .display;
        text-transform: uppercase;
        letter-spacing: .05rem;
//         font-size: $h4-font-size;
    
        line-height: $rvr-1;
    }
    h4 {
    @extend .subhead;

    font-size: ms(3);
    font-weight: 400;
    
    line-height: $rvr-1_5;
    // text-transform: uppercase;
    letter-spacing: .05rem;
}

    h5 {
        @extend .display;
   font-weight: 200;
        font-size: $display-3-font-size;
      
    }


p {
    @extend .display;
    font-size: ms(2.75);
    line-height: $rvr-2;
    // line-height: $rvr-2;
    }

@include media-breakpoint-up(md) {
    h4{
    font-weight: 500;
    }
    h5{
        font-weight: 300;
    }
p{
    font-size: ms(3.25);
    line-height: $rvr-2_25;
    font-weight: 300;
}
}
}

    .why-me__content__copy{
border: thin solid #111;
border-radius: 1rem;
padding: ms(6.5) ms(4);
h4{
    border-radius: 1rem;
    padding: $ms-2 $ms-4;
    border: ms(-3) solid #fff;
    text-transform: uppercase;
    letter-spacing: .075rem;
    color: #fff;
    }
 h4:before{
     content: '';
    position: absolute;
    top: 6px;
    left: 0;
    height: 100%;
    width: 10%;
    background: #535f6b;
    -webkit-transform: skew(0deg,6deg);
    transform: skew(0deg,6deg);
    }
p{
    color: #fff;
}
}



#why-me__content__copy--1, #why-me__content__copy--3, #why-me__content__copy--5{ 
    &, 
    & h4,
    &, 
    & h4:before{
    background: $slate-shade-300;
}
}

#why-me__content__copy--5 h4:before, #why-me__content__copy--6 h4:before{
    width: 6%;
}

#why-me__content__copy--2, #why-me__content__copy--4, #why-me__content__copy--6{ 
    &, 
    & h4,
    &, 
    & h4:before{
    background: $slate-shade-600;
}
}


// #why-me__content__copy--2, #why-me__content__copy--2 h4{
//     background: $slate-shade-600;
// }
// #why-me__content__copy--3, #why-me__content__copy--3 h4{
//     background: $slate-shade-300;
// }
// #why-me__content__copy--4, #why-me__content__copy--4 h4{
//     background: $slate-shade-600;
// }
// #why-me__content__copy--5, #why-me__content__copy--5 h4{
//     background: $slate-shade-300;
// }
// #why-me__content__copy--6, #why-me__content__copy--6 h4{
//     background: $slate-shade-600;
// }



.atypical__intro{
   p{
    @extend .body;
    font-size: $body-4-font-size;
    line-height: $rvr-2_25;
} // background: $slate-shade-100;
    // padding: $ms-6 $ms-6;
}


// .why-me__content:nth-of-type(1){ 
//     h4 {
//     margin-bottom: 0;
// }
// }




// .why-me__content:nth-of-type(2),
// .why-me__content:nth-of-type(4), 
// .why-me__content:nth-of-type(6){
//     background: $primary;
//     color: #fff;
//     padding: $ms-10 $ms-4;
//     position: relative;
// }

// .why-me__content:nth-of-type(3),
// .why-me__content:nth-of-type(5),
// .why-me__content:nth-of-type(7){
//     background: $tungsten;
//     color: #111;
//     padding: $ms-10 $ms-4;
//     margin-top: -2rem;
//     margin-bottom: -2rem;
//     position: relative;
// }


// .why-me__content:nth-of-type(2){
//     z-index: 0;
//     margin-left: $ms-2;
//     width: ms(10.65);
//     // p{
//     //     max-width: ms(9.8);
//     // }
//     margin-bottom: .25rem;
// }

// .why-me__content:nth-of-type(3){
//     margin-left: -5rem;
//     margin-top: -4rem;
//     z-index: 1;
//        width: ms(10.65);
//     // p{
//     //       max-width: ms(9.8);
//     // }
// }

// .why-me__content:nth-of-type(4){
//     margin-left: -.5rem;
//     margin-top: -5.5rem;
//     // padding: 9rem;
//     z-index: 1;
//          width: ms(10.5);
//     // p{max-width: ms(10.25);}
// }

// .why-me__content:nth-of-type(5){
//     margin-left: -5rem;
//     z-index: 2;
//         margin-top: -2rem;
//     margin-bottom: -2rem;
//        width: ms(10.55);
// }

// .why-me__content:nth-of-type(6){
//     margin-left: $ms-3;
//     z-index: 3;
//          width: ms(10.75);
// }

// // .why-me__content:nth-of-type(6){
// //     margin-left: $ms-4;
// //     margin-top: -3rem;
// //     z-index: 1;
// // }

// .why-me__content:nth-of-type(7){
//     z-index: 4;
//     margin-left: -($ms-6);
//          width: ms(10.55);
// }



// @include media-breakpoint-up(md) {
// .why-me__content:nth-of-type(2),
// .why-me__content:nth-of-type(3),
// .why-me__content:nth-of-type(4),
// .why-me__content:nth-of-type(5),
// .why-me__content:nth-of-type(6),
// .why-me__content:nth-of-type(7){
// width: ms(14);
// }
// }



.why-me__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    p{

    }
    p, h4, h5{
   
    }
}


.why-me__content__copy{
//     margin: 0 auto;
//     max-width: ms(9.8);
//     @include media-breakpoint-up(md) {
//         max-width: ms(10.5);
//     }
}

// @include media-breakpoint-up(md) {

// .why-me__content:nth-of-type(2),
// .why-me__content:nth-of-type(4), 
// .why-me__content:nth-of-type(6){ 
//     .why-me__content__copy, {
// margin-left: $ms-6;
// margin-right: auto;
// }
// }

// .why-me__content:nth-of-type(3),
// .why-me__content:nth-of-type(5),
// .why-me__content:nth-of-type(7){
// .why-me__content__copy{
//     margin-right: $ms-6;
// margin-left: auto;
// max-width: ms(10.3);
// }
// }
// }



// @include media-breakpoint-up(md) {
// .why-me__content:nth-of-type(2){width: ms(13.75); margin-left: -8rem;}
// .why-me__content:nth-of-type(3){width: ms(12.45); margin-left: -17rem;}
// .why-me__content:nth-of-type(4){width: ms(13.95); margin-left: -10rem;}
// .why-me__content:nth-of-type(5){width: ms(12.45); margin-left: -17rem;}
// .why-me__content:nth-of-type(6){width: ms(13.65); margin-left: -8rem;}
// .why-me__content:nth-of-type(7){width: ms(12.45); margin-left: -16rem;}    
// }


// .why-me__content > div.row > div:nth-child(8) {
//     margin-bottom: -2rem;
// }

// .why-me__content > div.row > div:nth-child(10) {
//     margin-top: 0;
// }


img#sponge-small {
    width: 35%;
    margin-left: 65%;
    margin-top: 15rem;
}

// .why-me__content {
//     height: 30rem;
// }

.categories, .brands{
    background: #fff;
}

.why-me__container__brands{
    @include media-breakpoint-up(md) {
        p{max-width: ms(11.25);}
}
}



.panel-fluid.alternate.why-me__categories {
    h1 {
        @extend .page__title;
    }
}

.categories__content_caption {
    opacity: 0;
}

.why-me__categories_content:hover {
    .categories__content_caption {
        opacity: 1;
    }
}

.categories__content_caption {
    color: #fff;

    h3 {
        font-family: $font-family-sans-serif;
        font-weight: 400;
        text-transform: uppercase;
        font-weight: ms(3.75);
        padding-bottom: $rvr-_5;
        letter-spacing: .025rem;
    }

    p {
        line-height: $rvr-1_75;
        padding: 0 $ms-1_5;
        font-size: ms(3);
        letter-spacing: .025rem;
        text-transform: capitalize;
        font-family: $font-family-sans-serif;
        max-width: $ms-10;
    }

@media (min-width: 992px) {
        h3 {
         
            font-size: $ms-4_5;
        }

        p {
            font-size: $ms-3_5;
        }
    }
     @media (min-width: 1900px) {
h3{
    font-size: $ms-3;
    letter-spacing: .075rem;
}
p{
     font-size: $ms-2;
     max-width: ms(8.75);
}
     }
}

